{% extends "staff/base.html" %}

{% load static %}

{% block metatitle %}Edit {{ org.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% url "staff:org-list" as staff_org_list_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Organisations" url=staff_org_list_url %}
    {% breadcrumb title=org.name url=org.get_staff_url %}
    {% breadcrumb title="Edit organisation" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% staff_hero title="Edit organisation: "|add:org.name %}
{% endblock hero %}

{% block content %}
  <form method="POST" class="flex flex-col gap-y-6 max-w-prose" enctype="multipart/form-data">
    {% csrf_token %}

    {% #card container=True container_class="flex flex-col gap-y-6" %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          {% #alert variant="danger" class="mb-6" %}
            {{ error }}
          {% /alert %}
        {% endfor %}
      {% endif %}

      {% #form_fieldset class="flex flex-col gap-y-6 items-stretch" %}
        {% form_legend text="Organisation details" class="sr-only" %}
        {% form_input field=form.name label="Organisation name" %}
        {% form_input field=form.slug label="URL slug" %}
      {% /form_fieldset %}

      {% #button variant="success" type="submit" class="self-start" %}
        Save
      {% /button %}
    {% /card %}

    {% #card container=True title="Logo" container_class="flex flex-col gap-y-4" %}
      {% if org.logo_file %}
        {% var upload_logo_legend="Upload a new logo" %}
        <div>
          <h3 class="font-semibold text-lg text-slate-900 mb-1">Current logo</h3>
          <img src="{{ org.logo_file.url }}" alt="{{ org.name }} logo" class="max-w-full w-36 h-auto p-1 bg-white border rounded-lg">
        </div>
      {% else %}
        {% var upload_logo_legend="Upload a logo" %}
      {% endif %}

      {% #form_fieldset class="flex flex-col" %}
        {% form_legend text=upload_logo_legend %}
        <div class="flex flex-col">
          <label class="sr-only" for="id_log_file">
            Upload a file
          </label>
          <input class="govuk-file-upload" type="file" id="id_log_file" name="logo_file" type="file">
        </div>
      {% /form_fieldset %}

      {% #button variant="success" type="submit" class="self-start" %}
        Upload logo
      {% /button %}
    {% /card %}
  </form>
{% endblock content %}
