{% load humanize %}
{% load querystring_tools %}

<div class="table-responsive-md" id="eventLog">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="no-wrap">Status</th>
        <th scope="col">Workspace</th>
        <th scope="col" class="no-wrap">Backend</th>
        <th scope="col">Jobs</th>
        <th scope="col">Requested actions</th>
        <th scope="col">Started at</th>
        <th scope="col">Job info</th>
      </tr>
    </thead>
    <tbody>
      {% for group in page_obj %}
      <tr>
        <td>
          <div
            class="status status-icon {{ group.status }}"
            data-placement="bottom"
            data-toggle="tooltip"
            title="{{ group.status|capfirst }}"
          >
            <span class="sr-only">{{ group.status|capfirst }}</span>
          </div>
        </td>
        <td class="dont-break-out">
          <a href="{{ group.workspace.get_absolute_url }}">
            {{ group.workspace.name }}
          </a>
        </td>
        <td class="no-wrap">
          <span class="badge badge-secondary">
            {{ group.backend|upper }}
          </span>
        </td>
        <td class="no-wrap">
          {{ group.num_completed }}/{{ group.jobs.all|length }}
        </td>
        <td class="dont-break-out small">
          {{ group.requested_actions|join:", " }}
        </td>
        <td class="no-wrap">
          <time
            class="small"
            data-placement="bottom"
            data-toggle="tooltip"
            datetime="{{ group.started_at|date:"Y-m-d H:i:sO"|default:"-" }}"
            title="{{ group.started_at|date:"Y-m-d H:i:sO"|default:"-" }}"
          >
            <span class="d-block">{{ group.started_at|date:"H:i"|default:"-" }}</span>
            <span class="d-block">{{ group.started_at|date:"d M Y"|default:"-" }}</span>
          </time>
        </td>
        <td class="no-wrap">
          {% if group.jobs.exists %}
          <button
            class="btn btn-primary btn-sm"
            type="button"
            data-toggle="show-hide-btn"
            aria-expanded="false"
            aria-controls="row-{{ group.pk }}"
          >
            <span class="expanded--hide">Show</span>
            <span class="expanded--show">Hide</span>
            jobs
          </button>
          {% endif %}
        </td>
      </tr>
      {% if group.jobs.exists %}
      <tr
        aria-hidden="true"
        class="child-table"
        hidden
        id="row-{{ group.pk }}"
      >
        <td colspan="7">
          <table class="table table-sm small">
            <caption class="sr-only">
              {{ group.workspace.name }} jobs status
            </caption>
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">ID</th>
                <th scope="col">Action</th>
                <th scope="col">Runtime</th>
                <th scope="col">Status message</th>
              </tr>
            </thead>
            <tbody>
              {% for job in group.jobs.all %}
              <tr>
                <td>
                  <div
                    class="status status-icon {{ job.status }}"
                    data-placement="bottom"
                    data-toggle="tooltip"
                    title="{{ job.status|capfirst }}"
                  >
                    <span class="sr-only">{{ job.status|capfirst }}</span>
                  </div>
                </td>
                <td>
                  <a href="{{ job.get_absolute_url }}">
                    {{ job.identifier }}
                  </a>
                </td>
                <td>
                  {{ job.action }}
                </td>
                <td>
                  {{ job.runtime }}
                </td>
                <td>
                  {{ job.status_message|default:"-" }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Event log pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
        <a
          class="page-link"
          {% if page_obj.has_previous %}
            href="{% url_with_querystring page=page_obj.previous_page_number %}"
          {% endif %}
        >
          Previous
        </a>
      </li>
      <li class="page-item px-4 align-self-center">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </li>
      <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
        <a
          class="page-link"
          {% if page_obj.has_next %}
            href="{% url_with_querystring page=page_obj.next_page_number %}"
          {% endif %}
        >
          Next
        </a>
      </li>
    </ul>
  </nav>
</div>
