{% load humanize %}
{% load runtime %}

{% include "_job_request_pagination.html" %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        {% if show_workspace %}
        <th>Workspace</th>
        {% endif %}
        <th>Backend</th>
        <th>Requested Action</th>
        <th>Started At</th>
        <th>View jobs</th>
      </tr>
    </thead>
    <tbody>
      {% for group in page_obj %}
      <tr>
        <td>
          <div class="status status-icon {{ group.status }}"></div>
          <span class="sr-only">{{ group.status }}</span>
        </td>
        {% if show_workspace %}
        <td>
          <span class="text-truncate">{{ group.workspace.name }}</span>
        </td>
        {% endif %}
        <td>
          <span class="badge badge-secondary">{{ group.backend|upper }}</span>
        </td>
        <td class="text-monospace">{{ group.num_completed }}/{{ group.jobs.all|length }}</td>
        <td>
          <span data-toggle="tooltip" data-placement="top" title="{{ group.started_at|date:"Y-m-d H:i:sO"|default:"-" }}">
            {{ group.started_at|naturaltime }}
          </span>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            data-toggle="modal"
            data-target="#jobModal"
            data-workspace-name="{{ group.workspace.name }}"
            data-workspace-content="group-{{ group.pk }}"
          >
            Show Jobs
          </button>
          {% if group.jobs.exists %}
          <div id="group-{{ group.pk }}" class="d-none">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Action</th>
                    <th>Runtime</th>
                    <th>Status Message</th>
                    <th><span class="sr-only">More</span></th>
                  </tr>
                </thead>
                <tbody>
                  {% for job in group.jobs.all %}
                  <tr>
                    <td>
                      <div class="status status-icon {{ job.status }}"></div>
                      <span class="sr-only">{{ job.status }}</span>
                    </td>
                    <td class="text-monospace small">
                      {{ job.identifier }}
                    </td>
                    <td class="text-monospace small">
                      {{ job.action }}
                    </td>
                    <td {% if job.started_at %} title="{{ job.started_at|naturaltime }}"{% endif %}>
                      {% runtime job.runtime %}
                    </td>
                    <td class="text-truncate" title="{{ job.status_message }}">
                      {{ job.status_message|default:"-" }}
                    </td>
                    <td>
                      <a class="btn btn-sm btn-outline-primary" href="{{ job.get_absolute_url }}">
                        View
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "_job_request_pagination.html" %}
</div>

<div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="jobModalBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
