{% load humanize %}
{% load runtime %}

{% include "_job_request_pagination.html" %}

<div class="job-requests">
  <div class="d-flex">
    <div class="status"></div>
    {% if show_workspace %}
    <div class="workspace"><strong>Workspace</strong></div>
    {% endif %}
    <div class="d-none d-md-block backend"></div>
    <div class="d-none d-md-block job-count"><strong>Jobs</strong></div>
    <div class="d-none d-md-block action"><strong>Requested Action</strong></div>
    <div id="started-at-header" class="started-at"><strong>Started At</strong></div>
  </div>

  {% for group in page_obj %}
  <div class="job-request">
    <div class="d-flex align-items-center py-2">
      <div class="status status-icon {{ group.status }}"></div>
      {% if show_workspace %}
      <div class="text-truncate workspace">{{ group.workspace.name }}</div>
      {% endif %}
      <div class="d-none d-md-block backend">
          <span class="badge badge-secondary">{{ group.backend|upper }}</span>
      </div>
      <div class="d-none d-md-block job-count">{{ group.num_completed }}/{{ group.jobs.all|length }}</div>
      <div class="d-none d-md-block action text-truncate" title="{{ group.requested_actions|join:"," }}">
        {{ group.requested_actions|join:"," }}
      </div>
      <div class="started-at">{{ group.started_at|date:"Y-m-d H:i:sO"|default:"-" }}</div>
      <div class="mx-2">
        <button
          class="btn btn-sm btn-primary"
          {% if not group.jobs.exists %}
          disabled
          {% endif %}
          type="button"
          data-toggle="collapse"
          data-target="#group-{{ group.pk }}"
          aria-expanded="false"
          aria-controls="group-{{ group.pk }}"
          >
          Show/Hide
          <span class="d-none d-lg-inline">Individual</span>
          <span class="d-none d-md-inline">Jobs</span>
        </button>
      </div>
    </div>

    {% if group.jobs.exists %}
    <div id="group-{{ group.pk }}" class="jobs collapse">
      <div class="grid">
        <span class="pl-3"></span>
        <span class="d-none d-lg-inline"><strong>ID</strong></span>
        <span><strong>Action</strong></span>
        <span><strong>Runtime</strong></span>
        <span class="d-none d-lg-inline"><strong>Status Message</strong></span>
        <span></span>

        {% for job in group.jobs.all %}
        <span class="pl-3 d-block"><div class="status-icon {{ job.status }}"></div></span>
        <span class="d-none d-lg-inline">
          <small>{{ job.identifier }}</small>
        </span>
        <span>{{ job.action }}</span>
        <span {% if job.started_at %} title="{{ job.started_at|naturaltime }}"{% endif %}>
          <small>{% runtime job.runtime %}</small>
        </span>
        <span class="d-none d-lg-inline text-truncate" title="{{ job.status_message }}">
          {{ job.status_message|default:"-" }}
        </span>
        <span>
          <a class="btn btn-sm btn-secondary text-white" href="{{ job.get_absolute_url }}">
            View
          </a>
        </span>
        {% endfor %}
      </div>

    </div>
    {% endif %}

  </div>
  {% endfor %}  {# end of page_obj loop #}

</div>

{% include "_job_request_pagination.html" %}
