{% load humanize %}

<li class="list-group-item">

  <section class="d-flex flex-column flex-lg-row align-items-lg-center flex-wrap">
    <h2 class="h6 mb-0">{{ r.title }}</h2>

    <div class="pt-2 pt-lg-0 ml-lg-auto">
      <a class="btn btn-sm btn-primary {% if not r.can_view_files %}disabled{% endif %}"
         href="{{ r.download_url }}">
        Download all
      </a>
      <a class="btn btn-sm btn-primary {% if not r.can_view_files %}disabled{% endif %}"
         href="{{ r.view_url }}">
        View
      </a>
      <button
        class="btn btn-sm btn-primary"
        type="button"
        {% if not r.can_view_files %}
        disabled
        {% endif %}
        data-toggle="collapse"
        data-target="#release-{{ r.id }}-files"
        aria-expanded="false"
        aria-controls="release-{{ r.id }}-files">
        List
        {% if r.can_view_files %}
          ({{ r.files | length }} file{{ r.files | length | pluralize }})
        {% endif %}
      </button>
    </div>

    {% if r.can_view_files %}
    <div class="collapse card mt-3 w-100" id="release-{{ r.id }}-files">
      <ul class="list-group list-group-flush">
        {% for file in r.files %}
        <li class="list-group-item d-flex align-items-center justify-content-between">
          <span class="d-flex align-items-baseline">
            <a href="{{ file.detail_url }}"
              {% if file.is_deleted %}
              class="btn-link disabled"
              {% endif %}
              >
              <code>{{ file.name }}</code>
            </a>

            {% if file.is_deleted %}
            <small class="ml-2 text-muted">
              (Deleted by {{ file.deleted_by.name }} at {{ file.deleted_at|date:"Y-m-d H:i:sO" }})
            </small>
            {% endif %}
          </span>

          {% if user_can_delete_files %}
          <form method="POST"
            action="{% url 'release-file-delete' org_slug=org_slug project_slug=project_slug workspace_slug=workspace_slug pk=r.id release_file_id=file.pk %}"
            >
            {% csrf_token %}

            <button
              class="btn btn-sm btn-danger"
              {% if file.is_deleted %}
              disabled
              {% endif %}
              type="submit">
              Delete
            </button>
          </form>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
</li>
