{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h3 class="mb-3">Approve Users</h3>

    <p>
      The following Users will be added to the Organisations and Backends you
      select, thus approving them to use the OpenSAFELY platform:
    </p>

    <ul class="mb-4">
      {% for user in users %}
      <li>{{ user.name }}</li>
      {% endfor %}
    </ul>

    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="row">

        <div class="col-lg-4">
          <div class="form-group">
            <h4>Backends</h4>

            {% for value, label in form.backends.field.choices %}
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="backends"
                id="id_backends{{ forloop.counter }}"
                value="{{ value }}"
                {% if form.backends.value == value %}checked{% endif %}
                />
              <label class="form-check-label" for="id_backends{{ forloop.counter }}">
                {{ label }}
              </label>
            </div>
            {% endfor %}

            {% if form.backends.errors %}
            <ul class="pl-3 mb-1">
              {% for error in form.backends.errors %}
              <li class="text-danger">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}

          </div>
        </div>

        <div class="col-lg-8">
          <div class="form-group">
            <h4>Orgnisations</h4>

            {% for value, label in form.orgs.field.choices %}
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="orgs"
                id="id_orgs{{ forloop.counter }}"
                value="{{ value }}"
                {% if form.orgs.value == value %}checked{% endif %}
                />
              <label class="form-check-label" for="id_orgs{{ forloop.counter }}">
                {{ label }}
              </label>
            </div>
            {% endfor %}

            {% if form.orgs.errors %}
            <ul class="pl-3 mb-1">
              {% for error in form.orgs.errors %}
              <li class="text-danger">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}

          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="d-flex justify-content-between">

          <a
            class="btn btn-secondary"
            href="{% url 'admin:jobserver_user_changelist' %}">
            Back to Admin
          </a>

          <button type="submit" class="btn btn-primary">Approve</button>

        </div>
      </div>

    </form>

  </div>
</div>

{% endblock content %}
