{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OpenSAFELY Jobs</title>
    <meta property="og:site_name" content="OpenSAFELY Jobs" />

    {% block extra_meta %}{% endblock %}

    {% vite_hmr_client %}
    {% vite_asset 'assets/src/scripts/main.js' %}

    {% block extra_styles %}{% endblock %}

    <link rel="icon" href="{% static 'favicon.ico' %}"><!-- 32×32 -->
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}"><!-- 180×180 -->
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% include 'partials/header.html' %}

    <div class="container-fluid flex-grow-1">

      {% for backend in backend_warnings %}
      <div class="alert alert-danger text-center mb-3" role="alert">
        Something is wrong with the {{ backend }} backend. Jobs are not being processed.
      </div>
      {% endfor %}

      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible mb-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message|safe }}
      </div>
      {% endfor %}

      {% block content %}{% endblock %}

    </div>

    {% include 'partials/footer.html' %}

    <!-- JavaScript -->
    <script src="{% static 'vendor/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% vite_asset 'vite/legacy-polyfills' scripts_attrs=scripts_attrs %}
    {% vite_asset 'assets/src/scripts/main-legacy.js' scripts_attrs=scripts_attrs %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
