{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block metatitle %}OpenSAFELY Jobs{% endblock metatitle %}</title>
    <meta property="og:site_name" content="OpenSAFELY Jobs" />

    {% block extra_meta %}{% endblock %}

    {% vite_hmr_client %}
    {% vite_asset 'assets/src/scripts/tw.js' %}

    {% block extra_styles %}{% endblock %}

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
  </head>

  <body class="flex flex-col min-h-screen text-slate">
    {% include "_components/skip-link.html" %}
    {% include '_components/header.html' %}

    {# Breadcrumbs #}
    <nav class="bg-slate-50 border-b border-slate-200 pt-2 pb-1" aria-label="Breadcrumb">
      <ol role="list" class="container xl:max-w-screen-xl flex flex-wrap gap-x-1 text-sm font-medium leading-none">
        {% block breadcrumbs %}{% endblock %}
      </ol>
    </nav>

    <main class="flex-grow mt-6">
      {% include 'partials/alerts.html' %}

      {% block jumbotron %}{% endblock %}

      <div class="container xl:max-w-screen-xl py-12" id="content">
        {% block content %}{% endblock %}
      </div>
    </main>

    {% include '_components/footer.html' %}

    {% vite_legacy_polyfills %}
    {% vite_legacy_asset 'assets/src/scripts/tw.js' %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
