{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% block extra_meta %}{% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.5.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endblock %}

    <title>OpenSAFELY Jobs</title>
  </head>

  <body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">

      <a class="navbar-brand" href="/jobs">OpenSAFELY Jobs</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          {% for location in nav %}
          <li class="nav-item{% if location.is_active %} active{% endif %}">
            <a class="nav-link" href="{{ location.url }}">
              {{ location.name }}{% if location.is_active %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="navbar-nav nav-item">
          {% if not user.is_authenticated %}
          <a class="nav-link" href="{% url "social:begin" "github" %}">Login</a>
          {% else %}
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% endif %}
        </div>

      </div>
    </nav>

    <div class="container-fluid">

      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}

      {% block content %}{% endblock %}

    </div>

    <!-- JavaScript -->
    {% block extra_js %}
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.5.2.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
