{% extends "base.html" %}

{% load django_vite %}
{% load static %}

{% block metatitle %}OpenSAFELY Jobs | Home{% endblock metatitle %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">OpenSAFELY Jobs</h1>
    <p class="lead">
      This site logs all jobs executed on production data as they happen, with a link to
      the Github repository and commit reference that uniquely identifies the exact code
      that was run.
    </p>
    <p>
      Pick a Workspace below to get started running your research on the OpenSAFELY
      platform or look at some of the existing research tasks that have been created to
      run on it.
    </p>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    {% if workspaces %}
    <div class="col-12 mb-5 workspace-select">
      <div id="workspace-list">

        <input
          class="form-control mb-3 fuzzy-search"
          type="search"
          placeholder="Filter workspaces by name"
          aria-label="Search" />

        <div class="list-group mb-3 overflow-auto list">
          {% for workspace in workspaces %}
          <a
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="{{ workspace.get_absolute_url }}">
            <span class="mr-2 name">{{ workspace.name }}</span>
            <code class="d-none d-md-block text-right font-weight-normal">
              {% spaceless %}
              <span class="repo">{{ workspace.repo.name }}</span>
              <span>|</span>
              <span class="branch">{{ workspace.branch }}</span>
              {% endspaceless %}
            </code>
          </a>
          {% endfor %}
        </div>

        {% if request.user.is_authenticated and request.user.orgs.exists %}
        <div class="text-center">
          <p><strong>OR</strong></p>

          <p>
            Pick {% if request.user.orgs.count > 1 %}an organisation then {% endif %}a project to create a workspace in
          </p>

          <div class="d-flex justify-content-center">
            <a
              {% if request.user.orgs.count > 1 %}
              href="{% url 'org-list' %}"
              {% else %}
              href="{% url 'org-detail' org_slug=request.user.orgs.first.slug %}"
              {% endif %}
              class="btn btn-lg btn-primary">
              Create a new workspace
            </a>
          </div>

        </div>
        {% endif %}

      </div>
    </div>
    {% endif %}

    <section class="col-12">
      <h2 class="h3">Latest Jobs</h2>
      <p>Below are the 5 latest requests for Jobs to be run on the OpenSAFELY platform.</p>

      <div class="table-responsive">
        <table class="table table-striped job-table">
          <thead class="thead-light">
            <tr>
              <th><span class="sr-only">Status</span></th>
              <th>Workspace</th>
              <th>Started at</th>
              <th><span class="sr-only">Action</span></th>
            </tr>
          </thead>
          <tbody>
            {% for job_request in job_requests %}
            <tr>
              <td>
                <div class="status status-icon {{ job_request.status }} mx-auto"></div>
              </td>
              <td>{{ job_request.workspace.name }}</td>
              <td>{{ job_request.started_at|date:"Y-m-d H:i:sO"|default:"-" }}</td>
              <td>
                <a class="btn btn-sm btn-primary" href="{{ job_request.get_absolute_url }}">
                  View
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary text-center" href="{% url 'job-list' %}">
          View all logs
        </a>
      </div>
    </section>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendor/list.min.js' %}"></script>
  {% vite_asset 'assets/src/scripts/index.js' %}
  {% vite_legacy_polyfills %}
  {% vite_legacy_asset 'assets/src/scripts/index-legacy.js' %}
{% endblock %}
