{% extends "base.html" %}

{% load humanize %}
{% load django_vite %}

{% block extra_meta %}
<meta property="og:title" content="{{ workspace.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Repo: {{ workspace.repo.name }} ({{ workspace.branch }})" />
{% endblock extra_meta %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.org.get_absolute_url }}">
        {{ workspace.project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.get_absolute_url }}">
        {{ workspace.project.title }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.get_absolute_url }}">
        {{ workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Run Jobs</li>

  </ol>
</nav>

{% if workspace.is_archived %}
<div class="alert alert-warning text-center mb-3" role="warning">
  This Workspace has been archived.  Logs are still available but new Jobs can
  no longer be requested.  If you think this has been done in error, please
  contact an <a href="mailto:team@opensafely.org">admin</a>.
</div>
{% endif %}

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3>{{ workspace.name }}</h3>

      <div class="d-flex">
        <a class="btn btn-primary mr-2" href="{{ workspace.get_logs_url }}">Logs</a>
      </div>
    </div>

    <p>
      This is an OpenSAFELY workspace.  It represents a working directory for the
      <a href="{{ workspace.project.get_absolute_url }}">{{ workspace.project.title }}</a>
      project on all of the secure services ("backends") supported by
      OpenSAFELY.  On each backend, the directory includes code from the
      <a href="{{ workspace.repo.url }}">repository</a>,
      and the results of running it against real data ("jobs"). Researchers can
      request jobs are run from this page.
    </p>

  </div>
</div>

{% if actions_error %}
<div class="row">
  <div class="col-lg-8 offset-lg-2 my-5">

    <p>An error occurred while trying to parse your <code>project.yaml</code>:</p>

    <pre class="text-left">{{ actions_error }}</pre>

    <p>
      To run actions for this Workspace please fix the error above and reload
      this page to continue.
    </p>

    <p>
      If the branch no longer exists you will need to set up a new workspace.
      Previous jobs in this workspace are still available via the Logs button.
    </p>

    {% if not workspace.is_archived %}
    <p>
      If you are done with this Workspace's branch you can also Archive it to
      stop it appearing on the homepage list.
    </p>
    {% endif %}

  </div>
</div>
{% endif %}

{% if actions %}
<div class="row job-create mt-3">
  <div class="col-lg-8 offset-lg-2">

    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div{% if form.backend.field.choices|length < 2 %} class="d-none"{% endif %}>
        <p>Pick a backend to run your Jobs in:</p>

        <div class="form-group">

          {% for value, label in form.backend.field.choices %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="backend"
              id="id_backend{{ forloop.counter }}"
              value="{{ value }}"
              {% if form.backend.value == value %}checked{% endif %}
              />
            <label class="form-check-label" for="id_backend{{ forloop.counter }}">
              {{ label }}
            </label>
          </div>
          {% endfor %}

          {% if form.backend.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.backend.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>

      <p>Pick one or more actions to run:</p>

      <div class="form-group mb-5">
        <div class="container px-3 py-2">
          <div class="row font-weight-bold">
            <div class="col-2 col-sm-1"></div>
            <div class="col-7 col-sm-8">Action</div>
            <div class="col-1"></div>
            <div class="col-2">Status</div>
          </div>
        </div>


        <div class="accordion mb-2" id="actions" aria-describedby="actions_help_block">
          {% for action in actions %}

          <div class="card">
            <div class="card-header px-3">
              <div class="row">
                <div class="col-2 col-sm-1">
                  <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-success">
                      <input type="checkbox" name="requested_actions" value="{{ action.name }}" /> Run
                    </label>
                  </div>
                </div>
                <div class="col-7 col-sm-8">
                  <code class="text-truncate" title="{{ action.name }}">
                    {{ action.name }}
                  </code>
                </div>
                <div class="col-1">
                  <span class="mr-3 d-flex justify-content-center">
                    <div class="status-icon unknown" title="-"></div>
                  </span>
                </div>
                <div class="col-2">
                  {% if action.needs %}
                  <button
                    class="btn btn-sm btn-secondary"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse-{{ action.name }}"
                    aria-expanded="true"
                    aria-controls="collapse-{{ action.name }}">
                    Needs
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
            <div
              id="collapse-{{ action.name }}"
              class="collapse"
              aria-labelledby="heading-{{ action.name }}"
              data-parent="#actions">
              <div class="card-body">
                <ul class="mb-0">
                  {% for need in action.needs %}
                  <li><code>{{ need }}</code></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

        <small id="actions_help_block" class="form-text text-muted">
          <p>Selecting an Action will run it, regardless of its previous state or outputs.</p>

          <p>
            Selecting "run_all" will run any Action which has yet to complete.
            Previously successful actions are skipped. A previously failed
            action will cause "run_all" to refuse to run.  You can override
            this functionality by selecting "force run dependencies" below.
          </p>
        </small>

        {% if form.requested_actions.errors %}
        <ul>
          {% for error in form.requested_actions.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            name="force_run_dependencies"
            class="custom-control-input{% if form.force_run_dependencies.errors %} is-invalid{% endif %}"
            id="id_force_run_dependencies"
            />
          <label
            for="id_force_run_dependencies"
            class="custom-control-label"
            aria-describedby="force_run_dependencies_help_block">
            Force run dependencies of your selected actions?
          </label>
        </div>

        <small id="force_run_dependencies_help_block" class="form-text text-muted">
          Selecting this will run each Action in your selected Action's
          dependency trees, regardless of their previous state or outputs.
        </small>

        {% if form.force_run_dependencies.errors %}
        <ul>
          {% for error in form.force_run_dependencies.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="mb-5">

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-baseline border-0">
            <span>
              Send notifications for the selected actions to
              <a href="{% url 'settings' %}">your email address</a>.
            </span>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-success">
                <input
                  type="radio"
                  id="id_will_notify_0"
                  name="will_notify"
                  autocomplete="off"
                  value="True"
                  {% if form.will_notify.value %}
                  checked
                  {% endif %}
                />
                On
              </label>
              <label class="btn btn-outline-success">
                <input
                  type="radio"
                  id="id_will_notify_1"
                  name="will_notify"
                  autocomplete="off"
                  value="False"
                  {% if not form.will_notify.value %}
                  checked
                  {% endif %}
                />
                Off
              </label>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
      </div>

    </form>

  </div>
</div>
{% endif %}

{% if latest_job_request and latest_job_request.jobs.exists %}
<div class="row mb-4">
  <div class="col-lg-8 offset-lg-2">

    <hr />

    <h3>Latest Job Request</h3>

    <ul class="list-unstyled">
      <li title="{{ latest_job_request.created_at|date:"Y-m-d H:i:sO" }}">
        <strong>Created:</strong> {{ latest_job_request.created_at|naturaltime }}
      </li>
      <li><strong>Total Runtime:</strong> {{ latest_job_request.runtime }}</li>
      <li><strong>Requested Actions:</strong> {{ latest_job_request.requested_actions|join:", " }}</li>
    </ul>

    <div class="latest-jobs mb-3">

      <span></span>
      <span><strong>Action</strong></span>
      <span><strong>Runtime</strong></span>
      <span class="d-none d-lg-inline"><strong>Status Message</strong></span>

      {% for job in latest_job_request.jobs.all %}
      <span class="pl-3"><div class="status-icon {{ job.status }}"></div></span>
      <span>{{ job.action }}</span>
      <span {% if job.started_at %} title="{{ job.started_at|naturaltime }}"{% endif %}>
        <small>{{ job.runtime }}</small>
      </span>
      <span class="d-none d-lg-inline text-truncate" title="{{ job.status_message }}">
        {{ job.status_message|default:"-" }}
      </span>
      {% endfor %}

    </div>

  </div>
</div>
{% endif %}

{% endblock content %}

{% block extra_js %}
  {% if request.user.is_authenticated %}
    <div id="apiUrl" class="d-none">{{ workspace.get_statuses_url }}</div>
    {% vite_asset 'assets/src/scripts/job_request_create.js' %}
    {% vite_legacy_polyfills %}
    {% vite_legacy_asset 'assets/src/scripts/job_request_create-legacy.js' %}
  {% endif %}
{% endblock %}
