{% extends "base.html" %}

{% load humanize %}
{% load querystring_tools %}
{% load selected_filter %}
{% load static %}
{% load status_tools %}

{% block content %}

<div class="d-flex justify-content-between mt-3 mb-4">

  <h2>Jobs</h2>

  {% if user.is_authenticated %}
  <div>
    <a class="btn btn-primary" href="{% url 'job-create' %}">
      Add Job
    </a>
  </div>
  {% endif %}

</div>

<div class="row">

  <div class="col-10">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">ID</th>
          <th scope="col">Workspace</th>
          <th scope="col">Action</th>
          <th scope="col">Description</th>
          <th scope="col">Started At</th>
          <th scope="col">Elpased Time</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for job in page_obj %}
        <tr>
          <td>{% status_icon job.status %}</td>
          <td>{{ job.pk }}</td>
          <td>{{ job.workspace.name }}</td>
          <td>{{ job.action_id }}</td>
          <td>{{ job.status_message|default:"-" }}</td>
          <td>{{ job.started_at|naturaltime|default_if_none:"" }}</td>
          <td>
            {% if not job.runtime %}-{% endif %}
            {% if job.runtime.hours %}{{ job.runtime.hours }} hour(s){% endif %}
            {% if job.runtime.minutes %}{{ job.runtime.minutes }} minute(s){% endif %}
            {% if job.runtime.seconds %}{{ job.runtime.seconds }} second(s){% endif %}
          </td>
          <td>
            <a class="btn btn-secondary text-white" href="{% url 'jobs-detail' pk=job.pk %}">
              View
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td class="text-center" colspan="4">
            <p class="mt-4">No jobs found, try removing some filters.</p>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <hr />

  </div>

  <div class="col-2 filters">
    <h4>Filters</h4>

    <h5>Status</h5>
    <ul class="list-group list-unstyled mb-4">
      {% for status in statuses %}
      {% is_filter_selected key="status" value=status as is_active %}
      <li class="list-group-item {% if is_active %} active{% endif %}">

        <a href="{% url_with_querystring status=status %}">{{ status }}</a>

        {% if is_active %}
        <a
          type="button"
          class="close"
          aria-label="Close"
          href="{% url_without_querystring status=status %}"
          >
          <span aria-hidden="true">&times;</span>
        </a>
        {% endif %}

      </li>
      {% endfor %}
    </ul>

    <h5>Workspaces</h5>
    <ul class="list-group list-unstyled">
      {% for workspace in workspaces %}
      {% is_filter_selected key="workspace" value=workspace.pk as is_active %}
      <li class="list-group-item list-group-item-action{% if is_active %} active{% endif %}">

        <a href="{% url_with_querystring workspace=workspace.pk %}">{{ workspace.name }}</a>

        {% if is_active %}
        <a
          type="button"
          class="close"
          aria-label="Close"
          href="{% url_without_querystring workspace=workspace.pk %}"
          >
          <span aria-hidden="true">&times;</span>
        </a>
        {% endif %}

      </li>
      {% endfor %}
    </div>

  </div>

</div>

{% endblock content %}
