{% extends "base.html" %}

{% load humanize %}
{% load runtime %}
{% load status_tools %}

{% block extra_meta %}
<meta property="og:title" content="Action: {{ job.action }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Workspace: {{ job.job_request.workspace.name }}" />
{% endblock extra_meta %}

{% block metatitle %}Job detail: {{ job.job_request.id }} - {{ job.job_request.workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job.job_request.workspace.project.org.get_absolute_url }}">
          {{ job.job_request.workspace.project.org.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job.job_request.workspace.project.get_absolute_url }}">
          {{ job.job_request.workspace.project.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job.job_request.workspace.get_absolute_url }}">
          {{ job.job_request.workspace.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job.job_request.get_absolute_url }}">
          {{ job.job_request.id }}
        </a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        {{ job.action }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1><code class="text-body">{{ job.action }}</code></h1>

    <ul class="list-unstyled lead">
      <li><strong>ID:</strong> <code>{{ job.identifier }}</code></li>
    </ul>

    <p class="lead prose-width">
      This page describes a "job", an action (<code>{{ job.action }}</code>) requested by the
      user, and run on a secure backend (<code>{{ job.job_request.backend.name }}</code>).
    </p>


    {% if user_can_cancel_jobs %}
      <form class="d-inline-block" method="POST" action="{{ jobrequest.get_cancel_url }}">
        {% csrf_token %}
      <button
          {% if job.is_completed or job.action in job.job_request.cancelled_actions %}
            aria-disabled="true"
            disabled
            tabindex="-1"
            title="Job cannot be cancelled"
          {% endif %}
          class="btn btn-block btn-danger"
          type="submit"
        >
          Cancel
        </button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <section class="card mb-3">
        <h2 class="card-header h4 mb-0">State</h2>
        <div class="list-group list-group-flush">
          <p class="list-group-item mb-0">
            <strong>Status:</strong>
            <code>{{ job.status|capfirst }}</code>
          </p>
          <div class="list-group-item">
            <strong>Status message:</strong>
            {% if job.status_message %}
              <pre class="text-wrap mb-0 mt-1">{{ job.status_message }}</pre>
            {% else %}
              -
            {% endif %}
          </div>
          {% if job.action in job.job_request.cancelled_actions %}
            <p class="list-group-item list-group-item-danger mb-0">
              A User has requested this Job is cancelled.
            </p>
          {% endif %}

          {% status_hint job %}
        </div>
      </section>

      <section class="card">
        <h2 class="card-header h4 mb-0">Config</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Branch:</strong>
            <ul class="list-unstyled">
              <li><code>{{ job.job_request.backend }}</code></li>
            </ul>
          </li>
          <li class="list-group-item">
            <strong>Workspace:</strong>
            <ul class="list-unstyled">
              <li>
                <a href="{{ job.job_request.workspace.get_absolute_url }}">
                  {{ job.job_request.workspace.name }}
                </a>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <strong>Branch:</strong>
            <ul class="list-unstyled">
              <li><code>{{ job.job_request.workspace.branch }}</code></li>
            </ul>
          </li>
          {% if job.job_request_id %}
            <li class="list-group-item">
              <strong>Request:</strong>
              <ul class="list-unstyled">
                <li>
                  <a href="{{ job.job_request.get_absolute_url }}">
                    {{ job.job_request_id }} by {{ job.job_request.created_by.username }}
                  </a>
                </li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </section>
    </div>
    <div class="col-lg-6">
      <section class="card">
        <div class="card-header">
          <h2 class="card-title">Timings</h2>
          <p class="card-subtitle">
            The timestamps below are generated and stored using the
            <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a>
            timezone on the secure backend which created this job,
            <code>{{ job.job_request.backend.name }}</code>.
          </p>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <strong>Created:</strong>
            <time datetime="{{ job.created_at|date:"Y-m-d H:i:sO" }}" title="{{ job.created_at|date:"Y-m-d H:i:sO" }}">
              {{ job.created_at|naturaltime }}
            </time>
            <p class="text-muted mb-0 mt-1">When the job was created by the secure backend.</p>
          </div>

          <div class="list-group-item">
            <strong>Acknowledged:</strong>
            <time datetime="{{ job.started_at|date:"Y-m-d H:i:sO"|default_if_none:"" }}" title="{{ job.started_at|date:"Y-m-d H:i:sO"|default_if_none:"" }}">
              {{ job.started_at|naturaltime|default_if_none:"-" }}
            </time>
            <p class="text-muted mb-0 mt-1">
              When the job moved to the pending or running state on the secure backend.
            </p>
          </div>

          <div class="list-group-item">
            <strong>Finished:</strong>
            <time datetime="{{ job.completed_at|date:"Y-m-d H:i:sO"|default_if_none:"" }}" title="{{ job.completed_at|date:"Y-m-d H:i:sO"|default_if_none:"" }}">
              {{ job.completed_at|naturaltime|default_if_none:"-"}}
            </time>
            <p class="text-muted mb-0 mt-1">
              When the job finished running on the secure backend.
            </p>
          </div>

          <div class="list-group-item">
            <strong>Duration:</strong>
            <span>{% runtime job.runtime %}</span>
            <p class="text-muted mb-0 mt-1">
              How long the job ran for on the secure backend, this includes time
              spent copying files, and waiting to be checked by the backend.
            </p>
          </div>

          <div class="list-group-item">
            <strong>Last Updated by Backend:</strong>
            <time datetime="{{ job.updated_at|date:"Y-m-d H:i:sO"|default_if_none:"" }}" title="{{ job.updated_at|date:"Y-m-d H:i:sO"|default_if_none:"" }}">
              {{ job.updated_at|naturaltime|default_if_none:"-" }}
            </time>
            <p class="text-muted mb-0 mt-1">
              How long ago did the secure backend update the website about this
              job.
            </p>
          </div>

          {% if job.is_missing_updates %}
            <div class="list-group-item list-group-item-warning">
              <p class="mb-0">
                This Job has not been updated for over 30 minutes, some of the data
                on this page could be stale.
              </p>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock content %}
