{% extends "base-tw.html" %}

{% load humanize %}
{% load status_tools %}

{% block extra_meta %}
<meta property="og:title" content="Action: {{ job.action }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Workspace: {{ job.job_request.workspace.name }}" />
{% endblock extra_meta %}

{% block metatitle %}Job request: {{ job.action }} - {{ job.job_request.id }} - {{ job.job_request.workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url 'home' as home_url %}
  {% breadcrumb title="Home" url=home_url %}
  {% breadcrumb location="Organisation" truncate=True title=job.job_request.workspace.project.org.name url=job.job_request.workspace.project.org.get_absolute_url %}
  {% breadcrumb location="Project" truncate=True title=job.job_request.workspace.project.title url=job.job_request.workspace.project.get_absolute_url %}
  {% breadcrumb location="Workspace" truncate=True title=job.job_request.workspace.name url=job.job_request.workspace.get_absolute_url %}
  {% breadcrumb location="Job request" title=job.job_request.id url=job.job_request.get_absolute_url %}
  {% breadcrumb location="Action" title=job.action active=True %}
{% endblock breadcrumbs %}

{% block content %}
<div class="md:flex md:items-center md:justify-between md:space-x-5">
  <h1 class="text-3xl break-all md:bread-words md:text-4xl font-bold text-slate-900">
    {{ job.action }}
  </h1>
  <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
    {% if user_can_cancel_jobs %}
      <form class="d-inline-block" method="POST" action="{{ job.get_cancel_url }}">
        {% csrf_token %}
          {% if job.is_completed or job.action in job.job_request.cancelled_actions %}
            {% #button type="submit" disabled=True tooltip="This job can no longer be cancelled" %}
              Cancel this job
            {% /button %}
          {% else %}
            {% #button type="submit" variant="danger" %}
              Cancel this job
            {% /button %}
          {% endif %}
      </form>
    {% endif %}
  </div>
</div>

{% if job.is_missing_updates %}
  {% alert variant="warning" title="Attention needed" text="This Job has not been updated for over 30 minutes, some of the data on this page could be stale." %}
{% endif %}

<div class="mt-8 grid grid-cols-1 gap-6 lg:grid-flow-col-dense lg:grid-cols-3">
  <section aria-labelledby="timeline-title" class="lg:col-start-1 lg:col-span-1">
    <div class="bg-white shadow sm:rounded-lg overflow-hidden">
      <h2 id="timeline-title" class="text-lg font-semibold text-slate-900 px-4 py-2 sm:px-6 sm:py-3">
        Timeline
      </h2>
      <ul class="flow-root px-4 py-2 sm:px-6 sm:py-5 border-t border-slate-200 -mb-8">
        {% #timeline_item background="blue" title="Created by the secure backend:" job_time=job.created_at %}
          {% icon_pencil_outline class="h-5 w-5" %}
        {% /timeline_item %}
        {% #timeline_item background="purple" title="Moved to the pending or running state on the secure backend:" job_time=job.started_at %}
          {% icon_folder_open_outline class="h-5 w-5" %}
        {% /timeline_item %}
        {% #timeline_item background="green" title="Finished running on the secure backend:" job_time=job.completed_at %}
          {% icon_check_outline class="h-5 w-5" %}
        {% /timeline_item %}
        {% #timeline_item background="yellow" title="Time spent running on the secure backend:" content=job.runtime %}
          {% icon_clock_outline class="h-5 w-5" %}
        {% /timeline_item %}
        {% #timeline_item background="pink" title="Last update by secure backend:" job_time=job.updated_at last=True %}
          {% icon_status_online_outline class="h-5 w-5" %}
        {% /timeline_item %}
      </ul>

      <p class="bg-slate-50 text-sm font-medium text-slate-600 px-4 py-2 sm:px-6 sm:py-4">
        These timestamps are generated and stored using the UTC timezone on the {{ job.job_request.backend|upper }} secure backend.
      </p>
    </div>
  </section>

  <div class="space-y-6 md:space-y-6 lg:col-start-2 lg:col-span-2">
    <section aria-labelledby="job-information-title" class="bg-white shadow sm:rounded-lg">
      <h2 id="job-information-title" class="text-lg font-semibold text-slate-900 px-4 py-2 sm:px-6 sm:py-3">
        Job information
      </h2>
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 px-4 py-2 sm:px-6 sm:py-5 border-t border-slate-200">
        <div class="sm:col-span-1">
          {% #description_item title="Job identifier" %}{{ job.identifier }}{% /description_item %}
        </div>
        <div class="sm:col-span-1">
          {% #description_item title="Job request" %}{{ job.job_request_id }}{% /description_item %}
        </div>
        <div class="sm:col-span-1">
          {% #description_item title="Requested by" %}{{ job.job_request.created_by.username }}{% /description_item %}
        </div>
        <div class="sm:col-span-1">
          {% #description_item title="Branch" %}{{ job.job_request.workspace.branch }}{% /description_item %}
        </div>
        <div class="sm:col-span-1">
          {% #description_item title="Backend" %}{{ job.job_request.backend }}{% /description_item %}
        </div>
        <div class="sm:col-span-2">
          {% #description_item title="Status" %}{{ job.status|capfirst }}{% /description_item %}
        </div>
        <div class="sm:col-span-2">
          {% #description_item title="Status message" %}
            {% if job.status_message %}
              {{ job.status_message }}
            {% else %}
              -
            {% endif %}
            {% if job.action in job.job_request.cancelled_actions %}
              <p>A User has requested this Job is cancelled.</p>
            {% endif %}
            {% status_hint job %}
          {% /description_item %}
        </div>
      </dl>
    </section>

    {% if honeycomb_can_view_links %}
    <section aria-labelledby="monitoring-title" class="bg-white shadow sm:rounded-lg overflow-hidden">
      <div class="px-4 py-2 sm:px-6 sm:py-3">
        <h2 id="monitoring-title" class="text-lg font-semibold text-slate-900">
          Monitoring
        </h2>
        <p class="text-slate-600 text-sm">Honeycomb login required</p>
      </div>
      <ul class="flow-root px-4 py-2 sm:px-6 sm:py-5 border-t border-slate-200 list-disc text-sm">
        <li class="ml-4">
          {% link href=honeycomb_link text="All monitoring events for this job" %}
        </li>
      </ul>
    </section>
    {% endif %}
  </div>
</div>
{% endblock content %}
