{% extends "base.html" %}

{% load humanize %}
{% load querystring_tools %}
{% load runtime %}
{% load selected_filter %}
{% load static %}

{% block content %}

<div class="job-list">

  <h2>All Jobs</h2>

  <div class="row">

    <div class="col-lg-10">

      <form class="form d-flex align-items-center mb-4" method="GET">
        <input
          class="form-control mr-2"
          type="search"
          placeholder="Search by Job action or ID"
          aria-label="Search"
          name="q" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      {% if request.user.is_superuser %}
      <div class="mb-4">

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <form class="form d-flex align-items-center mb-1" method="POST">
          {% csrf_token %}
          <input
            class="form-control mr-2"
            type="search"
            placeholder="Look up JobRequest by Identifier"
            aria-label="Go"
            name="identifier" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>

        </form>

        {% for error in form.identifier.errors %}
        <p class="text-danger" style="margin-left:.75rem">{{ error }}</p>
        {% endfor %}

      </div>
      {% endif %}

      {% if not page_obj %}
      <div class="text-center">
        <p>No results found.</p>
        <a href="{% url 'job-list' %}">Clear all filters?</a>
      </div>
      {% else %}

      {% include "_job_requests.html" with show_workspace=True %}

      {% endif %}
    </div>

    <div class="col-lg-2 filters">
      <h4>Filters</h4>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'job-list' %}">Clear All</a>
      </div>
      {% endif %}

      <h5>Status</h5>
      <ul class="list-group list-unstyled mb-4">
        {% for status in statuses %}
        {% is_filter_selected key="status" value=status as is_active %}
        <li class="list-group-item d-flex {% if is_active %} active{% endif %}">

          <a class="text-truncate flex-grow-1" href="{% url_with_querystring status=status %}">
            {{ status }}
          </a>

          {% if is_active %}
          <a
            type="button"
            class="close"
            aria-label="Close"
            href="{% url_without_querystring status=status %}"
            >
            <span aria-hidden="true">&times;</span>
          </a>
          {% endif %}

        </li>
        {% endfor %}
      </ul>

      {% if users %}
      <h5>User</h5>
      <ul class="list-group list-unstyled mb-4 users">
        {% for username, name in users.items %}
        {% is_filter_selected key="username" value=username as is_active %}
        <li class="list-group-item d-flex{% if is_active %} active{% endif %}">

          <a class="text-truncate flex-grow-1" href="{% url_with_querystring username=username %}">
            {{ name }}
          </a>

          {% if is_active %}
          <a
            type="button"
            class="close"
            aria-label="Close"
            href="{% url_without_querystring username=username %}"
            >
            <span aria-hidden="true">&times;</span>
          </a>
          {% endif %}

        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if workspaces %}
      <h5>Workspaces</h5>
      <ul class="list-group list-unstyled">
        {% for workspace in workspaces %}
        {% is_filter_selected key="workspace" value=workspace.pk as is_active %}
        <li class="list-group-item d-flex{% if is_active %} active{% endif %}">

          <a class="text-truncate flex-grow-1" href="{% url_with_querystring workspace=workspace.pk %}">
            {{ workspace.name }}
          </a>

          {% if is_active %}
          <a
            type="button"
            class="close"
            aria-label="Close"
            href="{% url_without_querystring workspace=workspace.pk %}"
            >
            <span aria-hidden="true">&times;</span>
          </a>
          {% endif %}

        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>

  </div>

</div>
{% endblock content %}
