{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% block extra_meta %}
<meta property="og:title" content="{{ job_request.requested_actions|length }} Action{{ job_request.requested_actions|pluralize }} Requested" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Workspace: {{ job_request.workspace.name }}" />
{% endblock extra_meta %}

{% block metatitle %}Job request: {{ job_request.pk }} - {{ job_request.workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'highlighting.css' %}">
{% endblock extra_styles %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job_request.workspace.project.org.get_absolute_url }}">
          {{ job_request.workspace.project.org.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job_request.workspace.project.get_absolute_url }}">
          {{ job_request.workspace.project.title }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ job_request.workspace.get_absolute_url }}">
          {{ job_request.workspace.name }}
        </a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        Job request: {{ job_request.id }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Job request: {{ job_request.pk }}</h1>

    <ul class="list-unstyled lead">
      <li><strong>ID:</strong> <code>{{ job_request.identifier }}</code></li>
      <li>
        <strong>Workspace:</strong>
        <a href="{{ job_request.workspace.get_absolute_url }}">
          {{ job_request.workspace.name }}
        </a>
      </li>
    </ul>

    <a class="btn btn-primary" href="{{ job_request.get_repo_url }}">
      View Repo
    </a>

    <a class="btn btn-secondary" href="{{ project_yaml_url }}">
      View project.yaml
    </a>

    {% if user_can_cancel_jobs %}
      <form class="d-inline-block" method="POST" action="{{ job_request.get_cancel_url }}">
        {% csrf_token %}
        <button
          {% if job_request.is_completed %}
            aria-disabled="true"
            disabled
            tabindex="-1"
            title="Job request cannot be cancelled"
          {% endif %}
          class="btn btn-danger"
          type="submit"
        >
          Cancel
        </button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <p>
        This page shows the technical details of what happened when authorised researcher {{ job_request.created_by.name }} requested one or
        more actions to be run against real patient data in the
        <a href="{{ job_request.workspace.project.get_absolute_url }}">{{ job_request.workspace.project.title }} project</a>, within a secure environment.
      </p>

      <p>
        By cross-referencing the indicated Requested Actions with the Pipeline section below, you can infer what
        <a href="https://docs.opensafely.org/security-levels/">security level</a> various outputs were written to. Outputs
        marked as <code>highly_sensitive</code> can never be viewed directly by a
        researcher; they can only request that code runs against them. Outputs marked as <code>moderately_sensitive</code> can be
        viewed by an approved researcher by logging into a highly secure environment. Only outputs marked as
        <code>moderately_sensitive</code> can be requested for release to the public, via a controlled output review service.
      </p>

      {% if not job_request.is_invalid %}
        <section class="pt-3">
          <h2 class="h3">Jobs</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th>ID</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for job in job_request.jobs.all %}
                <tr>
                  <td>
                    <a class="btn btn-link p-0 text-monospace font-weight-bold" href="{{ job.get_absolute_url }}">
                      {{ job.identifier }}
                    </a>
                  </td>
                  <td>{{ job.status }}</td>
                  <td>{{ job.action }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      {% endif %}

      {% if project_definition %}
        <section class="pt-3">
          <h2 class="h3">Pipeline</h2>
          <details class="card overflow-hidden">
            <summary class="btn btn-link card-header font-weight-bold">
              <span class="summary--show">Show</span>
              <span class="summary--hide">Hide</span>
              project.yaml
            </summary>
            {{ project_definition }}
          </details>
        </section>
      {% endif %}

    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="h5">State</h2>
          <p class="card-subtitle mb-0">State is inferred from the related Jobs.</p>
        </div>
        <div class="card-body">
          <p class="mb-0"><strong>Status:</strong> {{ job_request.status|capfirst }}</p>
          {% if job_request.is_invalid %}
            <pre class="text-wrap mb-0 mt-3">{{ job_request.jobs.first.status_message }}</pre>
          {% endif %}
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="h5">Timings</h2>
          <p class="card-subtitle mb-0">Timings set to UTC timezone.</p>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li>
              <strong>Created:</strong>
              <time title="{{ job_request.created_at|date:"Y-m-d H:i:sO" }}">
                {{ job_request.created_at|naturaltime }}
              </time>
            </li>

            <li>
              <strong>Started:</strong>
              <time title="{{ job_request.started_at|default_if_none:"" }}">
                {{ job_request.started_at|naturaltime|default_if_none:"-" }}
              </time>
            </li>

            <li>
              <strong>Finished:</strong>
              <time title="{{ job_request.completed_at|default_if_none:"" }}">
                {{ job_request.completed_at|naturaltime|default_if_none:"-"}}
              </time>
            </li>

            <li>
              <strong>Runtime:</strong>
              <span>{{ job_request.runtime }}</span>
            </li>
          </ul>
        </div>
      </div>
      {% if honeycomb_can_view_links %}
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="h5">Monitoring</h2>
          <p class="card-subtitle small mb-0">Honeycomb login required</p>
        </div>
        <div class="card-body">
          <h3 class="h6">Events count for:</h3>
          <ul class="pl-3 mb-0">
            <li>
              <a href="https://ui.honeycomb.io/bennett-institute-for-applied-data-science/environments/production/datasets/job-server?query=%7B%22start_time%22%3A{{ honeycomb_context_starttime|date:'U'|default_if_none:'1646312416' }}%2C%22end_time%22%3A{{ honeycomb_context_endtime|date:'U' }}%2C%22granularity%22%3A0%2C%22breakdowns%22%3A%5B%22status%22%5D%2C%22calculations%22%3A%5B%7B%22op%22%3A%22COUNT%22%7D%5D%2C%22filters%22%3A%5B%7B%22column%22%3A%22name%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22update_job%22%7D,%7B%22column%22%3A%22job_request_identifier%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22{{ job_request.identifier }}%22%7D%5D%2C%22filter_combination%22%3A%22AND%22%2C%22orders%22%3A%5B%7B%22op%22%3A%22COUNT%22%2C%22order%22%3A%22descending%22%7D%5D%2C%22havings%22%3A%5B%5D%2C%22limit%22%3A100%7D">
                This job request
              </a>
            </li>
            <li>
              <a href="https://ui.honeycomb.io/bennett-institute-for-applied-data-science/environments/production/datasets/job-server?query=%7B%22start_time%22%3A1658222043%2C%22end_time%22%3A1659015327%2C%22granularity%22%3A0%2C%22breakdowns%22%3A%5B%22action%22%2C%22status%22%2C%22job_identifier%22%5D%2C%22calculations%22%3A%5B%7B%22op%22%3A%22COUNT%22%7D%5D%2C%22filters%22%3A%5B%7B%22column%22%3A%22name%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22update_job%22%7D%2C%7B%22column%22%3A%22job_request_identifier%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22xglmbwz5iy6ojuzo%22%7D%5D%2C%22filter_combination%22%3A%22AND%22%2C%22orders%22%3A%5B%7B%22column%22%3A%22job_identifier%22%2C%22order%22%3A%22ascending%22%7D%5D%2C%22havings%22%3A%5B%5D%2C%22limit%22%3A100%7D">
                This job request, grouped by job
              </a>
            </li>
            <li>
              <a href="https://ui.honeycomb.io/bennett-institute-for-applied-data-science/environments/production/datasets/job-server?query=%7B%22start_time%22%3A{{ honeycomb_context_starttime|date:'U'|default_if_none:'1646312416' }}%2C%22end_time%22%3A{{ honeycomb_context_endtime|date:'U' }}%2C%22granularity%22%3A0%2C%22breakdowns%22%3A%5B%22status%22,%22action%22,%22job_identifier%22%5D%2C%22calculations%22%3A%5B%7B%22op%22%3A%22COUNT%22%7D%5D%2C%22filters%22%3A%5B%7B%22column%22%3A%22name%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22update_job%22%7D,%7B%22column%22%3A%22status%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22running%22%7D,%7B%22column%22%3A%22job_request_identifier%22%2C%22op%22%3A%22%3D%22%2C%22value%22%3A%22{{ job_request.identifier }}%22%7D%5D%2C%22filter_combination%22%3A%22AND%22%2C%22orders%22%3A%5B%7B%22op%22%3A%22COUNT%22%2C%22order%22%3A%22descending%22%7D%5D%2C%22havings%22%3A%5B%5D%2C%22limit%22%3A100%7D">
                Running jobs from this job request
              </a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="card mb-3">
        <h2 class="card-header h5">Config</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <dl class="mb-0">
              <dt>Backend:</dt>
              <dd class="d-inline-flex mb-0 align-items-center">
                <code>{{ job_request.backend|upper }}</code>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt>Workspace:</dt>
              <dd class=" mb-0">
                <a href="{{ job_request.workspace.get_absolute_url }}">
                  {{ job_request.workspace.name }}
                </a>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt>Branch:</dt>
              <dd class=" mb-0"><code>{{ job_request.workspace.branch }}</code></dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt>Creator:</dt>
              <dd class=" mb-0">{{ job_request.created_by.username }}</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt>Force run dependencies:</dt>
              <dd class=" mb-0">
                {{ job_request.force_run_dependencies }}
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt>Git Commit Hash:</dt>
              <dd class=" mb-0">
                <a href="{{ job_request.get_repo_url }}">
                  {{ job_request.sha|slice:7|default:"-" }}
                </a>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <strong class="d-block">Requested actions:</strong>
            <ul class="list-unstyled">
              {% for action in job_request.requested_actions %}
                <li><code>{{ action }}</code></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
