{% extends "base.html" %}

{% block content %}

<div class="row">

  <div class="col-10">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Workspace</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for job in page_obj %}
        <tr>
          <td>{{ job.pk }}</td>
          <td>{{ job.status }}</td>
          <td>{{ job.workspace.name }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <hr />

  </div>

  <div class="col-2">
    <h4>Filters</h4>

  </div>

</div>

{% endblock content %}
