{% extends "base.html" %}

{% load humanize %}
{% load selected_filter %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vendor/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block metatitle %}Event log | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Event log
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div class="job-list container-fluid">

  <h2>All Jobs</h2>

  <div class="row">
    <div class="col">

      <form class="form d-flex align-items-center mb-4" method="GET">
        <input
          class="form-control mr-2"
          type="search"
          placeholder="Search by Job action or ID"
          aria-label="Search"
          name="q" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      {% if is_core_dev %}
      <div class="mb-4">

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <form class="form d-flex align-items-center mb-1" method="POST">
          {% csrf_token %}
          <input
            class="form-control mr-2"
            type="search"
            placeholder="Look up JobRequest by Identifier"
            aria-label="Go"
            name="identifier" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>

        </form>

        {% for error in form.identifier.errors %}
        <p class="text-danger ml-3 mt-2 mb-0">Error: {{ error }}</p>
        {% endfor %}

      </div>
      {% endif %}

      <hr />

      <form method="GET" class="form-inline justify-content-between">
        <select id="filter_backend" class="mr-2" name="backend">
          <option value="">------</option>
          {% for backend in backends %}
          {% is_filter_selected key="backend" value=backend.pk as is_active %}
          <option value="{{ backend.pk }}"{% if is_active %} selected="selected"{% endif %}>
            {{ backend.name }}
          </option>
          {% endfor %}
        </select>

        <select id="filter_status" class="mr-2" name="status">
          <option value="">------</option>
          {% for status in statuses %}
          {% is_filter_selected key="status" value=status as is_active %}
          <option value="{{ status }}"{% if is_active %} selected="selected"{% endif %}>
            {{ status }}
          </option>
          {% endfor %}
        </select>

        <select id="filter_user" class="mr-2" name="username">
          <option value="">------</option>
          {% for username, name in users.items %}
          {% is_filter_selected key="username" value=username as is_active %}
          <option value="{{ username }}"{% if is_active %}selected="selected"{% endif %}>
            {{ name }}
          </option>
          {% endfor %}
        </select>

        <select id="filter_workspace" class="mr-2" name="workspace">
          <option value="">------</option>
          {% for workspace in workspaces %}
          {% is_filter_selected key="workspace" value=workspace.pk as is_active %}
          <option value="{{ workspace.pk }}"{% if is_active %} selected="selected"{% endif %}>
            {{ workspace.name }}
          </option>
          {% endfor %}
        </select>

        <button type="submit" class="btn btn-sm btn-primary">Filter</button>
      </form>

      {% if request.GET or not page_obj %}
      <div class="mt-4 mb-2 d-flex justify-content-center">
        <a href="{% url 'job-list' %}">Clear all filters</a>
      </div>
      {% endif %}

      <hr />

      {% if not page_obj %}
      <div class="text-center">
        <p>No results found.</p>
      </div>
      {% else %}

      {% include "_job_requests.html" with show_workspace=True %}

      {% endif %}
    </div>

  </div>

</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/select2.min.js' %}"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {
    $('#filter_backend').select2({
      placeholder: "Backend",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
    });
    $('#filter_status').select2({
      placeholder: "Status",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
    });
    $('#filter_user').select2({
      placeholder: "User",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
    });
    $('#filter_workspace').select2({
      placeholder: "Workspace",
      selectionCssClass: ":all: mr-2",
      theme: "bootstrap4",
    });
  });
</script>
{% endblock %}
