{% extends "base.html" %}

{% load humanize %}
{% load runtime %}

{% block extra_meta %}
<meta property="og:title" content="Requested Actions: {{ jobrequest.requested_actions|join:"," }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Workspace: {{ jobrequest.workspace.name }}" />
{% endblock extra_meta %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ jobrequest.workspace.get_absolute_url }}">
        {{ jobrequest.workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">
      Request {{ job.job_request.id }}
    </li>

  </ol>
</nav>

<div class="row mb-3">
  <div class="col-md-9 col-lg-6 offset-lg-2">

    <h2 class="mb-4">
      Job Request: {{ jobrequest.pk }}
      <code><small class="text-muted">{{ jobrequest.identifier }}</small></code>
    </h2>

    <div class="mb-4">
      <h3>State</h3>
      <small>State is inferred from the related Jobs</small>

      <div>
        <strong>Status:</strong>
        <code>{{ jobrequest.status }}</code>
      </div>
    </div>

    <div class="mb-4">
      <h3>Config</h3>

      <div>
        <strong>Backend:</strong>
        <code>{{ jobrequest.backend }}</code>
      </div>

      <div>
        <strong>Workspace:</strong>
        <a href="{{ jobrequest.workspace.get_absolute_url }}">
          {{ jobrequest.workspace.name }}
        </a>
        <small class="text-muted">({{ jobrequest.workspace.branch }})</small>
      </div>

      <div>
        <strong>Creator:</strong>
        {{ jobrequest.created_by.username }}
      </div>

      <div>
        <strong>Force run dependencies?:</strong>
        {{ jobrequest.force_run_dependencies }}
      </div>

      <div>
        <strong>SHA:</strong>
        <a href="{{ jobrequest.workspace.get_sha_url }}">
          {{ jobrequest.sha|slice:7|default:"-" }}
        </a>
      </div>

      <div>
        <strong>Requested Actions:</strong>
        <ul>
          {% for action in jobrequest.requested_actions %}
          <li><code>{{ action }}</code></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="mb-4">
      <h3>Timings</h3>

      <div>
        <strong>Created:</strong>
        <span title="{{ jobrequest.created_at|date:"Y-m-d H:i:s" }}">
          {{ jobrequest.created_at|naturaltime }}
        </span>
      </div>

      <div>
        <strong>Started:</strong>
        <span title="{{ jobrequest.started_at|default_if_none:"" }}">
          {{ jobrequest.started_at|naturaltime|default_if_none:"-" }}
        </span>
      </div>

      <div>
        <strong>Finished:</strong>
        <span title="{{ jobrequest.completed_at|default_if_none:"" }}">
          {{ jobrequest.completed_at|naturaltime|default_if_none:"-"}}
        </span>
      </div>

      <div>
        <strong>Runtime:</strong>
        <span>{% runtime jobrequest.runtime %}</span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-lg-2">

    <h3 class="text-center">Tools</h3>

    <div class="mb-2">
      <a class="btn btn-block btn-secondary" href="{{ jobrequest.get_repo_url }}">
        View Repo
      </a>
    </div>

    <div class="mb-2">
      <a class="btn btn-block btn-secondary" href="{{ jobrequest.get_project_yaml_url }}">
        View project.yaml
      </a>
    </div>

    {% if request.user.is_superuser %}
    <div class="mb-2">
      <form method="POST" action="{% url 'job-request-zombify' pk=jobrequest.pk %}">
        {% csrf_token %}

        <button class="btn btn-block btn-danger" type="submit">Zombify</button>
      </form>
    </div>
    {% endif %}

  </div>

</div>

<div class="row mb-3">
  <div class="col-md-9 col-lg-8 offset-lg-2">

    <h4>Jobs</h4>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobrequest.jobs.all %}
        <tr>
          <td>{{ job.identifier }}</td>
          <td>{{ job.status }}</td>
          <td>{{ job.action }}</td>
          <td><a class="btn btn-sm btn-secondary" href="{{ job.get_absolute_url }}">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock content %}

  </div>
</div>
