{% extends "base.html" %}

{% load static %}

{% block content %}

{% if not actions %}
<div class="my-5 text-center">
  <p>
    It looks like the branch <code>{{ branch }}</code> doesn't have a <code>project.yaml</code>.
  </p>
  <p>Create one and reload this page to continue.</p>
</div>
{% else %}
<div class="row job-create">
  <div class="col-8 offset-2">

    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="form-group">

        {% if form.backend.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.backend.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            name="force_run"
            class="custom-control-input{% if form.force_run.errors %} is-invalid{% endif %}"
            id="id_force_run"
            />
          <label for="id_force_run" class="custom-control-label">
            Force run?
          </label>
        </div>

        {% if form.force_run.errors %}
        <ul>
          {% for error in form.force_run.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            name="force_run_dependencies"
            class="custom-control-input{% if form.force_run_dependencies.errors %} is-invalid{% endif %}"
            id="id_force_run_dependencies"
            />
          <label for="id_force_run_dependencies" class="custom-control-label">
            Force run dependencies?
          </label>
        </div>

        {% if form.force_run_dependencies.errors %}
        <ul>
          {% for error in form.force_run_dependencies.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_callback_url">Callback URL</label>
        <input
          type="text"
          name="callback_url"
          class="form-control{% if form.callback_url.errors %} is-invalid{% endif %}"
          id="id_callback_url"
          />

        {% if form.callback_url.errors %}
        <ul>
          {% for error in form.callback_url.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <p>Pick one or more actions to run:</p>

      <div class="form-group mb-5">

        <div class="d-flex">
          <span style="width:68px"></span>
          <strong class="flex-grow-1">Action</strong>
          <strong style="width:110px">Status</strong>
          <span style="width:60px"></span>
        </div>

        <div class="accordion" id="actions">
          {% for action in actions %}
          <div class="card">

            <div
              id="heading-{{ action.name }}"
              class="card-header d-flex align-items-center"
              style="padding:.5rem"
              >

              <div class="btn-group-toggle mr-3" data-toggle="buttons">
                <label class="btn btn-sm btn-outline-success">
                  <input type="checkbox" name="requested_actions" value="{{ action.name }}" /> Run
                </label>
              </div>

              <code class="flex-grow-1 mr-3 text-truncate" title="{{ action.name }}">{{ action.name }}</code>
              <span class="mr-3" style="width:85px">{{ action.status }}</span>

              <div style="width:60px">
                {% if action.needs %}
                <button
                  class="btn btn-sm btn-secondary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse-{{ action.name }}"
                  aria-expanded="true"
                  aria-controls="collapse-{{ action.name }}">
                  Needs
                </button>
                {% endif %}
              </div>

            </div>

            <div
              id="collapse-{{ action.name }}"
              class="collapse"
              aria-labelledby="heading-{{ action.name }}"
              data-parent="#actions">
              <div class="card-body">
                <ul>
                  {% for need in action.needs %}
                  <li><code>{{ need }}</code></li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

        {% if form.requested_actions.errors %}
        <ul>
          {% for error in form.requested_actions.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group">
        <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
      </div>

    </form>

  </div>
</div>
{% endif %}
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/job_request_create.js' %}"></script>
{% endblock %}
