{% extends "base.html" %}

{% load humanize %}
{% load runtime %}
{% load status_tools %}

{% block extra_meta %}
<meta property="og:title" content="Action: {{ job.action }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Workspace: {{ job.job_request.workspace.name }}" />
{% endblock extra_meta %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ job.job_request.workspace.get_absolute_url }}">
        {{ job.job_request.workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ job.job_request.get_absolute_url }}">
        Request {{ job.job_request.id }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">{{ job.action }}</li>

  </ol>
</nav>

<div class="row">

  <div class="col-md-9 col-lg-6 offset-lg-2">

    <h2><code>{{ job.action }}</code></h2>
    <p class="small text-muted">
      ID: {{ job.identifier }}
    </p>

    <div class="mb-4">
      <h3>State</h3>

      <div>
        <strong>Status:</strong>
        <code>{{ job.status }}</code>
      </div>

      <div>
        <strong>Status Message:</strong>
        {% if job.status_message %}
        <pre class="text-wrap">{{ job.status_message }}</pre>
        {% else %}-{% endif %}

        {% status_hint job %}
      </div>

    </div>

    <div class="mb-4">
      <h3>Config</h3>

      <div>
        <strong>Backend:</strong>
        <code>{{ job.job_request.backend }}</code>
      </div>

      <div>
        <strong>Workspace:</strong>
        <a href="{{ job.job_request.workspace.get_absolute_url }}">
          {{ job.job_request.workspace.name }}
        </a>
        <small class="text-muted">({{ job.job_request.workspace.branch }})</small>
      </div>

      {% if job.job_request_id %}
      <div>
        <strong>Request:</strong>
        <a href="{{ job.job_request.get_absolute_url }}">
          {{ job.job_request_id }} by {{ job.job_request.created_by.username }}
        </a>
      </div>
      {% endif %}

    </div>

    <div class="mb-4">
      <h3>Timings</h3>

      <div>
        <strong>Created:</strong>
        <span title="{{ job.created_at|date:"Y-m-d H:i:s" }}">
          {{ job.created_at|naturaltime }}
        </span>
      </div>

      <div>
        <strong>Started:</strong>
        <span title="{{ job.started_at|date:"Y-m-d H:i:s"|default_if_none:"" }}">
          {{ job.started_at|naturaltime|default_if_none:"-" }}
        </span>
      </div>

      <div>
        <strong>Finished:</strong>
        <span title="{{ job.completed_at|date:"Y-m-d H:i:s"|default_if_none:"" }}">
          {{ job.completed_at|naturaltime|default_if_none:"-"}}
        </span>
      </div>

      <div>
        <strong>Runtime:</strong> <span>{% runtime job.runtime %}</span>
      </div>

      <div>
        <strong>Last Updated by Runner:</strong>
        <span title="{{ job.updated_at|date:"Y-m-d H:i:s"|default_if_none:"" }}">
          {{ job.updated_at|naturaltime|default_if_none:"-" }}
        </span>

        {% if job.is_missing_updates %}
        <div>
          ⚠️
          <small class="text-muted">
            This Job has not been updated for over 30 minutes, some of the data
            on this page could be stale.
          </small>
        </div>
        {% endif %}
      </div>
    </div>

  </div>

  <div class="col-md-3 col-lg-2">

    {% if request.user.is_superuser %}
    <h3 class="text-center">Tools</h3>

    <form class="mb-3" method="POST" action="{{ job.get_cancel_url }}">
      {% csrf_token %}

      <button class="btn btn-block btn-danger" type="submit">Cancel</button>
    </form>

    <form class="mb-3" method="POST" action="{{ job.get_zombify_url }}">
      {% csrf_token %}

      <button class="btn btn-block btn-danger" type="submit">Zombify</button>
    </form>
    {% endif %}

  </div>

</div>
{% endblock content %}
