{% extends "base.html" %}

{% block metatitle %}Login | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Login
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <h1 class="pt-4 pt-md-0">Login</h1>
    <p class="lead">OpenSAFELY Jobs uses your GitHub account to confirm your identity.</p>
    <p>If you do not have a GitHub account, then you will need to create one before signing in.</p>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <form method="POST" action="{% url "auth-login" "github" %}">
        <input type="hidden" name="next" value="{{ next_url }}" />
        <button type="submit" class="btn btn-primary btn-block">Sign in with GitHub</button>
        <p class="text-center my-2">or</p>
        <button type="submit" class="btn btn-outline-secondary btn-block">Create a GitHub account</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
