{% extends "base.html" %}

{% block metatitle %}{{ org.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ org.name }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      {% if org.logo %}
        <img
          class="mr-md-5 rounded"
          height="200"
          src="{{ org.logo }}"
          width="200"
        />
      {% endif %}
      <div>
        <h1 class="pt-4 pt-md-0">{{ org.name }}</h1>
        <p class="lead">
          {% if org.description %}
            {{ org.description }}
          {% else %}
            This is an organisation which uses OpenSAFELY to deliver research
            projects. Every project it has started is listed below.
          {% endif %}
        </p>
        {% if is_member %}
          <a class="btn btn-primary" href="{% url 'project-create' org_slug=org.slug %}">
            Create a project
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  {% if projects %}
    <div class="row">
      <div class="col-12">
        <h3>Projects</h3>
        <p>These are individual OpenSAFELY projects that have been started by {{ org.name }}.</p>
      </div>
      <div class="col col-lg-9 col-xl-8">
        <div class="list-group list-unstyled">
          {% for project in projects %}
            <a href="{{ project.get_absolute_url }}" class="list-group-item list-group-item-action">
              {{ project.title }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <p class="lead">
      {% if is_member %}
        There are no projects for this organisation yet, click "Register Project" to create one.
      {% else %}
        There are no projects for this organisation yet.
      {% endif %}
    </p>
  {% endif %}
</div>
{% endblock %}
