{% load django_vite %}

<div
  data-auth-token="{{ auth_token }}"
  data-base-path="{{ base_path }}"
  data-csrf-token="{{ csrf_token }}"
  data-files-url="{{ files_url }}"
  data-prepare-url="{{ prepare_url }}"
  data-publish-url="{{ publish_url }}"
  id="outputsSPA">
</div>

{% block extra_js %}
  {% vite_asset 'assets/src/scripts/outputs-viewer/index.jsx' %}

  {% vite_asset 'vite/legacy-polyfills' scripts_attrs=scripts_attrs %}
  {% vite_asset 'assets/src/scripts/outputs-viewer/index-legacy.jsx' scripts_attrs=scripts_attrs %}
{% endblock %}
