{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ project.org.get_absolute_url }}">
        {{ project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ project.get_absolute_url }}">
        {{ project.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Releases</li>

  </ol>
</nav>

<div>
</div>
{% endblock %}
