{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ project.org.get_absolute_url }}">
        {{ project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ project.get_absolute_url }}">
        {{ project.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Settings</li>

  </ol>
</nav>

<div class="row mb-4">
  <div class="col-lg-8 offset-lg-2">

    <h3>Members</h3>

    {% if members %}
    <ul class="list-unstyled">
      {% for member in members %}
      <li class="mb-3">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <strong>{{ member.user.name }}</strong>

            {% if can_manage_members %}
            <form
              method="POST"
              action="{% url 'project-remove-member' org_slug=project.org.slug project_slug=project.slug %}">
              {% csrf_token %}

              <input type="hidden" name="username" value="{{ member.user.username }}" />

              <button class="btn btn-block btn-sm btn-danger" type="submit">Remove</button>
            </form>
            {% endif %}
          </div>

          <p>Roles:</p>
          <ul>
            {% for role in member.roles %}
            <li>{{ role }}</li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="mt-5">
      There are no members for this organisation yet, you can invite some
      below.
    </p>
    {% endif %}

  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h3>Invitations</h3>

    {% if invitations %}
    <h4>Pending</h4>
    <ul class="list-unstyled">
      {% for invite in invitations %}
      <li class="mb-3">
        <strong>{{ invite.user.name }}</strong>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="mt-5">There are no pending invitations for this project.</p>
    {% endif %}

  </div>
</div>

{% endblock %}
