{% extends "base.html" %}

{% load humanize %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ project.org.get_absolute_url }}">
        {{ project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ project.get_absolute_url }}">
        {{ project.title }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Releases</li>

  </ol>
</nav>


<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h4>Releases for the {{ project.title }} project</h4>

    <p>
      Below are all released files for the {{ project.title }} project across
      all of its workspaces.
    </p>

    {% for release in releases %}
    {% include "_release_list.html" with org_slug=project.org.slug project_slug=project.slug workspace_slug=release.workspace.name r=release %}
    {% endfor %}

  </div>

</div>
{% endblock %}
