
{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ project.org.get_absolute_url }}">
        {{ project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>

  </ol>
</nav>

<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <div class="d-flex justify-content-between align-items-center">
      <h2>{{ project.name }}</h2>

      {% if can_manage_members %}
      <a class="btn btn-sm btn-primary" href="{% url 'project-settings' org_slug=project.org.slug project_slug=project.slug %}">
        Settings
      </a>
      {% endif %}
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <h3>Workspaces</h3>

      {% if can_manage_workspaces %}
      <a class="btn btn-sm btn-primary" href="{% url 'workspace-create' org_slug=project.org.slug project_slug=project.slug %}">
        Create a Workspace
      </a>
      {% endif %}
    </div>

    <ul class="list-unstyled">
      {% for workspace in workspaces %}
      <li class="d-flex justify-content-between align-items-center mb-3">

        <div>
          <a href="{% url 'workspace-detail' org_slug=project.org.slug project_slug=project.slug workspace_slug=workspace.name %}">
            {{ workspace.name }}
          </a>
        </div>

      </li>
      {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}
