{% extends "base.html" %}

{% load django_vite %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ org.get_absolute_url }}">
        {{ org.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Register Project</li>

  </ol>
</nav>

<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h2>Project Registration</h2>

    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <h3>Project Details</h3>

      <div class="mb-5">

        <div class="form-group row">
          <label for="id_name" class="col-sm-2 col-form-label"><strong>Name</strong></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="id_name" name="name" />
          </div>

          {% if form.name.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.name.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>

      <h3>Contact Details</h3>

      <div class="mb-5">

        <div class="form-group row">
          <label for="id_project_lead" class="col-sm-2 col-form-label"><strong>Your Name</strong></label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id_project_lead"
              name="project_lead"
              {% if form.project_lead.value %}
              value="{{ form.project_lead.value }}"
              {% else %}
              value="{{ request.user.get_full_name }}"
              {% endif %}
              />
          </div>

          {% if form.project_lead.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.project_lead.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

        <div class="form-group row">
          <label for="id_email" class="col-sm-2 col-form-label"><strong>Email Address</strong></label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id_email"
              name="email"
              {% if form.email.value %}
              value="{{ form.email.value }}"
              {% else %}
              value="{{ request.user.email }}"
              {% endif %}
              />
          </div>

          {% if form.email.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.email.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

        <div class="form-group row">
          <label for="id_telephone" class="col-sm-2 col-form-label">Telephone No.</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id_telephone"
              name="telephone"
              {% if form.telephone.value %}
              value="{{ form.telephone.value }}"
              {% endif %}
              />
          </div>

          {% if form.telephone.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.telephone.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

        <div class="form-group row">
          <label for="id_job_title" class="col-sm-2 col-form-label">Job Title</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id_job_title"
              name="job_title"
              {% if form.job_title.value %}
              value="{{ form.job_title.value }}"
              {% endif %}
              />
          </div>

          {% if form.job_title.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.job_title.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

        <div class="form-group row">
          <label for="id_team_name" class="col-sm-2 col-form-label">Team Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id_team_name"
              name="team_name"
              {% if form.team_name.value %}
              value="{{ form.team_name.value }}"
              {% endif %}
              />
          </div>

          {% if form.team_name.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.team_name.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

        <div class="form-group row">
          <label for="id_region" class="col-sm-2 col-form-label">Region</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id_region"
              name="region"
              aria-describedby="region_help"
              {% if form.region.value %}
              value="{{ form.region.value }}"
              {% endif %}
              />
            <small id="region_help" class="form-text text-muted">For NHE E&I Users</small>
          </div>

          {% if form.region.errors %}
          <ul class="pl-3 mb-1">
            {% for error in form.region.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

      </div>

      <h3>Reason for the request and approvals</h3>

      <div class="form-group mb-5">
        <label for="id_purpose" class="form-label mb-0">
          Please describe the purpose for which you are requesting access to
          the data and your organisation/team’s role in relation to the
          COVID-19 response
        </label>
        <textarea
          class="form-control"
          id="id_purpose"
          name="purpose"
          rows="3"
          aria-describedby="purpose_help"
          >{% if form.purpose.value %}{{ form.purpose.value }}{% endif %}</textarea>
        <small id="purpose_help" class="form-text text-muted">
          For OpenSAFELY, please also describe briefly the aims, potential
          methods and the expected outputs (for example, peer-reviewed paper,
          policy white paper, blog, etc). See OpenSAFELY
          <a href="https://www.england.nhs.uk/contact-us/privacy-notice/how-we-use-your-information/covid-19-response/coronavirus-covid-19-research-platform/">
            Purposes of processing
          </a>.
        </small>

        {% if form.purpose.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.purpose.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_requested_data_meets_purpose" class="form-label mb-0">
          Please state how the data you have requested meets your purpose
        </label>
        <textarea
          class="form-control"
          id="id_requested_data_meets_purpose"
          name="requested_data_meets_purpose"
          rows="3"
          >{% if form.requested_data_meets_purpose.value %}{{ form.requested_data_meets_purpose.value }}{% endif %}</textarea>

        {% if form.requested_data_meets_purpose.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.requested_data_meets_purpose.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_why_data_is_required" class="form-label mb-0">
          If you have requested record level data, please state why this is required
        </label>
        <textarea
          class="form-control"
          id="id_why_data_is_required"
          name="why_data_is_required"
          rows="3"
          >{% if form.why_data_is_required.value %}{{ form.why_data_is_required.value }}{% endif %}</textarea>

        {% if form.why_data_is_required.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.why_data_is_required.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_data_access_legal_basis" class="form-label mb-0">
          If you have requested record level data please state the legal basis
          for accessing the data under data protection law
        </label>
        <textarea
          class="form-control"
          id="id_data_access_legal_basis"
          rows="3"
          name="data_access_legal_basis"
          aria-describedby="data_access_legal_basis_help"
          >{% if form.data_access_legal_basis_help.value %}{{ form.data_access_legal_basis_help.value }}{% endif %}</textarea>
        <small id="data_access_legal_basis_help" class="form-text text-muted">
          For OpenSAFELY, researchers accessing the platform will usually need
          to sign an honorary contract with NHS England; the OpenSAFELY legal
          basis is already described
          <a href="https://www.england.nhs.uk/contact-us/privacy-notice/how-we-use-your-information/covid-19-response/coronavirus-covid-19-research-platform/#">
            here.
          </a>
        </small>

        {% if form.data_access_legal_basis.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.data_access_legal_basis.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_satisfying_confidentiality" class="form-label mb-0">
          If you have requested access to record level data, please state how
          you are satisfying or setting aside the common law duty of
          confidentiality
        </label>
        <textarea
          class="form-control"
          id="id_satisfying_confidentiality"
          name="satisfying_confidentiality"
          rows="3"
          aria-describedby="satisfying_confidentiality_help"
          >{% if form.satisfying_confidentiality_help.value %}{{ form.satisfying_confidentiality_help.value }}{% endif %}</textarea>
        <small id="satisfying_confidentiality_help" class="form-text text-muted">
          For OpenSAFELY, this has already been addressed by the
          <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-notification-of-data-controllers-to-share-information">
            Covid-19 COPI regulation 3 notice</a>,
          which sets aside the duty of confidentiality.
        </small>

        {% if form.satisfying_confidentiality.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.satisfying_confidentiality.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_ethics_approval" class="form-label mb-0">
          If you are conducting research and are requesting access to record
          level data, please confirm ethics approval
        </label>
        <textarea
          class="form-control"
          id="id_ethics_approval"
          name="ethics_approval"
          rows="3"
          aria-describedby="ethics_approval_help"
          >{% if form.ethics_approval.value %}{{ form.ethics_approval.value }}{% endif %}</textarea>
        <small id="ethics_approval_help" class="form-text text-muted">
          Further information is on the HRA website <a href="https://www.hra.nhs.uk/covid-19-research/">here</a>.
          You may find
          <a href="http://www.hra-decisiontools.org.uk/research/docs/DefiningResearchTable_Oct2017-1.pdf">
          this table from the HRA that defines research
          </a>
          helpful.
          When ethical approval is needed, please provide the ethics approval
          reference number.
        </small>

        {% if form.ethics_approval.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.ethics_approval.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_is_research_on_cmo_priority_list" class="form-label mb-0">
          If you are conducting research and are requesting access to record
          level data, is your research on the
          <a href="https://www.nihr.ac.uk/covid-studies/">CMO priority list</a>?
        </label>
        <textarea
          class="form-control"
          id="id_is_research_on_cmo_priority_list"
          name="is_research_on_cmo_priority_list"
          rows="3"
          >{% if form.is_research_on_cmo_priority_list.value %}{{ form.is_research_on_cmo_priority_list.value }}{% endif %}</textarea>

        {% if form.is_research_on_cmo_priority_list.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.is_research_on_cmo_priority_list.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <h3>for OpenSAFELY requests only</h3>

      <div class="form-group mb-5">
        <label for="id_funding_source" class="form-label mb-0">
          Please provide details of how your research project is funded
        </label>
        <textarea
          class="form-control"
          id="id_funding_source"
          name="funding_source"
          rows="3"
          aria-describedby="funding_source_help"
          >{% if form.funding_source.value %}{{ form.funding_source.value }}{% endif %}</textarea>
        <small id="funding_source_help" class="form-text text-muted">
          OpenSAFELY does not have the resources to cover other costs
          associated with your proposed research project, or to design and
          write your analysis for you.
        </small>

        {% if form.funding_source.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.funding_source.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_team_details" class="form-label mb-0">
          Please provide details of the team involved in the proposed research.
        </label>
        <textarea
          class="form-control"
          id="id_team_details"
          name="team_details"
          rows="3"
          aria-describedby="team_details_help"
          >{% if form.team_details.value %}{{ form.team_details.value }}{% endif %}</textarea>
        <small id="team_details_help" class="form-text text-muted">
          OpenSAFELY will need to be able to assess the impact of onboarding
          your team on our own capacity.
        </small>

        {% if form.team_details.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.team_details.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_data_access_legal_basis" class="form-label mb-0">
          If you have requested record level data please state the legal basis
          for accessing the data under data protection law
        </label>
        <textarea
          class="form-control"
          id="exdata_access_legal_basis"
          rows="3"
          name="data_access_legal_basis"
          >{% if form.data_access_legal_basis.value %}{{ form.data_access_legal_basis.value }}{% endif %}</textarea>
        <small id="region_help" class="form-text text-muted">
          For OpenSAFELY, researchers accessing the platform will usually need
          to sign an honorary contract with NHS England; the OpenSAFELY legal
          basis is already described
          <a href="https://www.england.nhs.uk/contact-us/privacy-notice/how-we-use-your-information/covid-19-response/coronavirus-covid-19-research-platform/#">
            here.
          </a>
        </small>

        {% if form.data_access_legal_basis.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.data_access_legal_basis.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_previous_experience_with_ehr" class="form-label mb-0">
          Please describe your previous experience of working with primary care
          electronic health record data (e.g. CPRD).
        </label>
        <textarea
          class="form-control"
          id="id_previous_experience_with_ehr"
          name="previous_experience_with_ehr"
          rows="3"
          aria-describedby="previous_experience_with_ehr_help"
          >{% if form.previous_experience_with_ehr.value %}{{ form.previous_experience_with_ehr.value }}{% endif %}</textarea>
        <small id="previous_experience_with_ehr_help" class="form-text text-muted">
          For this application round we are focused on finding research groups
          already familiar with analysing EHR data. We plan to extend these
          limits in the future.
        </small>

        {% if form.previous_experience_with_ehr.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.previous_experience_with_ehr.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_evidence_of_scripting_languages" class="form-label mb-0">
          Please provide evidence of you/your research group experience of
          using a script-based coding language
        </label>
        <textarea
          class="form-control"
          id="id_evidence_of_scripting_languages"
          name="evidence_of_scripting_languages"
          rows="3"
          aria-describedby="evidence_of_scripting_languages_help"
          >{% if form.evidence_of_scripting_languages.value %}{{ form.evidence_of_scripting_languages.value }}{% endif %}</textarea>
        <small id="evidence_of_scripting_languages_help" class="form-text text-muted">
          To use OpenSAFELY you need Git, GitHub, Python, and Docker. The
          analysis can use Stata, R, or Python. It is not essential that you
          have experience of using all of these elements.
        </small>

        {% if form.evidence_of_scripting_languages.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.evidence_of_scripting_languages.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <label for="id_evidence_of_sharing_in_public" class="form-label mb-0">
          Please provide evidence of you/your research group sharing and
          documenting analytic code in the public domain
        </label>
        <textarea
          class="form-control"
          id="id_evidence_of_sharing_in_public"
          name="evidence_of_sharing_in_public"
          rows="3"
          aria-describedby="evidence_of_sharing_in_public_help"
          >{% if form.evidence_of_sharing_in_public.value %}{{ form.evidence_of_sharing_in_public.value }}{% endif %}</textarea>
        <small id="evidence_of_sharing_in_public_help" class="form-text text-muted">
          The OpenSAFELY philosophy is that all code used to build the platform
          and to conduct analytics is shared openly for independent scientific
          review and efficient re-use.
        </small>

        {% if form.evidence_of_sharing_in_public.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.evidence_of_sharing_in_public.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div id="researcher-forms">
        <div class="d-flex justify-content-between">
          <h3>Researchers</h3>

          <button id="add-researcher" type="button" class="btn btn-success">+</button>
        </div>

        <p>
          How many people need access to the platform to review preliminary
          results prior to release for publication?
        </p>

        <p>
          Platform access will require individuals to successfully complete a
          safe researcher training course e.g. via
          <a href="https://researchaccreditationservice.ons.gov.uk/ons/ONS_registration.ofml">
            ONS</a>.
        </p>

        {{ researcher_formset.management_form }}

        <div class="d-none template">
          {% include "_researcher_registration_form.html" with id="__prefix__" form=researcher_formset.empty_form %}
        </div>

        {% for form in researcher_formset %}
        {% include "_researcher_registration_form.html" with id=forloop.counter0 form=form %}
        {% endfor %}
      </div>

      <h3>Declaration</h3>

      <div class="form-group mb-5">
        <p>
          I confirm that the information in this application form is true and
          complete. I confirm that I will adhere to all applicable Information
          Governance rules and guidelines and adhere to Data Protection Act 2018
          requirements. I also confirm that my mandatory IG training is completed
          and up to date.
        </p>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="id_has_signed_declaration"
            name="has_signed_declaration"
            {% if form.has_signed_declaration.value %}
            checked
            {% endif %}
            />
          <label class="form-check-label" for="id_has_signed_declaration">
            I agree to the above declaration
          </label>
        </div>

        {% if form.has_signed_declaration.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.has_signed_declaration.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>

    </form>

  </div>
</div>
{% endblock content %}

{% block extra_js %}
{% vite_asset 'assets/src/scripts/project_create.js' %}
{% vite_asset 'assets/src/scripts/project_create-legacy.js' scripts_attrs=scripts_attrs %}
{% endblock %}
