{% extends "base.html" %}

{% load humanize %}
{% load roles %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ project.org.get_absolute_url }}">
        {{ project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ project.get_absolute_url }}">
        {{ project.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Settings</li>

  </ol>
</nav>

<div class="row mb-5">
  <div class="col-lg-8 offset-lg-2">

    <h2>Settings</h2>

    <div class="mb-5">
      <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="d-flex justify-content-between align-items-center">
          <div class="form-group flex-grow-1 mb-0 mr-3">
            <input
              type="text"
              class="form-control"
              name="name"
              id="id_name"
              value="{{ project.name }}"
              aria-describedby="name_help"
            />
            {% for error in form.name.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="form-group mb-0">
            <button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
          </div>
        </div>

      </form>
    </div>

    <div class="mb-5">
      <h3>Members</h3>

      {% if members %}
      <ul class="list-unstyled">
        {% for member in members %}
        <li class="mb-3 p-2 border rounded d-flex justify-content-between align-items-center">
          <div>
            <strong class="mr-3">{{ member.user.name }}</strong>

            {% for role in member.roles %}
            <span class="badge badge-secondary">{{ role.display_name }}</span>
            {% endfor %}

          </div>

          {% if can_manage_members %}
          <div>
            <a class="btn btn-sm btn-primary" href="{{ member.get_edit_url }}">
              Edit
            </a>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="mt-5">
        There are no members for this organisation yet, you can invite some
        below.
      </p>
      {% endif %}

    </div>

    <div class="mb-3">

      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Invitations</h3>

        <a class="btn btn-sm btn-primary" href="{{ project.get_invitation_url }}">Invite Users</a>
      </div>

      {% if invitations %}
      <h4>Pending</h4>
      <ul class="list-unstyled">
        {% for invite in invitations %}
        <li class="mb-3 p-2 border rounded d-flex justify-content-between align-items-center">

          <div>
            <span class="mr-3">
              {{ invite.user.username }}
              <small class="text-muted">({{ invite.user.name }})</small>
            </span>

            {% for role in invite.roles %}
            <span class="badge badge-secondary">{{ role.display_name }}</span>
            {% endfor %}

          </div>

          {% if can_manage_members %}
          <form method="POST" action="{{ invite.get_cancel_url }}">
            {% csrf_token %}

            <input type="hidden" name="invite_pk" value="{{ invite.pk }}" />

            <button class="btn btn-block btn-sm btn-danger" type="submit">Delete</button>
          </form>
          {% endif %}

        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="mb-5">There are no pending invitations for this project.</p>
      {% endif %}

    </div>

  </div>
</div>

{% endblock %}
