{% extends "base-tw.html" %}

{% load humanize %}

{% block metatitle %}Edit {{ project.title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=project.org.name url=project.org.get_absolute_url location="Organisation" %}
    {% breadcrumb title=project.name url=project.get_absolute_url location="Project" %}
    {% breadcrumb title="Edit" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
  <div class="row">
   <div class="mb-3 mb-lg-0 col-lg-8">
     <form class="mb-3" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label class="font-weight-bold" for="id_status">Status</label>

          <select id="id_status" name="status" class="form-control">
            {% for value, label in form.fields.status.choices %}
            <option
              value="{{ value }}"
              {% if form.status.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
            >
              {{ label }}
            </option>
            {% endfor %}
          </select>

          {% for error in form.status.errors %}
          <p class="text-danger">{{ error }}</p>
          {% endfor %}
        </div>

        {% include "components/form_textarea.html" with field=form.status_description label="Status description" name="status_description" %}

        <button class="btn btn-primary" type="submit">
          Save
        </button>
      </form>
    </div>

  </div>
</div>
{% endblock %}
