{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ release.workspace.project.org.get_absolute_url }}">
        {{ release.workspace.project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ release.workspace.project.get_absolute_url }}">
        {{ release.workspace.project.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ release.workspace.get_absolute_url }}">
        {{ release.workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ release.workspace.get_releases_url }}">
        Releases
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">{{ release.id }}</li>

  </ol>
</nav>

<div class="card border-warning mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>Released outputs from {{ release.workspace.name }}</h3>

    <a class="btn btn-sm btn-primary" href="{{ release.get_download_url }}">
      Download
    </a>
  </div>
  <div class="card-body">
    <p class="card-text">
      Released by {{ release.created_by.name }} on
      {{ release.created_at|date:"D M Y" }} at {{ release.created_at|date:"H:i" }}
    </p>
  </div>
</div>

{% include "outputs-spa.html" %}

{% endblock %}
