{% extends "base.html" %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        {{ request.user.username }}
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Settings
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <h1 class="display-4">Settings</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xl-8">

      <form method="POST">
        {% csrf_token %}

        {% include "components/form_text.html" with field=form.notifications_email label="Notification email" name="notifications_email" %}

        <button class="btn btn-primary" type="submit">Save</button>

      </form>

    </div>
  </div>
</div>
{% endblock %}
