{% extends "base.html" %}

{% block metatitle %}Status | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Status
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <h1 class="display-4">Status</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    {% for backend in backends|dictsort:"name.lower" %}
      <div class="col-lg-6">
        <div class="card mb-5">
          <h2 class="card-header h3">{{ backend.name }}</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Runner last seen:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">
                  <time datetime="{{ backend.last_seen }}">{{ backend.last_seen }}</time>
                </dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Unacked Jobs:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">{{ backend.queue.unacked }}</dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Acked Jobs:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">{{ backend.queue.acked }}</dd>
              </dl>
            </li>
          </ul>
          {% if backend.show_warning %}
            <div class="card-footer text-danger font-weight-bold">
              {{ backend.name }} runner not seen for at least 5 mins
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
