{% extends "base.html" %}

{% load duration_tools %}
{% load humanize %}

{% block metatitle %}Status | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Status
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <h1 class="display-4">Status</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    {% for backend in backends %}
      <div class="col-lg-6">
        <div class="card mb-5">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="h3">{{ backend.name }}</h2>
            {% if backend.show_warning %}
            <span class="badge badge-danger">missing</span>
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Runner last seen:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">
                  <span
                    {% if backend.show_warning %}class="text-danger"{% endif %}
                    title="{{ backend.last_seen|date:"c" }}"
                  >
                    {{ backend.last_seen }}
                  </span>
                </dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Threshold for missing:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">
                  <span>{{ backend.alert_timeout|duration }}</span>
                </dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Unacked Jobs:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">{{ backend.queue.unacked }}</dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Acked Jobs:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">{{ backend.queue.acked }}</dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Running:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">{{ backend.queue.running }}</dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl class="mb-0">
                <dt class="d-inline-block">Pending:</dt>
                <dd class="d-inline-block mb-0 text-capitalize">{{ backend.queue.pending }}</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
