{% extends "base.html" %}

{% block metatitle %}Logs: {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.org.get_absolute_url }}">
        {{ workspace.project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.get_absolute_url }}">
        {{ workspace.project.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.get_absolute_url }}">
        {{ workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Logs</li>

  </ol>
</nav>

{% if workspace.is_archived %}
<div class="alert alert-warning text-center mb-3" role="warning">
  This Workspace has been archived.  Logs are still available but new Jobs can
  no longer be requested.  If you think this has been done in error, please
  contact an admin.
</div>
{% endif %}

<div class="job-list">
  <h2>{{ workspace.name }}</h2>

  <p class="mb-4">
    Below are the logs for each job run in the
    <a href="{{ workspace.get_absolute_url }}">{{ workspace.name }}</a>
    workspace of the project
    <a href="{{ workspace.project.get_absolute_url }}">{{ workspace.project.name }}</a>.
    They are grouped
    based on the actions which were requested.
  </p>

  <form class="form d-flex align-items-center mb-4" method="GET">
    <input
      class="form-control mr-2"
      type="search"
      placeholder="Search by Job action or ID"
      aria-label="Search"
      name="q" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>


  {% if not page_obj %}
  <div class="text-center">
    <p>
      No results found, try checking the <a href={% url 'job-list' %}>Event Log</a>.
    <p>
  </div>
  {% else %}

    {% include "_job_requests.html" %}

  {% endif %}

</div>
{% endblock content %}
