{% extends "base.html" %}

{% load humanize %}
{% load runtime %}
{% load static %}

{% block extra_meta %}
<meta property="og:title" content="{{ workspace.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Repo: {{ workspace.repo_name }} ({{ workspace.branch }})" />
{% endblock extra_meta %}

{% block content %}

{% if workspace.is_archived %}
<div class="alert alert-warning text-center mb-3" role="warning">
  This Workspace has been archived.  Logs are still available but new Jobs can
  no longer be requested.  If you think this has been done in error, please
  contact an admin.
</div>
{% endif %}

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="d-flex justify-content-between align-items-center">
      <h3>{{ workspace.name }}</h3>

      <div class="d-flex">
        <a class="btn btn-primary mr-2" href="{% url 'workspace-logs' name=workspace.name %}">
          Logs
        </a>
        {% if show_details %}
        <a
          class="btn btn-primary"
          data-toggle="collapse"
          href="#details"
          role="button"
          aria-expanded="false"
          aria-controls="details">
          Details
        </a>
        {% endif %}
      </div>
    </div>

    <div id="details"{% if show_details %} class="collapse"{% endif %}>

      <div class="row">

        <div class="col-lg-9">
          <p>
            <strong>Repo:</strong>
            <a href="{{ workspace.repo }}">{{ workspace.repo_name }}</a>
            <span class="text-muted">({{ workspace.branch }})</span>
          </p>

          <p><strong>DB:</strong> {{ workspace.db }}</p>

           <p>
             <strong>Created:</strong>
             <span title="{{ workspace.created_at|date:"Y-m-d H:i:s" }}">
               {{ workspace.created_at|naturaltime }}
             </span>
           </p>

          {% if workspace.created_by %}
          <p><strong>Created By:</strong> {{ workspace.created_by.name }}</p>
          {% endif %}
        </div>

        <div class="col-lg-3 text-right">
          {% if request.user.is_authenticated %}
          <form method="POST" action="{{ workspace.get_archive_toggle_url }}" class="my-2">
            {% csrf_token %}

            <input type="hidden" name="is_archived" value="{{ workspace.is_archived|yesno:",True" }}" />

            <button class="btn btn-danger" type="submit">
              {% if not workspace.is_archived %}
              Archive
              {% else %}
              Unarchive
              {% endif %}
            </button>
          </form>

          <form method="POST" class="mb-2" action="{{ workspace.get_notifications_toggle_url }}">
            {% csrf_token %}

            <input type="hidden" name="should_notify" value="{{ workspace.should_notify|yesno:",True" }}" />

            <button class="btn btn-success" type="submit">
              Turn Notifications {% if workspace.should_notify %}Off{% else %}On{% endif %}
            </button>
          </form>
          {% endif %}
        </div>

      </div>
    </div>

  </div>
</div>

{% if show_details %}
{% if actions_error %}
<div class="row">
  <div class="col-lg-8 offset-lg-2 my-5">

    <p>An error occurred while trying to parse your <code>project.yaml</code>:</p>

    <pre class="text-left">{{ actions_error }}</pre>

    <p>
      To run actions for this Workspace please fix the error above and reload
      this page to continue.
    </p>

    <p>
      If the branch no longer exists you will need to set up a new workspace.
      Previous jobs in this workspace are still available via the Logs button.
    </p>

    {% if not workspace.is_archived %}
    <p>
      If you are done with this Workspace's branch you can also Archive it to
      stop it appearing on the homepage list.
    </p>
    {% endif %}

  </div>
</div>
{% endif %}

{% if actions %}
<div class="row job-create mt-3">
  <div class="col-lg-8 offset-lg-2">

    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if request.user.is_superuser %}
      <p>Pick a backend to run your Jobs in:</p>

      <div class="form-group">

        {% for value, label in form.backend.field.choices %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="backend"
            id="id_backend1"
            value="{{ value }}"
            {% if form.backend.value == value %}checked{% endif %}
            />
          <label class="form-check-label" for="id_backend1">
            {{ label }}
          </label>
        </div>
        {% endfor %}

        {% if form.backend.errors %}
        <ul class="pl-3 mb-1">
          {% for error in form.backend.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
      {% endif %}

      <p>Pick one or more actions to run:</p>

      <div class="form-group mb-5">

        <div class="d-flex">
          <span style="width:68px"></span>
          <strong class="flex-grow-1">Action</strong>
          <strong style="margin-right:80px;width:52px;">Status</strong>
        </div>

        <div class="accordion" id="actions" aria-describedby="actions_help_block">
          {% for action in actions %}
          <div class="card">

            <div
              id="heading-{{ action.name }}"
              class="card-header d-flex align-items-center"
              style="padding:.5rem"
              >

              <div class="btn-group-toggle mr-3" data-toggle="buttons">
                <label class="btn btn-sm btn-outline-success">
                  <input type="checkbox" name="requested_actions" value="{{ action.name }}" /> Run
                </label>
              </div>

              <code class="flex-grow-1 mr-3 text-truncate" title="{{ action.name }}">
                {{ action.name }}
              </code>

              <span class="mr-3 d-flex justify-content-center" style="width:52px">
                <div class="status-icon {{ action.status }}" title="{{ action.status }}"></div>
              </span>

              <div style="width:60px">
                {% if action.needs %}
                <button
                  class="btn btn-sm btn-secondary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse-{{ action.name }}"
                  aria-expanded="true"
                  aria-controls="collapse-{{ action.name }}">
                  Needs
                </button>
                {% endif %}
              </div>

            </div>

            <div
              id="collapse-{{ action.name }}"
              class="collapse"
              aria-labelledby="heading-{{ action.name }}"
              data-parent="#actions">
              <div class="card-body">
                <ul>
                  {% for need in action.needs %}
                  <li><code>{{ need }}</code></li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

        <small id="actions_help_block" class="form-text text-muted">
          <p>Selecting an Action will run it, regardless of its previous state or outputs.</p>

          <p>
            Selecting "run_all" will run any Action which has yet to complete.
            Previously successful actions are skipped. A previously failed
            action will cause "run_all" to refuse to run.  You can override
            this functionality by selecting "force run dependencies" below.
          </p>
        </small>

        {% if form.requested_actions.errors %}
        <ul>
          {% for error in form.requested_actions.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="form-group mb-5">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            name="force_run_dependencies"
            class="custom-control-input{% if form.force_run_dependencies.errors %} is-invalid{% endif %}"
            id="id_force_run_dependencies"
            />
          <label
            for="id_force_run_dependencies"
            class="custom-control-label"
            aria-describedby="force_run_dependencies_help_block">
            Force run dependencies of your selected actions?
          </label>
        </div>

        <small id="force_run_dependencies_help_block" class="form-text text-muted">
          Selecting this will run each Action in your selected Action's
          dependency trees, regardless of their previous state or outputs.
        </small>

        {% if form.force_run_dependencies.errors %}
        <ul>
          {% for error in form.force_run_dependencies.errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="mb-5">
        <p>
          Notifications for {{ workspace.name }} are:
          <strong>{{ workspace.will_notify|yesno:"On,Off" }}</strong>

          <br />

          <small class="text-muted">
            {% if workspace.will_notify %}
            You will receive notifications for all Jobs created from this request to <code>{{ request.user.notifications_email }}</code>.
            <br />
            You can change this email address in your <a href="{% url 'settings' %}">settings</a>.
            {% else %}
            You can enable notifications for this workspace by clicking Details above.
            {% endif %}
          </small>
      </div>

      <div class="form-group">
        <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" />
      </div>

    </form>

  </div>
</div>
{% endif %}

{% if latest_job_request and latest_job_request.jobs.exists %}
<div class="row mb-4">
  <div class="col-lg-8 offset-lg-2">

    <hr />

    <h3>Latest Job Request</h3>

    <ul class="list-unstyled">
      <li><strong>Total Runtime:</strong> {% runtime latest_job_request.runtime %}</li>
      <li><strong>Requested Actions:</strong> {{ latest_job_request.requested_actions|join:", " }}</li>
    </ul>

    <div class="latest-jobs mb-3">

      <span></span>
      <span><strong>Action</strong></span>
      <span><strong>Runtime</strong></span>
      <span class="d-none d-lg-inline"><strong>Status Message</strong></span>

      {% for job in latest_job_request.jobs.all %}
      <span class="pl-3"><div class="status-icon {{ job.status }}"></div></span>
      <span>{{ job.action }}</span>
      <span {% if job.started_at %} title="{{ job.started_at|naturaltime }}"{% endif %}>
        <small>{% runtime job.runtime %}</small>
      </span>
      <span class="d-none d-lg-inline text-truncate" title="{{ job.status_message }}">
        {{ job.status_message|default:"-" }}
      </span>
      {% endfor %}

    </div>

  </div>
</div>
{% endif %}

{% endif %}
{% endblock content %}

{% block extra_js %}
<div id="apiUrl" class="d-none">{{ workspace.get_statuses_url }}</div>
<script type="text/javascript" src="{% static 'js/workspace_detail.js' %}"></script>
{% endblock %}
