{% extends "base.html" %}

{% block content %}

<div class="row workspace-select">
  <div class="col-lg-8 offset-lg-2">

    <p>Select a Workspace to get started:</p>

    <div class="list-group mb-5 overflow-auto">
      {% for workspace in workspaces %}
      <form method="POST" action="{% url 'workspace-select' %}">
        {% csrf_token %}

        <input type="hidden" name="workspace_id" value="{{ workspace.id }}" />

        <button
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          type="submit">
          <span class="text-primary mr-2">{{ workspace.name }}</span>
          <code class="text-muted d-none d-md-block">
            {{ workspace.repo_name }}|{{ workspace.branch }}
          </code>
        </button>

      </form>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}
