{% extends "base.html" %}

{% load humanize %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.org.get_absolute_url }}">
        {{ workspace.project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.get_absolute_url }}">
        {{ workspace.project.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.get_absolute_url }}">
        {{ workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Releases</li>

  </ol>
</nav>


<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h4>Releases for the {{ workspace.name }} workspace</h4>

    {% if user_can_view_all_files %}
    {% include "_release_list.html" with r=latest_files %}
    {% endif %}

    {% for release in releases %}
    {% include "_release_list.html" with r=release %}
    {% endfor %}

  </div>

</div>
{% endblock %}
