{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mt-3 mb-4">

  <h2>Workspaces</h2>

  {% if user.is_authenticated %}
  <div>
    <a class="btn btn-primary" href="{% url 'workspace-create' %}">
      Add Workspace
    </a>
  </div>
  {% endif %}

</div>

<div class="row">

  <div class="col-10">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Repo</th>
          <th scope="col">Branch</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for workspace in page_obj %}
        <tr>
          <td>{{ workspace.name }}</td>
          <td>{{ workspace.repo }}</td>
          <td>{{ workspace.branch }}</td>
          <td>
            <a class="btn btn-secondary text-white" href="{% url 'workspace-detail' pk=workspace.pk %}">
              View
            </a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <hr />

  </div>

  <div class="col-2">
    <h4>Filters</h4>

  </div>

</div>

{% endblock content %}
