{% extends "base.html" %}

{% load humanize %}

{% block metatitle %}{{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block extra_meta %}
<meta property="og:title" content="{{ workspace.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Repo: {{ workspace.repo.name }} ({{ workspace.branch }})" />
{% endblock extra_meta %}

{% block breadcrumbs %}
{% if workspace.is_archived %}
  <div class="alert alert-warning text-center mb-0" role="warning">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            This Workspace has been archived.  Logs are still available but new Jobs can no longer be requested.
          </p>
          <p class="mb-0">
            If you think this has been done in error, please contact an <a href="mailto:team@opensafely.org">admin</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ workspace.project.org.get_absolute_url }}">
          {{ workspace.project.org.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ workspace.project.get_absolute_url }}">
          {{ workspace.project.title }}
        </a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        {{ workspace.name }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-9 d-flex flex-column align-items-start justify-content-center">
        <h1>{{ workspace.name }}</h1>
        <p class="lead">
          <strong>Project:</strong>
          <a href="{{ workspace.project.get_absolute_url }}">{{ workspace.project.title }}</a>
        </p>

        <div>
          {% if user_can_run_jobs %}
            <a class="btn btn-primary mr-1" href="{{ run_jobs_url }}">Run Jobs</a>
          {% endif %}
          <a class="btn btn-secondary" href="{{ workspace.get_logs_url }}">View logs</a>
        </div>
      </div>

      <div class="mt-3 mt-lg-0 col col-md-6 col-lg-4 col-xl-3">
        {% if user_can_archive_workspace %}
          <div class="card text-center">
            <h2 class="card-header h5">Workspace admin</h2>
            <div class="card-body d-flex flex-column align-items-center">
              <form method="POST" action="{{ workspace.get_archive_toggle_url }}" class="mb-2">
                {% csrf_token %}
                <input type="hidden" name="is_archived" value="{{ workspace.is_archived|yesno:",True" }}" />

                <button class="btn btn-{% if not workspace.is_archived %}danger{% else %}secondary{% endif %}" type="submit">
                  {% if not workspace.is_archived %}
                    Archive workspace
                  {% else %}
                    Unarchive workspace
                  {% endif %}
                </button>
              </form>

              <form method="POST" action="{{ workspace.get_notifications_toggle_url }}">
                {% csrf_token %}
                <input type="hidden" name="should_notify" value="{{ workspace.should_notify|yesno:",True" }}" />

                <button class="btn btn-{% if workspace.should_notify %}warning{% else %}success{% endif %}" type="submit">
                  {% if workspace.should_notify %}Disable{% else %}Enable{% endif %} notifications
                </button>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  {% if show_publish_repo_warning %}
  <div class="alert alert-warning mb-5" role="alert">
    <h2 class="h4 alert-link mb-3">Repository is current private</h2>
    <p>
      The <a href="{{ first_job.get_absolute_url }}" class="alert-link">first
      job to run against the git repository</a> for this workspace ran over 11
      months ago.  As per our platform policy, we ask that repositories are
      made public 12 months after they are first executed against patient data.
    </p>
    <hr>
    <p class="mb-0">
      <a class="alert-link" href="{{ workspace.repo.get_sign_off_url }}">
        Change repository visibility &rarr;
      </a>
    </p>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3 mb-lg-0">
        <h2 class="card-header h5">Details</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="d-inline-block">Repo:</dt>
              <dd class="d-inline-flex mb-0 align-items-center">
                <a class="mr-1" href="{{ workspace.repo.url }}/tree/{{ workspace.branch }}/">{{ workspace.repo.name }}</a>
              </dd>
              {% if repo_is_private %}
              <p class="mt-2 mb-1">This repo is not publicly viewable.</p>
              <details class="small">
                <summary class="font-weight-bold text-primary">Why is this repo private?</summary>
                <div class="pl-3">
                  <p class="my-1">In accordance with the <a href="https://www.opensafely.org/about/#transparency-and-public-logs">Principles of OpenSAFELY</a> we expect all code from all users to be made public.</p>
                  <p class="mb-0">However, some GitHub repositories may be private during the development stage of a project, which means any links to them from this site will return a '404 Not Found' error unless you are logged in and have the relevant permissions.</p>
                </div>
              </details>
              {% endif %}
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="d-inline-block">Branch:</dt>
              <dd class="d-inline-block mb-0">{{ workspace.branch }}</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="d-inline-block">Database:</dt>
              <dd class="d-inline-block mb-0">{{ workspace.db }}</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="d-inline-block">Created:</dt>
              <dd class="d-inline-block mb-0">
                <time
                  datetime="{{ workspace.created_at|date:"Y-m-d H:i:sO" }}"
                  title="{{ workspace.created_at|date:"Y-m-d H:i:sO" }}"
                >
                  {{ workspace.created_at|naturaltime }}
                </time>
              </dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="d-inline-block">Created by:</dt>
              <dd class="d-inline-block mb-0">{{ workspace.created_by.name }}</dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-8">
      <p>
        This is an OpenSAFELY workspace.  It represents a working directory for the
        <a href="{{ workspace.project.get_absolute_url }}">{{ workspace.project.title }}</a>
        project on all of the secure services ("backends") supported by
        OpenSAFELY.  On each backend, the directory includes code from the
        <a href="{{ workspace.repo.url }}/tree/{{ workspace.branch }}/">repository</a>,
        and the results of running it against real data ("jobs"). Researchers can
        request jobs are run from this page.
      </p>

      {% if user_can_use_releases %}
      <div class="card border-0">
        <h2 class="h5 card-header border border-bottom-0">
          Releases
        </h2>

        <div class="list-group list-group-flush">
          <ul class="list-unstyled mb-0">
            {% if user_can_view_files %}
              <li class="list-group-item">
                <a class="mr-1" href="{{ workspace.get_files_url }}">
                  Level 4 Outputs
                </a>
                <span class="badge badge-pill badge-info">VPN Required</span>
              </li>
            {% endif %}
            {% if user_can_view_releases %}
              <li class="list-group-item">
                <a href="{{ workspace.get_releases_url }}">
                  Released Outputs
                </a>
              </li>
            {% endif %}
            {% if user_can_view_outputs %}
              <li class="list-group-item">
                <a href="{{ workspace.get_outputs_url }}">
                  Published Outputs
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% if honeycomb_can_view_links %}
      <div class="card border pt-3">
        <h2 class="h5 card-header border border-bottom-0">
          Monitoring <span class="badge badge-pill badge-info">Honeycomb login Required</span>
        </h2>

        <div class="list-group list-group-flush">
          <ul class="list-unstyled mb-0">
              <li class="list-group-item">
                <a class="mr-1" href="{{ honeycomb_link }}">
                  Heatmap of runtimes for completed jobs in this workspace
                </a>
              </li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
