{% extends "base.html" %}

{% load humanize %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.org.get_absolute_url }}">
        {{ workspace.project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.get_absolute_url }}">
        {{ workspace.project.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.get_absolute_url }}">
        {{ workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Releases</li>

  </ol>
</nav>


<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <h4>Releases for the {{ workspace.name }} workspace</h4>

    {% if user_can_view_all_files %}
    <div class="border rounded p-2 pl-3 mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <span>
          Latest outputs
        </span>

        <div>
          <a class="btn btn-sm btn-primary" href="{{ workspace.get_latest_outputs_download_url }}">
            Download
          </a>
          <a class="btn btn-sm btn-primary" href="{{ workspace.get_latest_outputs_url }}">
            View
          </a>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#latest-files"
            aria-expanded="false"
            aria-controls="latest-files">
            Files
          </button>
        </div>
      </div>

      <div class="collapse" id="latest-files">
        <div class="card card-body border-0 mt-2 p-0 px-2">
          <ul class="list-unstyled mb-0">
            {% for file in latest_files %}
            <li>
              <a href="{{ file.get_absolute_url }}">
                <code>{{ file.name }}</code>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
    {% endif %}

    {% for release in releases %}
    <div class="border rounded p-2 pl-3 mb-3">

      <div class="d-flex justify-content-between align-items-center">
        <span>
          {% if release.files.exist %}
          Files released
          {% else %}
          Release
          {% endif %}
          by {{ release.created_by.name }} {{ release.created_at|naturaltime }}
        </span>

        <div>
          <a
            class="btn btn-sm btn-primary {% if not release.files.exists %}disabled{% endif %}"
            href="{{ release.get_download_url }}">Download</a>
          <a
            class="btn btn-sm btn-primary {% if not release.files.exists %}disabled{% endif %}"
            href="{{ release.get_absolute_url }}">View</a>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            {% if not release.files.exists %}
            disabled
            {% endif %}
            data-toggle="collapse"
            data-target="#release-{{ release.id }}-files"
            aria-expanded="false"
            aria-controls="release-{{ release.id }}-files">
            Files
          </button>
        </div>
      </div>

      <div class="collapse" id="release-{{ release.id }}-files">
        <div class="card card-body border-0 mt-2 p-0 px-2">
          <ul class="list-unstyled mb-0">
            {% for file in release.files.all %}
            <li>
              <a href="{{ file.get_absolute_url }}">
                <code>{{ file.name }}</code>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>

</div>
{% endblock %}
