{% extends "base.html" %}

{% load querystring_tools %}

{% block content %}

<div class="d-flex justify-content-between mt-3 mb-4">

  <h2>Workspaces</h2>

  {% if user.is_authenticated %}
  <div>
    <a class="btn btn-primary" href="{% url 'workspace-create' %}">
      Add Workspace
    </a>
  </div>
  {% endif %}

</div>

<div class="row">

  <div class="col-10">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Repo</th>
          <th scope="col">Branch</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for workspace in page_obj %}
        <tr>
          <td>{{ workspace.name }}</td>
          <td>{{ workspace.repo }}</td>
          <td>{{ workspace.branch }}</td>
          <td>
            <a class="btn btn-secondary text-white" href="{% url 'workspace-detail' pk=workspace.pk %}">
              View
            </a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <hr />

    <div class="d-flex justify-content-between mb-3">

      <div>
        <span class="{% if not page_obj.has_previous %}d-none{% endif %}">
          {% if page_obj.has_previous %}
          <a class="btn btn-secondary btn-sm" href="{% url_with_querystring page=page_obj.previous_page_number %}">
            Previous
          </a>
          {% endif %}
        </span>
      </div>

      <div class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </div>

      <div>
        <span class="{% if not page_obj.has_next %}d-none{% endif %}">
          {% if page_obj.has_next %}
          <a class="btn btn-secondary btn-sm" href="{% url_with_querystring page=page_obj.next_page_number %}">
            Next
          </a>
          {% endif %}
        </span>
      </div>

    </div>
  </div>

  <div class="col-2">
    <h4>Filters</h4>

  </div>

</div>

{% endblock content %}
