{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ project.org.get_absolute_url }}">
        {{ project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ project.get_absolute_url }}">
        {{ project.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Create a Workspace</li>

  </ol>
</nav>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="mb-3">Create a Workspace</h3>

    {% crispy form %}

  </div>
</div>
{% endblock content %}

{% block extra_js %}
{{ repos_with_branches|json_script:"reposWithBranches" }}
<script type="text/javascript" src="{% static 'js/workspace_create.js' %}"></script>
{% endblock %}
