{% extends "base.html" %}

{% load humanize %}

{% block content %}
<div class="row">
  <div class="col-10">
    <h3>Workspace: {{ workspace.name }}</h3>

    <ul class="list-unstyled">
      <li class="pt-2"><strong>Repo:</strong> {{ workspace.repo }}</li>
      <li class="pt-2"><strong>Branch:</strong> {{ workspace.branch }}</li>
      <li class="pt-2"><strong>Owner:</strong> {{ workspace.owner }}</li>
      <li class="pt-2"><strong>DB:</strong> {{ workspace.db }}</li>
      <li class="pt-2"><strong>Created:</strong> {{ workspace.created_at|naturaltime }}</li>
    </ul>

  </div>

  <div class="col-2">

    <h3 class="text-center">Tools</h3>

    <a class="btn btn-block btn-secondary" href="{% url 'job-create' pk=workspace.pk %}">
      Add Job
    </a>

    <a class="btn btn-block btn-secondary" href="{% url 'job-list' %}?workspace={{ workspace.pk }}">
      View Jobs
    </a>

  </div>

</div>
{% endblock content %}
