{% extends "base.html" %}

{% block metatitle %}Outputs: {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ workspace.project.org.get_absolute_url }}">
          {{ workspace.project.org.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ workspace.project.get_absolute_url }}">
          {{ workspace.project.name }}
        </a>
      </li>

      <li class="breadcrumb-item">
        <a href="{{ workspace.get_absolute_url }}">
          {{ workspace.name }}
        </a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        Outputs
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Outputs</h1>
    <p class="lead prose-width">
      Listed below are the outputs for the {{ workspace.name }} workspace.
    </p>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <ul class="list-group list-unstyled mb-4">
      {% for snapshot in snapshots %}
      <li class="list-group-item d-flex justify-content-between">

        <div>
          <a class="mr-3" href="{{ snapshot.get_absolute_url }}">
            {% if user_can_view_all_files %}Created{% else %}Published{% endif %}
            on {{ snapshot.created_at|date:"Y-m-d" }} by {{ snapshot.created_by.name }}
          </a>
          {% if user_can_view_all_files %}
          <span class="badge badge-secondary">
            {% if snapshot.published_at %}
            Published
            {% else %}
            Draft
            {% endif %}
          </span>
          {% endif %}
        </div>

        <div>
          <span>{{ snapshot.files.count }} file{{ snapshot.files.count|pluralize }}</span>
        </div>

      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
