{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item"><a href="/">Home</a></li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.org.get_absolute_url }}">
        {{ workspace.project.org.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.project.get_absolute_url }}">
        {{ workspace.project.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.get_absolute_url }}">
        {{ workspace.name }}
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ workspace.get_outputs_url }}">
        Outputs
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Latest</li>

  </ol>
</nav>

<div class="card border-warning mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>Latest outputs from {{ workspace.name }}</h3>

    <a class="btn btn-sm btn-primary" href="{{ release.get_download_url }}">
      Download
    </a>
  </div>
  <div class="card-body">
    <p class="card-text">
      The latest version of each output in the {{ workspace.name }} workspace,
      across all releases.
    </p>
  </div>
</div>

{% include "outputs-spa.html" %}

{% endblock %}
