{% extends "base-tw.html" %}

{% block metatitle %}Your organisations | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Organisations" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% #card title="Organisations" subtitle="You have access to these organisations" %}
    {% #list_group %}
      {% for org in object_list %}
        <li>
          <a href="{{ org.get_absolute_url }}" class="block transition-colors duration-200 hover:bg-oxford-50">
            <div class="flex items-center gap-x-3 px-4 py-3">
              {% if org.logo_file %}
                <img
                  alt="{{ org.name }} logo"
                  class="w-16 h-16 bg-white border border-slate-300 shadow-sm rounded-md overflow-hidden flex-shrink-0"
                  height="144"
                  src="{{ org.logo_file.url }}"
                  width="144"
                />
              {% else %}
                <span class="w-16 h-16 bg-slate-100 border border-slate-300 rounded-md overflow-hidden flex-shrink-0"></span>
              {% endif %}
              <div class="flex flex-col md:flex-row min-w-0 md:justify-between md:flex-grow">
                <p class="truncate text-base font-semibold text-oxford-600">
                  {{ org.name }}
                </p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    {% /list_group %}
  {% /card %}
{% endblock content %}
