{% extends "base.html" %}

{% load querystring_tools %}

{% block metatitle %}Your projects | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Projects" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% #card title="Your projects" subtitle="Projects you can access" %}
    {% #list_group small=True %}
      {% for project in object_list %}
        {% fragment as project_status_pill %}
          {% pill_project_status status=project.status text=project.get_status_display %}
        {% endfragment %}
        {% #list_group_rich_item title=project.title type="Project" url=project.get_absolute_url custom_status=project_status_pill %}
          <dl class="flex flex-col gap-0.5">
            <div class="flex flex-row flex-wrap gap-1">
              <dt class="font-bold">Organisation:</dt>
              <dd>{{ project.org }}</dd>
            </div>
          </dl>
        {% /list_group_rich_item %}
      {% empty %}
        {% list_group_empty icon=True title="No projects found" description="You do not currently have access to any projects" %}
      {% endfor %}
    {% /list_group %}

    {% if page_obj.has_previous or page_obj.has_next %}
      {% card_pagination page_obj=page_obj request=request no_container=True %}
    {% endif %}
  {% /card %}
{% endblock content %}
