{% extends "base.html" %}

{% block metatitle %}Your workspaces | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Workspaces" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% #card title="Workspaces" subtitle="Workspaces you can access" %}
    {% if object_list %}
      {% #list_group %}
        {% for workspace in object_list %}
          {% #list_group_item href=workspace.get_absolute_url %}
            {{ workspace }}
          {% /list_group_item %}
        {% endfor %}
      {% /list_group %}
    {% else %}
      <div class="border-t border-t-slate200 text-center p-8">
        {% icon_folder_outline class="mx-auto h-8 w-8 text-slate-400" %}
        <h2 class="mt-2 text-lg font-semibold text-slate-900">
          No workspaces
        </h2>
        <p class="mt-2 text-sm text-slate-600">
          You do not currently have access to any workspaces
        </p>
      </div>
    {% endif %}
  {% /card %}
{% endblock content %}
