<li class="flex max-w-full relative items-center -mr-1 {{ class }}">
  {% if title == "Home" %}
    <a href="{{ url }}" class="text-slate-400 hover:text-slate-500 p-1 -ml-1 lg:p-2 lg:-ml-2">
      {% icon_home_outline class="shrink-0 h-5 w-5" %}
      <span class="sr-only">{{ title }}</span>
    </a>
  {% else %}
    {% if url %}
      <a href="{{ url }}" class="p-1 lg:p-2 group block text-ellipsis overflow-hidden whitespace-nowrap max-w-full text-slate-600 hover:text-bn-roman-700">
        {{ title }}

        {% if location %}
          {% tooltip position="-bottom-2" content=location %}
        {% endif %}
      </a>
    {% else %}
      <span class="p-1 lg:p-2 block group text-ellipsis overflow-hidden whitespace-nowrap max-w-full text-slate-600">
        {{ title }}

        {% if location %}
          {% tooltip position="-bottom-2" content=location %}
        {% endif %}
      </span>
    {% endif %}
  {% endif %}

  {% if not active %}
    {% icon_chevron_right_outline class="shrink-0 h-5 w-5 text-oxford/25" %}
  {% endif %}
</li>
