{% extends "base.html" %}

{% load django_vite %}
{% load humanize %}

{% block metatitle %}Change repository visibility: {{ repo.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Repository" title=repo.name %}
    {% breadcrumb title="Change repository visibility" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% #article_header title="Change repository visibility" %}
    <p class="-mt-2 mb-6 text-lg">
      <strong>Repo:</strong>
      {% link href=repo.url text=repo.name %}
    </p>
  {% /article_header %}

  <div class="grid gap-y-6">

    {% #card class="max-w-prose" container=True %}
      <div class="prose prose-blue text-slate-800">
        <p>The repo <a href="{{ repo.url }}">{{ repo.name }}</a> is currently <strong>{{ repo.status }}</strong>.</p>
        <p>
          As per our platform policy, this repository should now be publicly visible.
          {% if not repo.researcher_signed_off_at %}
          <br>
          You can use this page to request that the repository is set to be publicly visible.
          {% endif %}
        </p>
        <p>
          Read more about
          {% link href="https://docs.opensafely.org/repositories/" text="GitHub Repository visibility in the OpenSAFELY Docs" append_after="." %}
        </p>
      </div>
    {% /card %}

    {% #card class="max-w-prose" container=True title="Read and agree" %}
      <ul>
        <li class="flex items-start mb-2">
          {% icon_check_outline class="text-green-500 mr-2" %}
          <span>
            Read and understood the
            {% link href="https://www.opensafely.org/about/#transparency-and-public-logs" text="Transparency and public logs" %}
            section of the OpenSAFELY website
          </span>
        </li>
        <li class="flex items-start mb-2">
          {% icon_check_outline class="text-green-500 mr-2" %}
          <span>Checked the repository, including all branches, for disclosive information</span>
        </li>
        <li class="flex items-start mb-2">
          {% icon_check_outline class="text-green-500 mr-2" %}
          <span>
            Updated READMEs on each branch to match the
            {% link href="https://docs.opensafely.org/publishing-repo/" text="OpenSAFELY guidance" %}
          </span>
        </li>
        <li class="flex items-start mb-2">
          {% icon_check_outline class="text-green-500 mr-2" %}
          <span>Added or updated the purpose</span>
        </li>
        <li class="flex items-start mb-2">
          {% icon_check_outline class="text-green-500 mr-2" %}
          <span>Permission to make the workspace public</span>
        </li>
      </ul>
    {% /card %}

    <div class="mt-6 pt-6 border-t border-t-slate-300">
      <h2 class="text-3xl leading-tight tracking-tight font-semibold mb-4">Linked workspaces</h2>
      <p class="text-lg mb-4">The following workspaces are linked to this repository and need signing
         off before the repo can be made public:</p>
      <div class="grid lg:grid-cols-2 gap-6">
        {% for workspace in workspaces %}
          {% #card class="w-full" title=workspace.name %}
            <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
              {% #description_item title="Workspace" %}
                {% link href=workspace.get_absolute_url text=workspace.name %}
              {% /description_item %}

              {% #description_item title="Status" %}
                {% if workspace.is_archived %}
                  {% pill text="Archived" variant="warning" %}
                {% else %}
                  {% pill text="Active" variant="primary" %}
                {% endif %}
              {% /description_item %}

                {% #description_item title="Purpose" %}
                  {{ workspace.purpose|default:"-"|linebreaksbr|urlize }}
                  {% link href=workspace.get_edit_url text="Edit" %}
                {% /description_item %}

              {% #description_item title="Project" %}
                {% link href=workspace.project.get_absolute_url text=workspace.project.title %}
              {% /description_item %}

              {% #description_item title="Branch" %}
                {% if workspace.branch_exists %}
                  <a href="{{ workspace.branch }}">
                    <code>{{ workspace.branch }}</code>
                  </a>
                {% else %}
                  <code>{{ workspace.branch }}</code>
                  &mdash; this branch does not exist in the GitHub Repository
                {% endif %}
              {% /description_item %}

              {% #description_item title="Readme" %}
                <a href="{{ workspace.get_readme_url }}">
                  Link to repo README.md
                </a>
              {% /description_item %}
            </dl>

            <div class="p-4 border-t border-slate-200">
              {% if not workspace.signed_off_at %}
                <form method="POST">
                  {% csrf_token %}
                  <fieldset class="mb-2">
                    <legend class="font-semibold">
                      I confirm I agree to the above conditions for this workspace.
                    </legend>
                    <input type="hidden" name="name" value="{{ workspace.name }}" />
                  </fieldset>
                  {% #button type="submit" variant="success-outline" %}
                    Sign off {{ workspace.name }}
                  {% /button %}
                </form>
              {% else %}
                <p class="flex flex-row">
                  {% icon_check_outline class="text-green-500 mr-2" %}
                  Signed off by
                  {{ workspace.signed_off_by.name }}
                  at
                  <time datetime="{{ workspace.signed_off_at.isoformat }}">
                    {{ workspace.signed_off_at|date:"G:i jS F Y" }}
                  </time>
                </p>
              {% endif %}
            </div>
          {% /card %}
        {% endfor %}
      </div>
    </div>

    <div class="mt-6 pt-4 border-t border-t-slate-300">
    </div>

    {% if branches %}
      {% #card class="max-w-prose" container=True title="Other branches" subtitle="The following branches have no workspaces" %}
        {% for branch in branches %}
          <ul class="list-disc ml-3 mb-1">
            <li class="break-all">{{ branch }}</li>
          </ul>
        {% endfor %}
      {% /card %}
    {% endif %}

    {% if repo.has_github_outputs %}
      {% #card class="max-w-prose" title="Outputs" container=True %}
        <p>This repository has outputs released to GitHub. By agreeing to make this repository public you are also agreeing the repo has appropriate data released (i.e. had disclosure controls applied).</p>
      {% /card %}
    {% endif %}

    {% #card class="max-w-prose" title="Project" container=True container_class="grid gap-y-3 justify-items-start" %}
      <p>
        By signing off the repository below you are confirming you have updated the status of the project. You can read how to do this on
        {% link href="https://docs.opensafely.org/jobs-site/#updating-project-status" text="the OpenSAFELY documentation site" append_after="." %}
      </p>

      {% if project_status %}
        <dl class="flex flex-row gap-x-2">
          <dt class="font-bold">Current Status:</dt>
          <dd>{{ project_status }}</dd>
        </dl>
      {% endif %}

      {% #button type="link" href=project_url variant="primary" %}Review project{% /button %}
    {% /card %}

    {% if not repo.researcher_signed_off_at %}
      {% #card class="max-w-prose" title="Confirmation" container=True %}
        <p class="text-lg font-medium border-b border-b-slate-300 mb-2 pb-2">
          By requesting this visibility change, you are agreeing that the repository can be made public, and that you have the authority to make that decision. It will trigger a request to OpenSAFELY technical support, who will then make the repository public on your behalf.
        </p>
        <p>
          If you have any questions about this process, please contact
          {% link text="publications@opensafely.org" href="mailto:publications@opensafely.org" %}
          before continuing.
        </p>

        {% #button id="confirmBtn" variant="danger" class="mt-3" %}
          Request visibility is set to public
        {% /button %}

        <dialog id="confirmDialog" class="grid gap-y-3 max-w-2xl w-full mx-auto shadow-xl rounded-md backdrop:bg-black/25 backdrop:backdrop-blur-sm">
          <h2 class="bg-slate-50 border-b py-4 px-8 boder-slate-300 font-semibold text-2xl tracking-tight">
            Request visibility is set to public
          </h2>

          <div class="px-8 prose">
            <p>The following workspaces have been signed off:</p>
            <ul>
              {% for workspace in workspaces %}
                <li class="list-none">
                  <span class="flex flex-row gap-x-1 items-center font-bold">
                    {% icon_check_outline class="text-green-500 mr-1" %}
                    {{ workspace.name }}
                  </span>
                  <span class="text-sm text-slate-700">
                    Signed off for publishing by
                    {{ workspace.signed_off_by.name }}
                    at
                    <time datetime="{{ workspace.signed_off_at.isoformat }}">
                      {{ workspace.signed_off_at|date:"G:i jS F Y" }}
                    </time>
                  </span>
                </li>
              {% endfor %}
            </ul>

            {% if branches %}
              <p>This will also make the following branches public:</p>
              <ul>
                {% for branch in branches %}
                  <li>{{ branch }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <p>You can now trigger a request to set the repository to public.</p>
          </div>

          <form method="POST" class="flex flex-row flex-wrap gap-2 py-4 px-8 bg-slate-50 border-t boder-slate-300">
            {% csrf_token %}

            {% #button variant="danger" type="submit" %}
              Request visibility is set to public
            {% /button %}
            {% #button variant="secondary-outline" type="button" value="cancel" %}
              Cancel
            {% /button %}
          </form>
        </dialog>
      {% /card %}
    {% else %}
      {% #card container=True container_class="grid gap-y-3" %}
        <p>
          This repository was signed off to be made public by
          {{ repo.researcher_signed_off_by.name }}
          on
          {{ repo.researcher_signed_off_at }}.
        </p>
        <p>
          If you think this was done in error, please email
          {% link href="mailto:publications@opensafely.org" text="publications@opensafely.org" append_after="." %}
        </p>
      {% /card %}
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  {% vite_asset "assets/src/scripts/sign-off-repo.js" %}
{% endblock %}
