# This is intended to help enforce the policy that changes to certain
# permissions file should be approved by IG before merging.
#
# If CODEOWNERS turns out not to be the most practical mechanism for this then
# we may chose to remove this file. But if so, we must update the documentation
# which references it:
# https://github.com/opensafely/documentation/blob/af88baf1/docs/type-one-opt-outs.md


# The IG team (@opensafely-core/ig-team) own the two files listed below. Changes to
# other files in the permissions directory can be made with the approval
# of any user who has write access to the repository. See documentation in individual
# files for approval process.
jobserver/permissions/t1oo.py         @opensafely-core/ig-team
jobserver/permissions/sqlrunner.py    @opensafely-core/ig-team

# Replacement for Dependabot reviewers
**/package*.json @tomodwyer
