# This is intended to help enforce the policy that changes to certain
# permissions file should be approved by IG before merging.
#
# If CODEOWNERS turns out not to be the most practical mechanism for this then
# we may chose to remove this file. But if so, we must update the documentation
# which references it:
# https://github.com/opensafely/documentation/blob/af88baf1/docs/type-one-opt-outs.md


# The IG team (@opensafely-core/ig-team) own any file in the `jobserver/permissions/ `
# directory except for the `jobserver/permissions/population_permissions/`
# subdirectory, as its owners are left empty. Without an owner, changes
# to files in `jobserver/permissions/population_permissions/` can be made with the approval
# of any user who has write access to the repository.
jobserver/permissions/    @opensafely-core/ig-team
jobserver/permissions/population_permissions/

# Replacement for Dependabot reviewers
**/package*.json @tomodwyer
