{% extends "applications_base.html" %}

{% block metatitle %}Applications | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Applications
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div>
        <h1 class="pt-4 pt-md-0">Applications</h1>
        <a class="btn btn-success" href="{% url 'applications:start' %}">Start a new project</a>
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<article class="container" id="applicationForm">
  {% if applications or deleted_applications %}
  <div class="row">

    <div class="col-12">
      <p>These are individual OpenSAFELY applications that have been started by you.</p>
    </div>

    <div class="col col-lg-9 col-xl-8">

      <div class="list-group list-unstyled mb-4">
        {% for application in applications %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ application.get_absolute_url }}">
            Application {{ application.pk_hash }} started on {{ application.created_at|date }}
          </a>
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ application.get_status_display }}</span>
            <form class="ml-2" method="POST" action="{{ application.get_delete_url }}">
              {% csrf_token %}
              <button class="btn btn-sm btn-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>

      <p>These are your deleted OpenSAFELY applications.</p>

      <div class="list-group list-unstyled">
        {% for application in deleted_applications %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <p>
            Application {{ application.pk_hash }} started on {{ application.created_at|date }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <form class="ml-2" method="POST" action="{{ application.get_restore_url }}">
              {% csrf_token %}
              <button class="btn btn-sm btn-danger" type="submit">Restore</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
  {% else %}
  <p class="lead">
    You have no applications, <a href="{% url 'applications:start' %}">apply</a> to start one.
  </p>
  {% endif %}
</article>
{% endblock %}
