{% extends "applications_base.html" %}

{% load humanize %}

{% block metatitle %}Apply | OpenSAFELY Jobs{% endblock metatitle %}

{% block content %}
<article class="container" id="applicationForm">
  <div class="row">
    <div class="col">
      {% for page in pages %}
      <hr />
      <div class="d-flex justify-content-between align-items-center">
        <h3 id="{{ page.key }}">{{ page.title }}</h3>
        <a href="{% url 'applications:page' application.pk page.key %}">Change<span class="sr-only"> {{ field.label|lower }}</span></a>
      </div>

      {% for fieldset in page.fieldsets %}
      <h4>{{ fieldset.label }}</h4>

      {% for field in fieldset.fields %}
      <dl class="row mb-1">
        <dt class="col-6 mb-2{% if not field.is_valid %} text-danger{% endif %}">
          {{ field.label }}
          {% if not field.is_valid %}*{% endif %}
        </dt>
        <dd class="col-6">{{ field.value }}</dd>
      </dl>
      {% endfor %}
      {% endfor %}

      {% if page.wizard_page.page_instance.last_reviewed_at is not None %}
      <h2 class="h3 mb-3">OpenSAFELY review</h2>
        <ul>
          <li>
            Page last reviewed at: {{ page.wizard_page.page_instance.last_reviewed_at }}
          </li>

          {% if page.wizard_page.page_instance.is_approved %}
          <li>
            Page approved &checkmark;
          </li>
          {% elif not page.wizard_page.page_instance.is_approved %}
          <li>
            Page not approved &cross;
          </li>
          {% else %}
          <li>
            Page not yet reviewed.
          </li>
          {% endif %}

          {% if page.wizard_page.page_instance.notes %}
          <li>Reviewer's notes:
            <br>
            {{ page.wizard_page.page_instance.notes }}
          </li>
          {% endif %}
        </ul>

      {% endif %}

      {% endfor %}

      <form method="POST">
        {% csrf_token %}
        <button
          class="btn btn-lg btn-success mt-3"
          type="submit"
          {% if not is_valid %}
          disabled
          aria-disabled="true"
          {% endif %}
        >
          Submit
        </button>
      </form>

    </div>
  </div>
</article>
{% endblock %}
