{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="h5">{{ title }}</h2>

      {% if sub_title %}
      <p>{{ sub_title }}</p>
      {% endif %}

      {% if rubric %}
        <div class="d-flex flex-column mb-3">
          {{ rubric }}
        </div>
      {% endif %}

      {% if non_field_errors %}
        {% for error in non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}

        {% for fieldset in fieldsets %}
          <fieldset class="d-flex flex-column mb-4 {% if not forloop.last %}pb-4 border-bottom{% endif %}">
            <legend>
              <h2 class="h3 mb-3">{{ fieldset.label }}</h2>
            </legend>

            {% for field in fieldset.fields %}
              {% include field.template_name with field=field.field label=field.label name=field.name %}
            {% endfor %}
          </fieldset>
        {% endfor %}

        {% if application.has_reached_confirmation %}
        <a class="btn btn-lg btn-success mt-3" href="{% url 'applications:confirmation' application.pk %}" role="button">Return to confirmation</a>
        {% else %}
        <button class="btn btn-lg btn-success mt-3" type="submit" >Continue</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
