{% extends "applications_base.html" %}

{% block metatitle %}Apply: {{ title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'applications:start' %}">Apply</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ title }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ title }}</h1>

    {% if sub_title %}
    <p class="lead">{{ sub_title }}</p>
    {% endif %}
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
{% if progress_percent > 0 %}
<div class="border-bottom pb-4 mb-4 mt-n3">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h5">Your progress</h2>
        <label class="prg" for="progressbar">
          <span class="sr-only">Form progress</span>
          <progress
            class="prg__bar"
            id="progressbar"
            max="100"
            value="{{ progress_percent }}"
          >
          </progress>
        </label>
      </div>
    </div>
  </div>
</div>
{% endif %}

<article class="container" id="applicationForm">
  <div class="row">
    <div class="col-lg-8">

      {% if rubric %}
        <div class="d-flex flex-column mb-3">
          {{ rubric }}
        </div>
      {% endif %}

      {% if non_field_errors %}
        {% for error in non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      {% endif %}

      {% if template_name %}
      {% include template_name %}
      {% else %}
      <form method="POST">
        {% csrf_token %}

        {% for fieldset in fieldsets %}
          <fieldset class="d-flex flex-column mb-4 {% if not forloop.last %}pb-4 border-bottom{% endif %}">
            {% if fieldset.label %}
            <legend class="mb-0">
              <h2 class="h3 mb-3">{{ fieldset.label }}</h2>
            </legend>
            {% endif %}
            {% for field in fieldset.fields %}
              {% include field.template_name with field=field.field label=field.label name=field.name extra_attributes=field.attributes %}
            {% endfor %}
          </fieldset>
        {% endfor %}

        {% if footer %}
          <div class="d-flex flex-column my-2">
            {{ footer }}
          </div>
        {% endif %}

        <button class="btn btn-lg btn-success mt-3" type="submit" >
          Continue
        </button>
      </form>

      <hr>

      {% if page.page_instance.last_reviewed_at is not None %}
      <h2 class="h3 mb-3">OpenSAFELY review</h2>
        <ul>
          <li>
            Page last reviewed at: {{ page.page_instance.last_reviewed_at }}
          </li>

          {% if page.page_instance.is_approved is None %}
          <li>
            Page is still awaiting an approval decision.
          </li>
          {% elif not page.page_instance.is_approved %}
          <li>
            Page not approved &cross;
          </li>
          {% else %}
          <li>
            Page approved &checkmark;
          </li>
          {% endif %}

          {% if page.page_instance.notes %}
          <li>Reviewer's notes:
            <br>
            {{ page.page_instance.notes|linebreaksbr }}
          </li>
          {% endif %}
        </ul>

      {% endif %}
      {% endif %}
    </div>
  </div>
</article>
{% endblock %}
