{% load django_vite %}

<div
  data-auth-token="{{ auth_token }}"
  data-base-path="{{ base_path }}"
  data-csrf-token="{{ csrf_token }}"
  data-files-url="{{ files_url }}"
  data-prepare-url="{{ prepare_url }}"
  data-publish-url="{{ publish_url }}"
  data-review-url="{{ review_url }}"
  id="outputsSPA">
</div>

{% block extra_js %}
  {% if debug %}
  <script type="module" nonce="{{ request.csp_nonce }}">
    import RefreshRuntime from 'http://localhost:5173/static/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  {% endif %}
  {% vite_asset 'assets/src/scripts/outputs-viewer/index.jsx' %}
{% endblock %}
