[flake8]
extend-exclude = .direnv,.github,.ipynb_checkpoints,.pytest_cache,.venv,assets,coverage,doc,htmlcov,node_modules,releases,snippets,static,staticfiles,uploads,venv,release-hatch
extend-select = \
    W504  # match black&PEP8 putting binary operators after new lines
ignore =
    # whitespace before : (black disagrees)
    E203
    # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    E501
    # line break before binary operator (black disagrees)
    W503
max-line-length = 88
per-file-ignores =
    gunicorn.conf.py:INP001
    manage.py:INP001
