/.coverage*
/.env
/.envrc
/.idea
/.ipynb_checkpoints
/.pytest_cache
/.venv/
__pycache__
/assets/dist
/assets/stats.html
/coverage
/docker/staticfiles/*
/docker/assetsout/*
/htmlcov
/jobserver.dump
/jobserver.sqlite.zip
/node_modules
/release-hatch
/releases
/repos
/staticfiles
/uploads
/workspaces
