/.coverage*
/.env
/.envrc
/.idea
/.ipynb_checkpoints
/.pytest_cache
/.venv/
**/*.egg-info/
__pycache__
/all_columns.txt
/assets/dist
/assets/stats.html
/assets/src/scripts/outputs-viewer/coverage
/coverage
/docker/staticfiles/*
/excluded_columns.txt
/htmlcov
/jobserver.dump
/jobserver.sqlite.zip
node_modules
/releases
/repos
/sanitised_jobserver.dump
/staticfiles
/uploads
/workspaces
.playwright-browsers
