default_language_version:
  python: python3.11

repos:
  - repo: local
    hooks:
    - id: format
      name: format
      entry: just format
      language: system
      types: [python]
      require_serial: true
    - id: django-upgrade
      name: django-upgrade
      entry: just django-upgrade
      language: system
      types: [python]
      require_serial: true
    - id: lint
      name: lint
      entry: just lint
      language: system
      types: [python]
      require_serial: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-ast
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: detect-private-key

  - repo: https://github.com/stratasan/hadolint-pre-commit
    rev: cdefcb096e520a6daa9552b1d4636f5f1e1729cd
    hooks:
    - id: hadolint
