-r requirements.txt

black
factory_boy
flake8
flake8-builtins
flake8-implicit-str-concat
isort
pre-commit
pytest-cov
pytest-django
pytest-env
pytest-freezegun
pytest-mock
pytest-network
pytest-subtests
pyupgrade
responses
