attrs<21
django-anymail[mailgun]
django-crispy-forms
django-debug-toolbar
django-extensions
django-permissions-policy
django-rest-framework
django-structlog
django-vite
environs[django]
first
furl
gunicorn
incuna-mail
litecli
python-ulid
pyyaml
requests
sentry-sdk
slack-sdk
social-auth-app-django
whitenoise[brotli]
