--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev
# requirements, install `uv` into your virtual environment and run:
# uv pip compile --generate-hashes requirements.dev.in --output-file # requirements.dev.txt

coverage[toml]
coverage-enable-subprocess
django-debug-toolbar
django-upgrade
djhtml
factory_boy
pre-commit
pytest-django
pytest-env
pytest-freezer
pytest-icdiff
pytest-mock
pytest-playwright
pytest-socket
pytest-xdist[psutil]
responses
ruff
