-c requirements.in
-r requirements.in

black
factory_boy
flake8
flake8-builtins
isort
pre-commit
pytest-cov
pytest-django
pytest-env
pytest-freezegun
pytest-mock
pytest-network
pytest-subtests
pyupgrade
responses
