attrs
django-anymail[mailgun]
django-crispy-forms
django-rest-framework
django-structlog
environs[django]
first
furl
gunicorn
incuna-mail
pyyaml
requests
sentry-sdk
social-auth-app-django
whitenoise

# dev requirements
black
django-debug-toolbar
django-extensions
factory_boy
flake8
isort
litecli
pre-commit
pytest-cov
pytest-django
pytest-env
pytest-freezegun
pytest-network
pytest-subtests
responses
