attrs
dj-database-url
django-crispy-forms
django-rest-framework
django-structlog
environs
furl
gunicorn
pyyaml
requests
sentry-sdk
slackclient
social-auth-app-django
whitenoise

# dev requirements
black
django-debug-toolbar
django-extensions
factory_boy
flake8
isort
litecli
pre-commit
pytest-cov
pytest-django
pytest-env
pytest-freezegun
pytest-subtests
responses
