attrs
django-anymail[mailgun]
django-browser-reload
django-debug-toolbar
django-extensions
django-htmx
django-permissions-policy
django-structlog
django-vite
djangorestframework
environs[django]
first
furl
gunicorn
incuna-mail
itsdangerous
markdown
pgcli
psycopg2-binary
pybadges
pydantic
pygments
python-ulid
pyyaml
requests
sentry-sdk
slack-sdk
social-auth-app-django
whitenoise[brotli]
