argon2-cffi
attrs
django-anymail[mailgun]
django-browser-reload
django-debug-toolbar
django-extensions
django-htmx
django-permissions-policy
django-structlog
django-vite
djangorestframework
environs[django]
first
furl
https://github.com/opensafely-core/pipeline/archive/refs/tags/v0.0.3.zip#egg=opensafely-pipeline
gunicorn
incuna-mail
itsdangerous
markdown
pgcli
psycopg2-binary
pybadges
pydantic
pygments
python-ulid
opentelemetry-exporter-otlp
opentelemetry-instrumentation-django
opentelemetry-sdk
requests
sentry-sdk
slack-sdk
slippers
social-auth-app-django
whitenoise[brotli]
