argon2-cffi
attrs
bs4
django
django-anymail[mailgun]
django-csp
django-extensions
django-htmx
django-permissions-policy
django-structlog
django-vite
djangorestframework
environs[django]
furl
opensafely-pipeline[fastparser]@https://github.com/opensafely-core/pipeline/archive/refs/tags/v2024.10.11.170331.zip
gunicorn
incuna-mail
interactive_templates@https://github.com/opensafely-core/interactive-templates/archive/refs/tags/v2024.07.09.130747.zip
markdown
nh3
psycopg[binary]
pygments
python-ulid
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-instrumentation-django==0.43b0
opentelemetry-instrumentation-requests==0.43b0
opentelemetry-instrumentation-psycopg2==0.43b0
opentelemetry-sdk==1.22.0
requests
sentry-sdk
slack-sdk
slippers
social-auth-app-django
social-auth-core
structlog
# 2.1.0 appears to be causing some problems with exporting
# https://github.com/opensafely-core/job-server/issues/3955
urllib3<=2.2.3
# Serves static files. Dependabot wasn't updating past 6.3.0 for
# unclear reasons, and we want fix #612 from 6.8.0.
whitenoise[brotli]>=6.8.0
xkcdpass
