<div class="max-w-screen-md mx-auto pt-3 pb-6">
  {% if backend_warnings or disable_creating_jobs %}
    {% for backend in backend_warnings %}
      {% #alert variant="warning" title="Backend issue" %}
        Something is wrong with the {{ backend }} backend. Jobs are not being processed.
      {% /alert %}
    {% endfor %}
    {% if disable_creating_jobs %}
      {% #alert variant="warning" title="Job creation issue" %}
        Creating jobs is temporarily unavailable, please try again later.
      {% /alert %}
    {% endif %}
  {% endif %}

  {% #alert variant="warning" title="Backend issue" dismissible=True %}
    Something is wrong with the {{ backend }} backend. Jobs are not being processed.
  {% /alert %}

  {% #alert variant="warning" title="Backend issue" dismissible=True no_icon=True %}
    Something is wrong with the {{ backend }} backend. Jobs are not being processed.
  {% /alert %}

  {% #alert variant="warning" dismissible=True no_icon=True %}
    Something is wrong with the {{ backend }} backend. Jobs are not being processed.
  {% /alert %}
</div>
