<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-lg-2">
  <div class="container px-0 px-sm-3">
    <a class="navbar-brand" href="/">OpenSAFELY Jobs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto mr-2 mt-2 mt-lg-0">
        {% for location in nav %}
        <li class="nav-item {% if location.is_active %}active{% endif %}">
          <a class="nav-link {% if location.is_active %}text-white{% else %}text-light{% endif %}" href="{{ location.url }}">
            {{ location.name }}{% if location.is_active %} <span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        {% endfor %}

      {% if not user.is_authenticated %}
      <li class="nav-item my-2 my-lg-0 ml-lg-2">
        <a class="btn btn-outline-light" href="{{ login_url }}" rel="nofollow">
          Login
        </a>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a
          aria-expanded="false"
          class="text-light nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          id="navbarUserDropdown"
          role="button"
        >
          Account
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarUserDropdown">
          <span class="dropdown-header">
            Logged in as:
            <span class="d-block">
              <strong class="text-break">{{ request.user.username }}</strong>
              {% if request.user.social_auth.exists %}
              via GitHub
              {% endif %}
            </span>
          </span>

          <div class="dropdown-divider"></div>

          {% if user_can_view_staff_area %}
          <a class="dropdown-item" href="{% url 'staff:index' %}">
            🚨 Staff Area 🚨
          </a>
          {% endif %}

          <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
          <a class="dropdown-item" href="{% url 'applications:list' %}">Applications</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
