{% if custom_field == True %}
  {% var label_for=id %}
  {% var input_id=id %}
  {% var input_name=name %}
  {% var input_value=value %}
{% else %}
  {% var label_for=field.id_for_label %}
  {% var input_id=field.auto_id %}
  {% var input_name=field.html_name %}
  {% var input_value=field.value %}
{% endif %}

<label
  for="{{ label_for }}"
  class="w-fit max-w-full flex flex-row gap-x-3 items-start cursor-pointer text-lg group {{ label_class }}"
>
  <input
    {% attrs checked %}
    class="
           scale-125 mt-1 ml-1 transition-colors
           group-hover:bg-oxford-50 group-hover:border-oxford-700
           checked:group-hover:bg-oxford-600 checked:group-hover:border-oxford-600
           checked:bg-oxford-600 checked:border-oxford-600
           focus:ring-0 focus:outline-2 focus:outline-offset-0 focus:outline-yellow-300
           {{ input_class }}
          "
    id="{{ input_id }}"
    name="{{ input_name }}"
    type="checkbox"
    {% if input_value %}value="{{ input_value }}"{% endif %}
  >
  <span class="transition-colors leading-snug group-hover:text-oxford-600 {{ span_class }}">
    {% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}
  </span>
</label>
