{% if custom_field == True %}
  {% var label_for=id %}
  {% var input_id=id %}
  {% var input_name=name %}
  {% var input_value=value %}
  {% var field_errors=errors %}
  {% var hint_text=hint_text %}
{% else %}
  {% var label_for=field.id_for_label %}
  {% var input_id=field.auto_id %}
  {% var input_name=field.html_name %}
  {% var input_value=field.value %}
  {% var field_errors=field.errors %}
  {% var hint_text=field.help_text %}
{% endif %}

<div {% attrs class %}>
  <label
    class="inline-block font-semibold text-lg text-slate-900 cursor-pointer {{ label_class }}"
    for="{{ label_for }}"
  >
    {% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}

    {% if required %}
      <span
        aria-hidden="true"
        class="text-bn-ribbon-700 font-bold"
      >*</span>
    {% endif %}
  </label>

  {% if hint_text and not hint_below %}
    <div class="mb-2 prose prose-sm prose-oxford">
      {{ hint_text }}
    </div>
  {% endif %}

  <div class="relative">
    <input
      {% attrs autocapitalize autocomplete autocorrect inputmode name=input_name placeholder required value=input_value %}
      class="
        mt-1 block w-full rounded-md border-slate-300 text-slate-900 shadow-sm placeholder:text-slate-400
        focus:border-oxford-500 focus:ring-oxford-500
        sm:text-sm
        [&:user-invalid]:border-bn-ribbon-600 [&:user-invalid]:ring-bn-ribbon-600 [&:user-invalid]:ring-1
        {{ input_class }}
      "
      id="{{ input_id }}"
      type="{% if type %}{{ type }}{% else %}text{% endif %}"
    >

    {% if field_errors %}
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
        {% icon_exclamation_circle_mini class="h-4 w-4 text-red-500" %}
      </div>
    {% endif %}
  </div>

  {% if hint_text and hint_below %}
    <div class="mt-2 prose prose-sm prose-oxford">
      {{ hint_text }}
    </div>
  {% endif %}

  {% if field_errors %}
    <ul class="mt-2 text-sm text-bn-ribbon-600">
      {% for error in field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
