{% if id %}
  {% var label_for=id %}
  {% var select_id=id %}
  {% var select_name=name %}
{% else %}
  {% var label_for=field.id_for_label %}
  {% var select_id=field.auto_id %}
  {% var select_name=field.html_name %}
{% endif %}

<div {% attrs class %}>
  <label
    class="inline-block font-semibold text-lg text-slate-900 cursor-pointer"
    for="{{ label_for }}"
  >
    {% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}

    {% if required %}
      <span
        aria-hidden="true"
        class="text-bn-ribbon-700 font-bold"
      >*</span>
    {% endif %}
  </label>

  <div class="relative">
    {% if hint_text and not hint_below %}
      <div class="mb-2 prose prose-sm prose-oxford">
        {{ hint_text }}
      </div>
    {% endif %}

    <select
      {% attrs id=select_id name=select_name required %}
      class="mt-1 block w-full rounded-md border-slate-300 text-slate-900 shadow-sm focus:border-oxford-500 focus:ring-oxford-500 sm:text-sm invalid:border-bn-ribbon-600 invalid:ring-bn-ribbon-600 invalid:ring-1"
    >
      {% for value, label in choices %}
        <option
          {% if selected|stringformat:"s" == value|stringformat:"s" %}
            selected
          {% endif %}
          value="{{ value }}"
        >
          {{ label }}
        </option>
      {% endfor %}
    </select>

    {% if hint_text and hint_below %}
      <div class="mt-2 prose prose-sm prose-oxford">
        {{ hint_text }}
      </div>
    {% endif %}

    {% if field.errors %}
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
        {% icon_exclamation_circle_mini class="h-4 w-4 text-red-500" %}
      </div>
    {% endif %}
  </div>

  {% if field.errors %}
    <ul class="mt-2 text-sm text-bn-ribbon-600">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
