{% extends 'base-tw.html' %}

{% load django_vite %}
{% load humanize %}

{% block content %}
  <div class="prose mx-auto relative">
    <h1>UI Components</h1>
    <p>A gallery for the available components for building OpenSAFELY Jobs pages.</p>

    <details
      class="
        group bg-oxford-50 border border-l-4 border-oxford-700/95 overflow-hidden rounded not-prose
        open:bg-white
      "
      open
    >
      <summary
        class="
          cursor-pointer list-none p-4 py-2 transition-colors
          hover:bg-oxford-100 hover:text-oxford-900
          group-open:border-b
        "
      >
        <span class="text-lg font-semibold text-oxford">
          <span class="group-open:hidden inline-flex">Show</span>
          <span class="group-open:inline-flex hidden">Hide</span>
          components list
        </span>
      </summary>
      <ul
        class="
          m-2 ml-8 pl-2 list-disc
          [&_a]:text-oxford-600 [&_a]:font-semibold [&_a:hover]:text-oxford-900 [&_a:hover]:underline
          [&_ul_li]:list-[circle] [&_ul_li]:ml-4
        "
        id="table-of-contents"
      ></ul>
    </details>
    <hr>

    <section id="alert">
      <h2>Alert</h2>
      <ul>
        <li><code>children</code></li>
        <li><code>class</code></li>
        <li><code>no_icon</code></li>
        <li><code>variant</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-col gap-8 items-center">
          {% #alert variant="warning" title="Attention needed" %}
            This Job has not been updated for over 30 minutes, some of the data on this page could be stale.
          {% /alert %}
          {% #alert variant="info" title="For your information" class="mt-4" no_icon=True %}
            This Job has not been updated for over 30 minutes, some of the data on this page could be stale.
          {% /alert %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% #alert variant="warning" title="Attention needed" %}
  This Job has not been updated for over 30 minutes, some of the data on this page could be stale.
{% /alert %}
{% #alert variant="info" title="For your information" class="mt-4" no_icon=True %}
  This Job has not been updated for over 30 minutes, some of the data on this page could be stale.
{% /alert %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="breadcrumbsSection">
      <h2>Breadcrumbs</h2>

      <h3><code>Breadcrumb item</code></h3>
      <h4>Properties</h4>
      <ul>
        <li><code>active</code>: [boolean] - true if the current page matches this breadcrumb item</li>
        <li><code>location</code>: [string] - shows a tooltip on hvoer displaying the text</li>
        <li><code>title</code>: [string] - the text to display for the breadcrumb</li>
        <li><code>url</code>: [string] - the anchor href for the breadcrumb</li>
      </ul>
      <div class="not-prose mb-4">
        <pre><code class="language-django">{% verbatim breadcrumbs %}{# Title is special, if it is equal to "home" then the home icon will show #}
{% breadcrumb title="Home" url=home_url %}

{# URL will make the breadcrumb contain an anchor link #}
{% breadcrumb location="Organisation" title="Bennett Institute for Applied Data Science" url="#" %}

{# Active will make the breadcrumb not contain a link #}
{% breadcrumb location="Action" title="create_components" active=True %}
{% endverbatim breadcrumbs %}</code></pre>
      </div>
      <hr>

      <h3><code>Breadcrumbs list</code></h3>
      <h4>Properties</h4>
      <ul>
        <li><code>children</code>: display the children components</li>
      </ul>
      <div class="not-prose mb-4">
        <pre><code class="language-django">{% verbatim breadcrumbs_container %}{% #breadcrumbs %}
  {# Children components go here #}
{% /breadcrumbs %}{% endverbatim breadcrumbs_container %}</code></pre>
      </div>

      <div class="not-prose relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">{% #breadcrumbs %}
        {% url 'home' as home_url %}
        {% breadcrumb title="Home" url=home_url %}
        {% breadcrumb location="Organisation" title="Bennett Institute for Applied Data Science" url="#" %}
        {% breadcrumb location="Project" title="UI Components" url="#" %}
        {% breadcrumb location="Workspace" title="Slippers" url="#" %}
        {% breadcrumb location="Job request" title="2022" url="#" %}
        {% breadcrumb location="Action" title="create_components" active=True %}
      {% /breadcrumbs %}</div>
      <div class="not-prose relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
      <pre><code class="language-django">{% verbatim myblock %}{% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Organisation" title="Bennett Institute for Applied Data Science" url="#" %}
    {% breadcrumb location="Project" title="UI Components" url="#" %}
    {% breadcrumb location="Workspace" title="Slippers" url="#" %}
    {% breadcrumb location="Job request" title="2022" url="#" %}
    {% breadcrumb location="Action" title="create_components" active=True %}
  {% /breadcrumbs %}{% endverbatim myblock %}</code></pre></div>

    </section>

    <section id="buttonSection">
      <h2>Button</h2>
      <ul>
        <li><code>children</code></li>
        <li><code>class</code></li>
        <li><code>disabled</code></li>
        <li><code>external</code></li>
        <li><code>href</code></li>
        <li><code>id</code></li>
        <li><code>name</code></li>
        <li><code>tooltip</code></li>
        <li><code>type</code></li>
        <li><code>variant</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% #button type="link" href="#" variant="danger" %}Danger link{% /button %}
          {% #button type="submit" variant="success" %}Submit success{% /button %}
          {% #button tooltip="I am the tooltip" variant="warning" %}Warning with a tooltip{% /button %}
          {% #button disabled=True class="hover:scale-110 transition-transform" %}Disabled button with custom class{% /button %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% #button type="link" href="#" variant="danger" %}Danger link{% /button %}
{% #button type="submit" variant="success" %}Submit success{% /button %}
{% #button tooltip="I am the tooltip" variant="warning" %}Warning with a tooltip{% /button %}
{% #button disabled=True class="hover:scale-110 transition-transform" %}Disabled button with custom class{% /button %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="cardSection">
      <h2>Card</h2>
      <h3>Card</h3>
      <ul>
        <li><code>aria_labelled_by</code></li>
        <li><code>children</code></li>
        <li><code>class</code></li>
        <li><code>container_class</code></li>
        <li><code>container</code></li>
        <li><code>subtitle</code></li>
        <li><code>title</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <pre><code class="language-django">{% verbatim %}{% #card class="bg-red-50" title="Hola mundo" subtitle="Hallo welt" %}{% endverbatim %}
  {% filter force_escape %}<span class="text-bn-ribbon-600">Hello world</span>{% endfilter %}
{% verbatim %}{% /card %}{% endverbatim %}</code></pre>
      </div>
      <h3>Card footer</h3>
      <ul>
        <li><code>children</code></li>
        <li><code>no_container</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <pre><code class="language-django">{% verbatim %}{% #card_footer no_container=False %}{% endverbatim %}
  {% filter force_escape %}<span class="text-bn-egg-500">Hello world</span>{% endfilter %}
{% verbatim %}{% /card %}{% endverbatim %}</code></pre>
      </div>

      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% #card class="bg-red-50" title="Hola mundo" subtitle="Hallo welt" container=True class="w-full max-w-lg mx-auto" %}
            <p class="text-oxford-700 text-lg font-semibold">Hello world</p>
            {% #card_footer %}
              <p class="text-sm text-slate-600">Bonjour le monde</p>
            {% /card_footer %}
          {% /card %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% #card class="bg-red-50" title="Hola mundo" subtitle="Hallo welt" container=True class="w-full max-w-lg mx-auto" %}{% endverbatim %}
  {% filter force_escape %}<p class="text-oxford-700 text-lg font-semibold">Hello world</p>{% endfilter %}
  {% verbatim %}{% #card_footer %}{% endverbatim %}
    {% filter force_escape %}<p class="text-sm text-slate-600">Bonjour le monde</p>{% endfilter %}
  {% verbatim %}{% /card_footer %}{% endverbatim %}
{% verbatim %}{% /card %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="codeSection">
      <h2>Code</h2>
      <ul>
        <li><code>class</code></li>
        <li><code>children</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-white border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% #code %}
            <h1>Hello world!</h1>
            <p>This is a code block</p>
          {% /code %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% #code %}{% endverbatim %}
  {% filter force_escape %}<h1>Hello world!</h1>
  <p>This is a code block</p>{% endfilter %}
{% verbatim %}{% /code %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="descriptionSection">
      <h2>Description Item</h2>
      <ul>
        <li><code>children</code></li>
        <li><code>details_class</code></li>
        <li><code>title</code></li>
        <li><code>title_class</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% #description_item title="This is a title" %}
            <p>This is the child content</p>
          {% /description_item %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% #description_item title="This is a title" %}{% endverbatim %}
  {% filter force_escape %}<p>This is the child content</p>{% endfilter %}
{% verbatim %}{% /description_item %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="footerSection">
      <h2>Footer</h2>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% footer %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% footer %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="formSection">
      <h2>Forms</h2>
      <h3>Input</h3>
      <ul>
        <li><code>autocapitalize</code></li>
        <li><code>autocomplete</code></li>
        <li><code>autocorrect</code></li>
        <li><code>class</code></li>
        <li><code>field</code>
          <ul>
            <li><code>auto_id</code></li>
            <li><code>errors</code></li>
            <li><code>html_name</code></li>
            <li><code>id_for_label</code></li>
            <li><code>label</code></li>
            <li><code>value</code></li>
          </ul>
        </li>
        <li><code>inputmode</code></li>
        <li><code>label</code></li>
        <li><code>required</code></li>
        <li><code>type</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-col gap-y-4 items-start max-w-xl w-full mx-auto">
          {% form_input type="email" label="Email address" required=True field=example_form_email %}
          {% form_input type="text" label="Phone number" inputmode="number" autocapitalize=False autocomplete=False autocorrect=False %}
          {% form_input type="search" label="Search the site"%}
        </div>
        <pre><code class="language-django">{% verbatim %}{% form_input type="email" label="Email address" required=True %}
{% form_input type="text" label="Phone number" inputmode="number" autocapitalize=False autocomplete=False autocorrect=False %}
{% form_input type="search" label="Search the site"%}{% endverbatim %}</code></pre>
      </div>
      <h3>Select</h3>
      <ul>
        <li><code>choices</code></li>
        <li><code>class</code></li>
        <li><code>field</code>
          <ul>
            <li><code>auto_id</code></li>
            <li><code>errors</code></li>
            <li><code>html_name</code></li>
            <li><code>id_for_label</code></li>
            <li><code>label</code></li>
          </ul>
        </li>
        <li><code>label</code></li>
        <li><code>required</code></li>
        <li><code>selected</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        {% form_select class="w-full max-w-lg mx-auto" label="Select a language" required=True field=example_form_select choices=example_form_select.choices selected=example_form_select.value %}
        <pre><code class="language-django">{% verbatim %}{% form_select class="w-full max-w-lg mx-auto" label="Select a language" required=True field=example_form_select choices=example_form_select.choices selected=example_form_select.value %}{% endverbatim %}</code></pre>
      </div>
      <h3>Textarea</h3>
      <ul>
        <li><code>autocapitalize</code></li>
        <li><code>autocomplete</code></li>
        <li><code>autocorrect</code></li>
        <li><code>class</code></li>
        <li><code>field</code>
          <ul>
            <li><code>auto_id</code></li>
            <li><code>errors</code></li>
            <li><code>html_name</code></li>
            <li><code>id_for_label</code></li>
            <li><code>label</code></li>
            <li><code>value</code></li>
          </ul>
        </li>
        <li><code>inputmode</code></li>
        <li><code>label</code></li>
        <li><code>required</code></li>
        <li><code>rows</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        {% form_textarea class="max-w-lg w-full mx-auto" field=example_form_textarea label="Enter a short description of the project" resize=True rows=8 %}
        <pre><code class="language-django">{% verbatim %}{% form_textarea class="max-w-lg w-full mx-auto" field=example_form_textarea label="Enter a short description of the project" resize=True rows=8 %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="headerSection">
      <h2>Header</h2>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="block relative">
          {% header nav=nav %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% header %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="linkSection">
      <h2>Link</h2>
      <ul>
        <li><code>href</code></li>
        <li><code>new_tab</code></li>
        <li><code>text</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% link href="#" new_tab=True text="It's me, a link!" %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% link href="#" new_tab=True text="It's me, a link!" %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="listGroupSection">
      <h2>List group</h2>
      <h3>List group container</h3>
      <ul>
        <li><code>children</code></li>
        <li><code>small</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <pre><code class="language-django">{% verbatim %}{% #list_group %}content in here{% /list_group %}{% endverbatim %}</code></pre>
      </div>
      <h3>List group item</h3>
      <ul>
        <li><code>children</code></li>
        <li><code>href</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        {% #card %}
          {% #list_group %}
            {% #list_group_item href="https://www.example.com/" %}Example dot com{% /list_group_item %}
          {% /list_group %}
        {% /card %}
        <pre><code class="language-django">{% verbatim %}{% #card %}
  {% #list_group %}
    {% #list_group_item href="https://www.example.com/" %}Example dot com{% /list_group_item %}
  {% /list_group %}
{% /card %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="pillSection">
      <h2>Pill</h2>

      <h3>Properties</h3>
      <ul>
        <li><code>children</code></li>
        <li><code>sr_only</code></li>
        <li><code>text</code></li>
        <li><code>variant</code></li>
      </ul>

      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% pill variant="danger" text="Danger" %}
          {% pill variant="info" text="Info" %}
          {% pill variant="primary" text="Primary" %}
          {% pill variant="success" text="Success" %}
          {% pill variant="warning" text="Warning" %}
        </div>

        <pre><code class="language-django">{% verbatim %}{% pill variant="danger" text="Danger" %}
{% pill variant="info" text="Info" %}
{% pill variant="primary" text="Primary" %}
{% pill variant="success" text="Success" %}
{% pill variant="warning" text="Warning" %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="skipLinkSection">
      <h2>Skip link</h2>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          <p>Use the tab key to get the link to show</p>
          {% skip_link %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% skip_link %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="timelineSection">
      <h2>Timeline</h2>
      <h3>Timeline item</h3>
      <ul>
        <li><code>background</code></li>
        <li><code>children</code></li>
        <li><code>content</code></li>
        <li><code>last</code></li>
        <li><code>no_padding_bottom</code></li>
        <li><code>time</code></li>
        <li><code>title</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          {% #card title="Timeline" class="w-full" container=True %}
            <ul class="flow-root">
              {% #timeline_item background="blue" title="Created by the backend:" time=example_date %}
                {% icon_pencil_outline class="h-5 w-5" %}
              {% /timeline_item %}
              {% #timeline_item background="green" title="Accepted by the backend:" time=example_date last=True no_padding_bottom=True %}
                {% icon_check_outline class="h-5 w-5" %}
              {% /timeline_item %}
            </ul>
          {% /card %}
        </div>
        <pre><code class="language-django">{% verbatim %}{% #card title="Timeline" class="w-full" container=True %}{% endverbatim %}
  {% filter force_escape %}<ul class="flow-root">{% endfilter %}
    {% verbatim %}{% #timeline_item background="blue" title="Created by the backend:" time=example_date last=True no_padding_bottom=True %}
      {% icon_pencil_outline class="h-5 w-5" %}
    {% /timeline_item %}{% endverbatim %}
  {% filter force_escape %}</ul>{% endfilter %}
{% verbatim %}{% /card %}{% endverbatim %}</code></pre>
      </div>
    </section>

    <section id="tooltipSection">
      <h2>Tooltip</h2>
      <ul>
        <li><code>class</code></li>
        <li><code>content</code></li>
      </ul>
      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center">
          <div class="relative group cursor-pointer">
            Hover here to see a tooltip
            {% tooltip content="I am the tooltip!" %}
          </div>
        </div>
        <pre><code class="language-django">{% filter force_escape %}<div class="relative group cursor-pointer">
  Hover here to see a tooltip
  {% verbatim %}{% tooltip content="I am the tooltip!" %}{% endverbatim %}
</div>{% endfilter %}</code></pre>
      </div>
    </section>

    {# Template #}
    {# <section> #}
      {# <h2>Title</h2> #}
      {# <ul> #}
        {# <li><code></code></li> #}
      {# </ul> #}
      {# <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-slate-200 border boder-slate-500 rounded"> #}
        {# <div class="flex flex-row gap-x-8 items-center"> #}
          {# {% example_here %} #}
        {# </div> #}
        {# <pre><code class="language-django">{% verbatim %}code here{% endverbatim %}</code></pre> #}
      {# </div> #}
    {# </section> #}
  </div>
{% endblock %}

{% block extra_js %}
  {% vite_asset 'assets/src/scripts/components.js' %}
{% endblock %}
