{% extends 'base-tw.html' %}

{% load django_vite %}

{% block content %}
  <div class="prose mx-auto relative">
    <h1>UI Components</h1>
    <p>A gallery for the available components for building OpenSAFELY Jobs pages.</p>

    <section>
      <h2>Breadcrumbs</h2>

      <h3><code>breadcrumb.html</code></h3>
      <h4>Properties</h4>
      <ul>
        <li><code>active</code>: [boolean] - true if the current page matches this breadcrumb item</li>
        <li><code>location</code>: [string] - shows a tooltip on hvoer displaying the text</li>
        <li><code>title</code>: [string] - the text to display for the breadcrumb</li>
        <li><code>url</code>: [string] - the anchor href for the breadcrumb</li>
      </ul>
      <div class="not-prose mb-4">
        <pre><code class="language-django">{% verbatim breadcrumbs %}{# Title is special, if it is equal to "home" then the home icon will show #}
{% breadcrumb title="Home" url=home_url %}

{# URL will make the breadcrumb contain an anchor link #}
{% breadcrumb location="Organisation" title="Bennett Institute for Applied Data Science" url="#" %}

{# Active will make the breadcrumb not contain a link #}
{% breadcrumb location="Action" title="create_components" active=True %}
{% endverbatim breadcrumbs %}</code></pre>
      </div>
      <hr>

      <h3><code>breadcrumbs-container.html</code></h3>
      <h4>Properties</h4>
      <ul>
        <li><code>children</code>: display the children components</li>
      </ul>
      <div class="not-prose mb-4">
        <pre><code class="language-django">{% verbatim breadcrumbs_container %}{% #breadcrumbs %}
  {# Children components go here #}
{% /breadcrumbs %}{% endverbatim breadcrumbs_container %}</code></pre>
      </div>
      <hr>

      <h3>Example</h3>
      <div class="not-prose relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-white border boder-slate-500 rounded">{% #breadcrumbs %}
        {% url 'home' as home_url %}
        {% breadcrumb title="Home" url=home_url %}
        {% breadcrumb location="Organisation" title="Bennett Institute for Applied Data Science" url="#" %}
        {% breadcrumb location="Project" title="UI Components" url="#" %}
        {% breadcrumb location="Workspace" title="Slippers" url="#" %}
        {% breadcrumb location="Job request" title="2022" url="#" %}
        {% breadcrumb location="Action" title="create_components" active=True %}
      {% /breadcrumbs %}</div>
      <div class="not-prose relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-white border boder-slate-500 rounded">
      <pre><code class="language-django">{% verbatim myblock %}{% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Organisation" title="Bennett Institute for Applied Data Science" url="#" %}
    {% breadcrumb location="Project" title="UI Components" url="#" %}
    {% breadcrumb location="Workspace" title="Slippers" url="#" %}
    {% breadcrumb location="Job request" title="2022" url="#" %}
    {% breadcrumb location="Action" title="create_components" active=True %}
  {% /breadcrumbs %}{% endverbatim myblock %}</code></pre></div>

    </section>

    <hr>

    <section>
      <h2>Pill</h2>

      <h3>Properties</h3>
      <ul>
        <li><code>children</code></li>
        <li><code>sr_only</code></li>
        <li><code>text</code></li>
        <li><code>variant</code></li>
      </ul>

      <div class="not-prose flex flex-col gap-y-8 relative w-screen max-w-5xl left-1/2 -translate-x-1/2 p-8 bg-white border boder-slate-500 rounded">
        <div class="flex flex-row gap-x-8 items-center mx-auto">
          {% pill variant="danger" text="Danger" %}
          {% pill variant="info" text="Info" %}
          {% pill variant="primary" text="Primary" %}
          {% pill variant="success" text="Success" %}
          {% pill variant="warning" text="Warning" %}
        </div>

        <pre><code class="language-django">{% verbatim %}{% pill variant="danger" text="Danger" %}
{% pill variant="info" text="Info" %}
{% pill variant="primary" text="Primary" %}
{% pill variant="success" text="Success" %}
{% pill variant="warning" text="Warning" %}{% endverbatim %}</code></pre>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  {% vite_asset 'assets/src/scripts/highlight.js' %}
{% endblock %}
