<span class="
  inline-flex rounded-full px-2 text-xs font-semibold leading-5
  {% if variant == "warning" %}
    bg-bn-flamenco-200 text-bn-flamenco-900
  {% elif variant == "primary" %}
    bg-blue-200 text-blue-900
  {% elif variant == "danger" %}
    bg-red-200 text-red-900
  {% elif variant == "success" %}
    bg-green-200 text-green-900
  {% elif variant == "info" %}
    bg-white text-slate-600
  {% endif %}
  {{ class }}
">
  {% if sr_only %}
    <span class="sr-only">{{ sr_only }}</span>
  {% endif %}
  {{ text }}
  {{ children }}
</span>
