{% load humanize %}

<li class="relative {% if not no_padding_bottom %}pb-8{% endif %}">
  {% if not last %}
    <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-slate-200" aria-hidden="true"></span>
  {% endif %}
  <div class="relative flex space-x-3">
    <span class="h-8 w-8 rounded-full flex items-center justify-center
      {% if background == "blue" %}
        bg-oxford-400
      {% elif background == "purple" %}
        bg-bn-roman-500
      {% elif background == "green" %}
        bg-green-500
      {% elif background == "yellow" %}
        bg-bn-flamenco-400
      {% elif background == "pink" %}
        bg-bn-ribbon-400
      {% elif background == "stone" %}
        bg-stone-500
      {% elif background == "slate" %}
        bg-slate-500
      {% endif %}
      text-white
    ">
      {{ children }}
    </span>
    <div class="min-w-0 flex-1 flex justify-between space-x-4">
      {% if time or content %}
        <p class="text-sm text-slate-500">
          <span class="block">{{ title }}</span>
          {% if time %}
            <time class="font-medium text-slate-900 group relative cursor-pointer" datetime="{{ time|date:"Y-m-d H:i:sO" }}">
              {{ time|naturaltime }}
              {% tooltip class="font-mono" position="-bottom-4" content=time|date:"d M Y H:i:s e" %}
            </time>
          {% else %}
            <span class="font-medium text-slate-900">
              {{ content }}
            </span>
          {% endif %}
        </p>
      {% else %}
        <p class="text-sm text-slate-500 self-center">{{ title }}</p>
      {% endif %}
    </div>
  </div>
</li>
