{% extends "base.html" %}

{% block metatitle %}Site alerts: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% url "staff:site-alerts:list" as staff_site_alerts_list_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Site alerts" url=staff_site_alerts_list_url %}
    {% if object %}
      {% if object.title %}
        {% breadcrumb title="Alert: "|add:object.title active=True %}
      {% else %}
        {% breadcrumb title="Alert: "|add:object.message|truncatechars:140 active=True %}
      {% endif %}
    {% else %}
      {% breadcrumb title="Add a site alert" active=True %}
    {% endif %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% if object %}
    {% with staff_hero_title=object class="text-ellipsis" %}
      {% if object.title %}
        {% var alert_title=object.title %}
      {% else %}
        {% var alert_title=object.message|truncatechars:140 %}
      {% endif %}
      {% #staff_hero title="Edit site alert: "|add:alert_title %}
        <dl class="flex flex-col gap-2 mt-1">
          <div class="flex flex-row flex-wrap gap-1">
            <dt class="font-semibold">Created by:</dt>
            <dd>{{ object.created_by.name }} on {{ object.created_at|date:"d F Y" }} at {{ object.created_at|date:"H:i" }}</dd>
          </div>
          {% if object.created_at|date:"d F Y H:i:s" != object.updated_at|date:"d F Y H:i:s" %}
            <div class="flex flex-row flex-wrap gap-1">
              <dt class="font-semibold">Updated by:</dt>
              <dd>{{ object.updated_by.name }} on {{ object.updated_at|date:"d F Y" }} at {{ object.updated_at|date:"H:i" }}</dd>
            </div>
          {% endif %}
        </dl>

        {% #modal id="deleteSiteAlert" button_text="Delete" button_variant="danger" request=request %}
          {% #card container=True title="Delete site alert?" %}
            <dd class="mb-4">This cannot be undone.</dd>
            <form method="POST" action="{{ object.delete_url }}">
              {% csrf_token %}

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  {% #alert variant="danger" class="mb-6" %}
                    {{ error }}
                  {% /alert %}
                {% endfor %}
              {% endif %}

              <div class="flex flex-row flex-wrap gap-2">
                {% #button variant="danger" type="submit" %}Confirm{% /button %}
                {% #button variant="info" type="cancel" %}Cancel{% /button %}
              </div>
            </form>
          {% /card %}
        {% /modal %}
      {% /staff_hero %}
    {% endwith %}
  {% else %}
    {% staff_hero title="Add a site alert" %}
  {% endif %}
{% endblock hero %}


{% block content %}
  {% url "staff:site-alerts:list" as staff_site_alerts_list_url %}

  <form method="POST" class="max-w-3xl flex flex-col gap-y-6">
    {% csrf_token %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        {% #alert variant="danger" class="mb-6" %}
          {{ error }}
        {% /alert %}
      {% endfor %}
    {% endif %}

    {% #card container=True container_class="flex flex-col gap-y-6" title="Edit site alert" %}
      {% form_input class="w-full max-w-[65ch]" field=form.title resize=True rows="2" %}
      {% form_textarea class="w-full max-w-[65ch]" field=form.message resize=True rows="8" required %}
      {% form_select field=form.fields.level choices=form.fields.level.choices selected=form.level.value id="id_level" name="level" class="self-start" hint_text=form.fields.level.help_text required %}
      {% #alert variant="warning" %}
        Saved changes will take effect immediately for all authenticated users.
      {% /alert %}
      {% #form_fieldset class="w-full flex flex-row gap-4 items-center" %}
        {% #button variant="success" type="submit" class="self-start" %}
          Save
        {% /button %}
        {% #button variant="danger" type="link" href=staff_site_alerts_list_url class="self-start" %}
          Cancel
        {% /button %}
      {% /form_fieldset %}
    {% /card %}
  </form>
{% endblock %}
