{% if custom_field == True %}
  {% var input_id=id %}
  {% var input_name=name %}
{% else %}
  {% var input_id=field.auto_id %}
  {% var input_name=field.html_name %}
{% endif %}

<div class="multiselect">
  <select data-multiselect data-placeholder="{{ placeholder }}" multiple name="{{ input_name }}" id="{{ input_id }}" {% attrs required %}>
    {% if custom_field == True %}
    {{ children }}
    {% else %}
    {% for value, label in field.field.choices %}
      {% if value in field.value %}
      {% var is_active=True %}
      {% else %}
      {% var is_active=False %}
      {% endif %}
      {% multiselect_option value=value name=label is_active=is_active %}
    {% endfor %}
    {% endif %}
  </select>
</div>
