{% extends "applications/base.html" %}

{% load snippet %}

{% block metatitle %}Apply: Start | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Apply
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div>
        <h1 class="display-4">Apply for research access to OpenSAFELY</h1>

        <p class="lead">
          This form is for researchers requesting access to the
          <a href="https://www.england.nhs.uk/contact-us/privacy-notice/how-we-use-your-information/covid-19-response/coronavirus-covid-19-research-platform/">OpenSAFELY-EMIS/-TPP COVID-19 research platform</a>,
          which has been established by NHS England and NHSX; NHS England is
          the data controller. One lead applicant — the application owner —
          should complete this form on behalf of their research team.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<article class="container" id="applicationForm">
  <div class="row">
    <div class="col-lg-8">
      {% snippet "start_page" %}

      <a class="btn btn-success"
        {% if request.user.is_authenticated %}
        href="{% url 'applications:terms' %}"
        {% else %}
        href="{% url 'applications:sign-in' %}"
        {% endif %}
      >
      Start now
      </a>
    </div>
  </div>
</article>
{% endblock %}
