{% extends "applications/base.html" %}

{% block metatitle %}Applications | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Applications" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
{% #article_header title="Applications" text="Request access to the OpenSAFELY-EMIS/-TPP COVID-19 research platform" %}
  {% url "applications:start" as applications_start_url %}
  {% #button type="link" variant="primary" href=applications_start_url %}
    Start a new application
  {% /button %}
{% /article_header %}

<div class="grid gap-y-8 mt-6">
  {% if applications or deleted_applications %}
    {% if applications %}
      {% #card container=False title="Started applications" subtitle="OpenSAFELY applications that have been started by you" %}
        {% #list_group %}
          {% for application in applications %}
            <li class="flex flex-col gap-y-1 px-4 py-3 sm:px-6">
              <div class="flex flex-row flex-wrap gap-2">
                {% link href=application.get_absolute_url text="Application: "|add:application.pk_hash %}
                <span class="ml-auto">
                  {% if application.status == "approved_fully" or application.status == "approved_subject_to" or application.status == "completed" %}
                    {% pill sr_only="Status:" variant="success" text=application.get_status_display %}
                  {% elif application.status == "submitted" %}
                    {% pill sr_only="Status:" variant="primary" text=application.get_status_display %}
                  {% elif application.status == "ongoing" %}
                    {% pill sr_only="Status:" variant="info" text=application.get_status_display %}
                  {% elif application.status == "rejected" %}
                    {% pill sr_only="Status:" variant="danger" text=application.get_status_display %}
                  {% elif application.status == "deferred" %}
                    {% pill sr_only="Status:" variant="warning" text=application.get_status_display %}
                  {% endif %}
                </span>
                <form method="POST" action="{{ application.get_delete_url }}">
                  {% csrf_token %}
                  {% #button variant="danger" small=True type="submit" %}Delete{% /button %}
                </form>
              </div>
              <span class="text-sm text-slate-800 font-normal">
                Started on: {{ application.created_at|date:"d F Y" }}
              </span>
            </li>
          {% endfor %}
        {% /list_group %}
      {% /card %}
    {% endif %}
    {% if deleted_applications %}
      {% #card container=False title="Deleted applications" subtitle="OpenSAFELY applications that have been deleted by you" %}
        {% #list_group %}
          {% for application in deleted_applications %}
            <li class="flex flex-col gap-y-1 px-4 py-3 sm:px-6">
              <div class="flex flex-row flex-wrap gap-2 justify-between">
                {% link href=application.get_absolute_url text="Application: "|add:application.pk_hash %}
                <form method="POST" action="{{ application.get_restore_url }}">
                  {% csrf_token %}
                  {% #button variant="danger" small=True type="submit" %}Restore{% /button %}
                </form>
              </div>
              <span class="text-sm text-slate-800 font-normal">
                Started on: {{ application.created_at|date:"d F Y" }}
              </span>
            </li>
          {% endfor %}
        {% /list_group %}
      {% /card %}
    {% endif %}
  {% else %}
  {% #card container=False %}
    {% #list_group %}
      {% list_group_empty icon=True title="No applications" description="You have not created any applications" %}
    {% /list_group %}
  {% /card %}
  {% endif %}
</div>
{% endblock %}
