{% extends "applications/base.html" %}

{% load humanize %}

{% block metatitle %}Apply: Check your answers | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}
  {% url "applications:list" as applications_url %}
  {% url "applications:start" as start_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Applications" url=applications_url %}
    {% breadcrumb title="Apply for research access to OpenSAFELY" url=start_url %}
    {% breadcrumb title="Check your answers" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% article_header class="mb-6" title="Check your answers" text="Check the information you've provided before submitting, or make changes." %}

  <div class="grid gap-y-6">
    {% for page in pages %}
      {% url "applications:page" application.pk_hash page.key as page_url %}
      {% #card container=False title=page.title id=page.key button=True button_href=page_url button_text="Change answers" %}
        {% if page.fieldsets %}
          {% for fieldset in page.fieldsets %}
            {% if fieldset.label %}
              <h3 class="text-lg font-semibold px-3 py-2 md:py-4 md:px-6 border-t border-t-slate-200">
                {{ fieldset.label }}
              </h3>
            {% endif %}

            <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
              {% for field in fieldset.fields %}
                {% if not field.is_valid %}
                  {% #description_item stacked=True title=field.label|add:" *" class="!bg-bn-ribbon-50" %}
                    {{ field.value|linebreaksbr }}
                  {% /description_item %}
                {% else %}
                  {% #description_item stacked=True title=field.label %}
                    {{ field.value|linebreaksbr }}
                  {% /description_item %}
                {% endif %}
              {% endfor %}
            </dl>
          {% endfor %}
        {% else %}
          {% for form in researchers %}
            <h3 class="text-lg font-semibold px-3 py-2 md:py-4 md:px-6 border-t border-t-slate-200">
              Researcher: {{ form.name.value }}
            </h3>
            <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
              {% if form.job_title.errors %}
                {% #description_item stacked=True title="Job title"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.job_title.value }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Job title" %}
                  {{ form.job_title.value }}
                {% /description_item %}
              {% endif %}
              {% if form.email.errors %}
                {% #description_item stacked=True title="Email"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.email.value }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Email" %}
                  {{ form.email.value }}
                {% /description_item %}
              {% endif %}
              {% if form.github_username.errors %}
                {% #description_item stacked=True title="GitHub username"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.github_username.value }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="GitHub username" %}
                  {{ form.github_username.value }}
                {% /description_item %}
              {% endif %}
              {% if form.does_researcher_need_server_access.errors %}
                {% #description_item stacked=True title="Do they need access to the results server?"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.does_researcher_need_server_access.value|yesno:"Yes,No"|default_if_none:"Not supplied"}}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Do they need access to the results server?" %}
                  {{ form.does_researcher_need_server_access.value|yesno:"Yes,No"|default_if_none:"Not supplied"}}
                {% /description_item %}
              {% endif %}
              {% if form.telephone.errors %}
                {% #description_item stacked=True title="Phone number"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.telephone.value|default:"Not supplied" }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Phone number" %}
                  {{ form.telephone.value|default:"Not supplied" }}
                {% /description_item %}
              {% endif %}
              {% if form.phone_type.errors %}
                {% #description_item stacked=True title="Type of phone"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.phone_type.value|default:"Not supplied" }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Type of phone" %}
                  {{ form.phone_type.value|default:"Not supplied" }}
                {% /description_item %}
              {% endif %}
              {% if form.has_taken_safe_researcher_training.errors %}
                {% #description_item stacked=True title="Have they undertaken safe researcher training?"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.has_taken_safe_researcher_training.value|yesno:"Yes,No"|default_if_none:"Not supplied" }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Have they undertaken safe researcher training?" %}
                  {{ form.has_taken_safe_researcher_training.value|yesno:"Yes,No"|default_if_none:"Not supplied" }}
                {% /description_item %}
              {% endif %}
              {% if form.training_with_org.errors %}
                {% #description_item stacked=True title="Organisation training completed with"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.training_with_org.value|default:"Not supplied" }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Organisation training completed with" %}
                  {{ form.training_with_org.value|default:"Not supplied" }}
                {% /description_item %}
              {% endif %}
              {% if form.training_passed_at.errors %}
                {% #description_item stacked=True title="Training passed on"|add:" *" class="!bg-bn-ribbon-50" %}
                  {{ form.training_passed_at.value|date:"d F Y"|default:"Not supplied" }}
                {% /description_item %}
              {% else %}
                {% #description_item stacked=True title="Training passed on" %}
                  {{ form.training_passed_at.value|date:"d F Y"|default:"Not supplied" }}
                {% /description_item %}
              {% endif %}
            </dl>
          {% endfor %}
        {% endif %}

        {% if page.wizard_page.page_instance.last_reviewed_at is not None %}
          {% #card_footer class="!bg-bn-sun-50" no_container=True %}
            <h2 class="text-lg font-semibold text-oxford-700">OpenSAFELY review</h2>
            <div class="prose prose-sm prose-oxford">
              <ul>
                <li>
                  Page last reviewed at:
                  {{ page.wizard_page.page_instance.last_reviewed_at }}
                </li>

                {% if page.wizard_page.page_instance.is_approved is None %}
                  <li>Page is still awaiting an approval decision.</li>
                {% elif not page.wizard_page.page_instance.is_approved %}
                  <li class="text-bn-ribbon-800">Page not approved <span aria-hidden="true">&cross;</span></li>
                {% else %}
                  <li>Page approved <span aria-hidden="true">&checkmark;</span></li>
                {% endif %}

                {% if page.wizard_page.page_instance.notes %}
                  <li>Reviewer's notes:
                    <br>
                    {{ page.wizard_page.page_instance.notes|linebreaksbr }}
                  </li>
                {% endif %}
              </ul>
            </div>
          {% /card_footer %}
        {% endif %}

      {% /card %}
    {% endfor %}
  </div>

  <div class="grid gap-y-6">
    {% #card title="Checklist" container=True %}
      <div class="prose prose-oxford">
        <p>
          The following sections must be completed for all types of study.
          If they are not, then your application will be rejected.
        </p>
        <ol>
          <li>Contact details. All sections completed including mobile number and organisation.</li>
          <li>Study Information. Study name and purpose to be fully completed with clear evidence of a Covid-19 related purpose.</li>
          <li>Study Purpose. Simple lay description provided of no more than 300 words with your project meeting at least one of the topic areas listed. Study lead to be listed too.</li>
          <li>Completion of the full research team. All researchers listed in the researcher section who will write code and/or access the results server must have a completed Data Access Agreement form returned to the applications@opensafely.org inbox. Additionally researchers requesting access to the results server must have passed a safe researcher course and the date passed filled in.</li>
          <li>Completion of the Getting Started Tutorial needs to be finished at the point of application submission.</li>
        </ol>

        <p>The following sections must be completed for research.</p>
        <ol>
          <li>Type of study. If your study meets a research focus, evidence of an HRA favourable opinion sent to the <a href="mailto:applications@opensafely.org">applications@opensafely.org</a> inbox.</li>
          <li>Confirmation of support of your study from both the principal investigator and Line Manager detailing that they have read application Study Information and Study Purpose and our <a href="https://www.opensafely.org/about/">Opensafely Principles</a>. Send the confirmation to the <a href="mailto:applications@opensafely.org">applications@opensafely.org</a> inbox.</li>
        </ol>

        The following sections must be completed for service evaluation or audit.
        <ol>
          <li>Confirmation that the study is not research, for example, either by completion of the <a href="https://www.hra-decisiontools.org.uk/research/">HRA Decision toolkit</a> or providing a note from your institutional ethics committee confirming the study is a service evaluation/audit. Send the evidence to the <a href="mailto:applications@opensafely.org">applications@opensafely.org</a> inbox.</li>
          <li>Confirmation of support of your study from both the sponsor and line manager detailing that they have read application Study Information and Study Purpose, and our <a href="https://www.opensafely.org/about/">Opensafely Principles</a>. Send the confirmation to the <a href="mailto:applications@opensafely.org">applications@opensafely.org</a> inbox.</li>
        </ol>

        <p>The following sections must be completed for short data reports.</p>
        <ol>
          <li>Confirmation that the study is not research, for example, either by completion of the <a href="https://www.hra-decisiontools.org.uk/research/">HRA Decision toolkit</a> or providing a note from your institutional ethics committee confirming the study is a service evaluation/audit. Send the evidence to the <a href="mailto:applications@opensafely.org">applications@opensafely.org</a> inbox.</li>
          <li>Confirmation of support of your study from both the sponsor and line manager detailing that they have read application Study Information and Study Purpose, and our <a href="https://www.opensafely.org/about/">Opensafely Principles</a>. Send the confirmation to the <a href="mailto:applications@opensafely.org">applications@opensafely.org</a> inbox.</li>
        </ol>
      </div>
    {% /card %}
  </div>

  <form method="POST" class="mt-6">
    {% csrf_token %}

    {% if not is_valid or not can_be_submitted %}
      {% #button variant="success" type="submit" disabled=True %}
        Submit for approval
      {% /button %}
    {% else %}
      {% #button variant="success" type="submit" %}
        Submit for approval
      {% /button %}
    {% endif %}
  </form>
{% endblock content %}
