<div class="mt-6 pt-6 border-t border-t-slate-300">
  <h2 class="text-3xl leading-tight tracking-tight font-semibold mb-4">
    Researcher details
  </h2>

  {% url "applications:researcher-add" application.pk_hash as researcher_add_url %}
  {% #button class="mb-6" type="link" variant="primary" href=researcher_add_url|add:"?next="|add:request.path %}
    Add new researcher
  {% /button %}

  {% for researcher in application.researcher_registrations.all %}
    {% #card title=researcher.name class="max-w-3xl" %}
      <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
        {% #description_item title="Job title" %}
          {{ researcher.job_title }}
        {% /description_item %}
        {% #description_item title="Email" %}
          {{ researcher.email }}
        {% /description_item %}

        {% #description_item title="Do they need access to the results server?" %}
          {{ researcher.get_does_researcher_need_server_access_display |default_if_none:"Not supplied"}}
        {% /description_item %}
        {% #description_item title="Phone number" %}
          {{ researcher.telephone|default:"Not supplied" }}
        {% /description_item %}
        {% #description_item title="Type of phone" %}
          {{ researcher.get_phone_type_display|default:"Not supplied" }}
        {% /description_item %}

        {% #description_item title="Have they undertaken safe researcher training?" %}
          {{ researcher.get_has_taken_safe_researcher_training_display|default_if_none:"Not supplied" }}
        {% /description_item %}
        {% #description_item title="Organisation training completed with" %}
          {{ researcher.training_with_org|default:"Not supplied" }}
        {% /description_item %}
        {% #description_item title="Training passed on" %}
          {{ researcher.training_passed_at|date:"Y-m-d"|default:"Not supplied" }}
        {% /description_item %}
      </dl>

      {% #card_footer no_container=True %}
        <div class="flex flex-row gap-4 flex-wrap">
          {% #button href=researcher.get_edit_url|add:"?next="|add:request.path type="link" variant="secondary" %}
            Edit researcher details
          {% /button %}
          <form method="POST" action="{{ researcher.get_delete_url }}?next={{ request.path }}">
            {% csrf_token %}
            {% #button variant="danger" type="submit" %}
              Remove researcher
            {% /button %}
          </form>
        </div>
      {% /card_footer %}
    {% /card %}
  {% endfor %}

  <form class="mt-6" method="POST">
    {% csrf_token %}
    {% #button variant="success" type="submit" class="self-start" %}
      Continue
    {% /button %}
  </form>
</div>
