{% extends "applications_base.html" %}

{% load snippet %}

{% block metatitle %}Apply: Terms | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'applications:start' %}">Apply</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Terms
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid pt-md-2">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div>
        <h1 class="display-4">Terms of use of OpenSAFELY</h1>

        <p class="lead">
          This section details the terms of use of OpenSAFELY. By agreeing to
          these terms, you can continue to submit your access request. Please
          review the terms carefully.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<article class="container" id="applicationForm">
  <div class="row">
    <div class="col-lg-8">
      {% snippet "terms" %}

      <form method="POST">
        {% csrf_token %}

        <button class="btn btn-lg btn-success mt-3" type="submit">
          Continue
        </button>
      </form>

    </div>
  </div>
</article>
{% endblock %}
