<form method="POST" action="{% url 'staff:org-add-github-org' slug=org.slug %}">
  {% csrf_token %}

  <div class="form-group d-flex justify-content-between mb-0">
    <input
      type="text"
      class="form-control mr-2"
      id="id_name"
      name="name"
      required
      placeholder="GitHub organisation name"
      />
    <button class="btn btn-primary" type="submit">Save</button>
  </div>

  {% if form.name.errors %}
  <ul class="pl-3 mb-1">
    {% for error in form.name.errors %}
      <li class="text-danger">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

</form>
