{% extends "staff/base.html" %}

{% load humanize %}

{% block metatitle %}{{ analysis_request.title }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:analysis-request-list' %}">Analysis Requests</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ analysis_request.title }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ analysis_request.title }}</h1>

    <ul class="list-unstyled lead">
      <li>
        <strong>Created by:</strong>
        <a href="{{ analysis_request.created_by.get_staff_url }}">{{ analysis_request.created_by.name }}</a>
      </li>

      <li>
        <strong>Created at:</strong> {{ analysis_request.created_at }}
      </li>
      <li>
        <strong>Job request:</strong>
        <a href="{{ analysis_request.job_request.get_absolute_url }}">{{ analysis_request.job_request.pk }}</a>
      </li>
    </ul>

    <div class="d-flex">
      <a class="btn btn-primary mr-1" href="{{ analysis_request.get_absolute_url }}">View on Site</a>
      <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Re-run analysis</button>
      </form>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">
     <section class="card mb-3">
        <div class="card-header">
          <h2 class="card-title mb-0">Details</h2>
        </div>

        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <strong>Purpose</strong>
            <p class="text-muted mb-0 mt-1">
              {% if analysis_request.purpose %}
              {{ analysis_request.purpose }}
              {% else %}
              -
              {% endif %}
            </p>
          </div>
        </div>
      </section>

      <section class="card">
        <div class="card-header">
          <h2 class="card-title mb-0">
            Request data
          </h2>
        </div>
        <div class="card-body">
          {{ analysis_request.template_data|json_script:"analysisRequestData" }}
          <div class="overflow-scroll"><pre class="mb-0"><code class="language-json p-0" id="analysisRequest">{{ analysis_request.template_data|pprint }}</code></pre></div>
        </div>
      </section>
    </div>
    <div class="col col-lg-3 col-xl-4">
      <ul class="list-unstyled">
        <li class="card mb-3">
          <h2 class="card-header h5">
            Organisation
          </h2>
          <p class="card-body mb-0">
            <a href="{{ analysis_request.project.org.get_staff_url }}">{{ analysis_request.project.org.name }}</a>
          </p>
        </li>
        <li class="card mb-3">
          <h2 class="card-header h5">
            Project
          </h2>
          <p class="card-body mb-0">
            <a href="{{ analysis_request.project.get_staff_url }}">{{ analysis_request.project.title }}</a>
          </p>
        </li>
        <li class="card mb-3">
          <h2 class="card-header h5">
            Report
          </h2>
          <p class="card-body mb-0">
            {% if analysis_request.report %}
            <a href="{{ analysis_request.report.get_staff_url }}">{{ analysis_request.report.title }}</a>
            {% else %}
            Not released yet.
            {% endif %}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
