{% extends "staff/base.html" %}

{% load humanize %}
{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Analysis Requests: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Analysis Requests
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Analysis Requests</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:application-list' %}">Clear All</a>
      </div>
      {% endif %}

      {% if request.GET.q %}
      <div class="mb-3">
        <h3 class="h4 mb-0">Search query</h3>
        <code>{{ request.GET.q }}</code>
      </div>
      {% endif %}

      <h3 class="h4">Has Report</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by having a report">
        {% is_filter_selected key="has_report" value="yes" as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring has_report="yes" %}
            {% else %}
              {% url_with_querystring has_report="yes" %}
            {% endif %}
          "
        >
          Yes
        </a>
        {% is_filter_selected key="has_report" value="no" as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring has_report="no" %}
            {% else %}
              {% url_with_querystring has_report="no" %}
            {% endif %}
          "
        >
          No
        </a>
      </div>

      {% if projects %}
      <h3 class="h4">Projects</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by project">
        {% for project in projects %}
        {% is_filter_selected key="project" value=project.slug as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring project=project.slug %}
            {% else %}
              {% url_with_querystring project=project.slug %}
            {% endif %}
          "
        >
            {{ project.title }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if users %}
      <h3 class="h4">Authors</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by author">
        {% for user in users %}
        {% is_filter_selected key="user" value=user.username as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring user=user.username %}
            {% else %}
              {% url_with_querystring user=user.username %}
            {% endif %}
          "
        >
            {{ user.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="col col-lg-9 col-xl-8">
      <form method="GET" class="mb-4">
        <div class="form-inline w-100 d-flex flex-nowrap">
          <label for="requestSearch" class="sr-only">Search by name of request author</label>
          <input
            class="form-control mr-sm-2 w-100"
            id="requestSearch"
            name="q"
            placeholder="Search by name of request author"
            type="search"
            {% if q %}
              value="{{ q }}"
            {% endif %}
          >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>

      <div class="list-group list-unstyled">
        {% for analysis_request in object_list %}
        <a class="list-group-item list-group-item-action" href="{{ analysis_request.get_staff_url }}">
          {{ analysis_request.title }} by {{ analysis_request.created_by.name }}
          <small class="text-muted">(created {{ analysis_request.created_at|date }})</small>
        </a>
        {% endfor %}
      </div>

    </div>

  </div>
</div>
{% endblock content %}
