{% extends "staff/base.html" %}

{% load humanize %}
{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Applications: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Applications
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Applications</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:application-list' %}">Clear All</a>
      </div>
      {% endif %}

      {% if request.GET.q %}
      <div class="mb-3">
        <h3 class="h4 mb-0">Search query</h3>
        <code>{{ request.GET.q }}</code>
      </div>
      {% endif %}

      {% if statuses %}
      <h3 class="h4">Statuses</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by status">
        {% for status in statuses %}
        {% is_filter_selected key="status" value=status.value as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring status=status.value %}
            {% else %}
              {% url_with_querystring status=status.value %}
            {% endif %}
          "
        >
            {{ status.label }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if users %}
      <h3 class="h4">Authors</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by status">
        {% for user in users %}
        {% is_filter_selected key="user" value=user.value as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring user=user.username %}
            {% else %}
              {% url_with_querystring user=user.username %}
            {% endif %}
          "
        >
            {{ user.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="col col-lg-9 col-xl-8">
      <form method="GET" class="mb-4">
        <div class="form-inline w-100 d-flex flex-nowrap">
          <label for="applicationSearch" class="sr-only">Search by name of application author</label>
          <input
            class="form-control mr-sm-2 w-100"
            id="applicationSearch"
            name="q"
            placeholder="Search by name of application author"
            type="search"
            {% if q %}
              value="{{ q }}"
            {% endif %}
          >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
      <div class="list-group list-unstyled">

        {% for application in application_list %}
        <div class="list-group-item">
          <div class="mb-2 d-flex justify-content-between align-items-center">

            {% if not application.is_deleted %}
            <a href="{{ application.get_staff_url }}" class="d-flex align-items-center">
              <span class="mr-3">
                {{ application.pk_hash }} by {{ application.created_by.name }}
                <small class="text-muted">(started {{ application.created_at|date }})</small>
              </span>
            </a>
            {% else %}
            <span class="mr-3 text-secondary text-line-through">
              {{ application.pk_hash }} by {{ application.created_by.name }}
              <small class="text-muted">(started {{ application.created_at|date }})</small>
            </span>
            {% endif %}

            {% if not application.is_deleted %}
            <span>{{ application.get_status_display }}</span>
            {% else %}
            <form method="POST" action="{{ application.get_staff_restore_url }}">
              {% csrf_token %}
              <button class="btn btn-sm btn-danger" type="submit">Restore</button>
            </form>
            {% endif %}

          </div>

          {% if application.submitted_at %}
          <div>
            <small>
              Submitted:
              <time datetime="{{ application.submitted_at }}">{{ application.submitted_at|naturalday }}</time>
            </small>
          </div>
          {% endif %}

          {% if application.project %}
          <div>
            <small>
              <a href="{{ application.project.get_staff_url }}">Project {{ application.project.number }}</a>
            </small>
          </div>
          {% endif %}

          {% if application.status_comment %}
          <p class="mb-0">
            <small class="text-muted">{{ application.status_comment|linebreaksbr }}</small>
          </p>
          {% endif %}

        </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div>
{% endblock content %}
