{% extends "staff/base.html" %}

{% block metatitle %}Application {{ application.pk_hash }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:application-list' %}">Applications</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Application {{ application.pk_hash }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4{% if application.is_deleted %} text-line-through{% endif %}">
      Application {{ application.pk_hash }}
    </h1>

    <ul class="list-unstyled lead">
      {% if application.created_by %}
      <li>
        <strong>Created by:</strong>
        <a href="{{ application.created_by.get_staff_url }}">{{ application.created_by.name }}</a>
      </li>
      {% endif %}

      <li>
        <strong>Created at:</strong> {{ application.created_at }}
      </li>

      {% if application.deleted_by %}
      <li>
        <strong>Deleted by:</strong>
        <a href="{{ application.deleted_by.get_staff_url }}">{{ application.deleted_by.name }}</a>
      </li>
      {% endif %}

      {% if application.deleted_at %}
      <li>
        <strong>Deleted at:</strong> {{ application.deleted_at }}
      </li>
      {% endif %}

      {% if application.approved_by %}
      <li>
        <strong>Approved by:</strong>
        <a href="{{ application.approved_by.get_staff_url }}">{{ application.approved_by.name }}</a>
      </li>
      {% endif %}

      {% if application.approved_at %}
      <li>
        <strong>Approved at:</strong> {{ application.approved_at }}
      </li>
      {% endif %}

      {% if application.project %}
      <li>
        <strong>Project:</strong>
        <a href="{{ application.project.get_staff_url }}">{{ application.project.title }}</a>
      </li>
      {% endif %}
    </ul>

    <div class="d-flex">
      <a class="btn btn-danger mr-1" href="{{ application.get_edit_url }}">Edit</a>
      <form method="POST" action="{{ application.get_staff_delete_url }}">
        {% csrf_token %}
        <button class="btn btn-danger mr-1" type="submit">Delete</button>
      </form>
      <a class="btn btn-primary mr-1" href="{{ application.get_absolute_url }}">View on Site</a>
      <a class="btn btn-primary{% if application.approved_at %} disabled{% endif %}"
        {% if application.approved_at %}
        aria-disabled="true"
        {% endif %}
        href="{{ application.get_approve_url }}">
        Approve
      </a>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col">
          <ul>
            {% for page in pages %}
              <li><a href="#{{ page.key }}">{{ page.title }}</a> ({{ page.status }})</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col">
          <h3>Status</h3>
          <p class="mb-2"><i>{{ application.get_status_display }}</i></p>
          <p>{{ application.status_comment|linebreaksbr }}</p>
        </div>
      </div>

      <form method="post">
        {% csrf_token %}

        {% for page in pages %}
          <hr />
          <div class="d-flex justify-content-between align-items-center">
            <h3 id="{{ page.key }}">{{ page.title }}</h3>
            <a class="btn btn-sm btn-primary"
                href="{% url 'applications:page' application.pk_hash page.key %}">
              View on Site
            </a>
          </div>

          {% if page.started %}
            {% for fieldset in page.fieldsets %}
            <h4>{{ fieldset.label }}</h4>

              {% for field in fieldset.fields %}
              <dl class="row mb-1">
                <dt class="col-6 mb-2">{{ field.label }}</dt>
                <dd class="col-6 text-pre-wrap">{{ field.value|linebreaksbr }}</dd>
              </dl>
              {% endfor %}
            {% endfor %}

            {% include "components/form_textarea.html" with name=page.wizard_page.notes_field_name label="Notes" field=page.wizard_page.get_unbound_approval_form.notes %}
            {% include "components/form_radio.html" with name=page.wizard_page.is_approved_field_name label="Approved?" field=page.wizard_page.get_unbound_approval_form.is_approved %}
            <ul>
              <li>Last reviewed at: {{ page.wizard_page.page_instance.last_reviewed_at|default_if_none:"Never"}}</li>
              <li>Last reviewed by: {{ page.wizard_page.page_instance.reviewed_by|default_if_none:"Not yet reviewed"}}</li>
            </ul>
          {% else %}
          <p>User has not started this page</p>
          {% endif %}
        {% endfor %}

        <h2 class="h3 mt-5">Researchers</h2>

        <div class="list-group list-unstyled">
          {% for researcher in researchers %}
          <div class="d-flex justify-content-between align-items-center list-group-item">
            <span class="mr-3">
              {{ researcher.name }}
              <small class="text-muted">({{ researcher.email }})</small>
            </span>

            <span>
              {% if researcher.daa %}
              <a href="{{ researcher.daa }}">DAA</a>
              {% else %}
              No DAA
              {% endif %}
              |
              GitHub username: {{ researcher.github_username|default:"-" }}
            </span>

            <div>
              <a class="btn btn-sm btn-danger" href="{{ researcher.get_staff_edit_url }}">Edit</a>
              <a class="btn btn-sm btn-primary" href="{{ researcher.get_absolute_url }}?next={{ request.path }}">
                View on Site
              </a>
            </div>
          </div>
          {% endfor %}
        </div>

        <hr />
        <button class="btn btn-lg btn-success mt-3" type="submit">
          Submit review
        </button>
      </form>
    </div>

  </div>
</div>
{% endblock staff_content %}
