{% extends "staff/base-tw.html" %}

{% block metatitle %}Backends: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
{% #breadcrumbs %}
  {% for title, url in breadcrumbs %}
    {% breadcrumb title=title url=url %}
  {% endfor %}
  {% breadcrumb title="Backends" active=True %}
{% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
<div class="bg-bn-ribbon-100 pt-6 pb-8">
  <div class="container">
    {% #article_header title="Backends" %}
      {% url "staff:backend-create" as staff_backend_create_url %}
      {% #button variant="primary" type="link" href=staff_backend_create_url %}
        Create a backend
      {% /button %}
    {% /article_header %}
  </div>
</div>
{% endblock hero %}

{% block content %}
{% #card %}
  {% #list_group %}
    {% for backend in backends %}
      {% #list_group_item href=backend.get_staff_url %}
        {{ backend.name }}
      {% /list_group_item %}
    {% endfor %}
  {% /list_group %}
{% /card %}
{% endblock content %}
