{% extends "staff/base.html" %}

{% block metatitle %}Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item active" aria-current="page">
        Staff area
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Staff area</h1>
    <div class="lead">
      <p>
        The staff area is a tailored, staff-only interface.<br />
        It requires authentication but assumes all users are both equal and have full rights.
      </p>
    </div>

    <p>
      It is ideal for, and tailored towards:
    </p>
    <ul class="mb-0">
      <li>Administration of a live instance</li>
      <li>Speeding up local dev work</li>
    </ul>
  </div>
</div>
{% endblock jumbotron %}


{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="list-group">
        <a href="{% url 'staff:application-list' %}" class="list-group-item list-group-item-action">Applications</a>
        <a href="{% url 'staff:backend-list' %}" class="list-group-item list-group-item-action">Backends</a>
        <a href="{% url 'staff:dashboard:index' %}" class="list-group-item list-group-item-action">Dashboards</a>
        <a href="{% url 'staff:org-list' %}" class="list-group-item list-group-item-action">Organisations</a>
        <a href="{% url 'staff:project-list' %}" class="list-group-item list-group-item-action">Projects</a>
        <a href="{% url 'staff:redirect-list' %}" class="list-group-item list-group-item-action">Redirects</a>
        <a href="{% url 'staff:repo-list' %}" class="list-group-item list-group-item-action">Repos</a>
        <a href="{% url 'staff:user-list' %}" class="list-group-item list-group-item-action">Users</a>
        <a href="{% url 'staff:workspace-list' %}" class="list-group-item list-group-item-action">Workspaces</a>
      </div>
    </div>

    <div class="col-lg-8">

      <form method="GET" class="mb-4">
        <fieldset>
          <legend class="h5">Search the site</legend>
        </fieldset>
        <div class="form-inline w-100 d-flex flex-nowrap">
          <label for="staffSearch" class="sr-only">Search the site</label>
          <input
            aria-label="Search"
            autofocus
            class="form-control form-control-lg mr-sm-2 w-100"
            id="staffSearch"
            name="q"
            placeholder="Search"
            type="search"
            {% if q %}
              value="{{ q|stringformat:'s' }}"
            {% endif %}
          >
          <button class="btn btn-lg btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>

      {% if results %}
      <h2 class="mb-4 pb-4 border-bottom">Results</h2>

      {% for key, group in results %}
      <section class="mb-4 pb-4 border-bottom">
        <h3 class="h4 mb-3">{{ key }}{{ 2|pluralize }}</h3>

        <div class="list-group">
          {% for item in group %}
          <a href="{{ item.get_staff_url }}" class="list-group-item list-group-item-action">{{ item }}</a>
          {% endfor %}
        </div>
      </section>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
{% endblock staff_content %}
