{% extends "staff/base.html" %}

{% block metatitle %}Job Request {{ job_request.pk }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:job-request-list' %}">Job Requests</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ job_request.pk }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ job_request.pk }}</h1>

    <ul class="list-unstyled lead">
      <li>
        <strong>Identifier:</strong> <code>{{ job_request.identifier }}</code>
      </li>
      <li>
        <strong>Created by:</strong>
        <a href="{{ job_request.created_by.get_staff_url }}">{{ job_request.created_by.name }}</a>
      </li>

      <li>
        <strong>Created at:</strong> {{ job_request.created_at }}
      </li>
    </ul>

    <div class="d-flex">
      <a class="btn btn-primary" href="{{ job_request.get_absolute_url }}">View on Site</a>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">

      <h2>Cancelled actions</h2>
      <div class="list-group mb-3">
        {% for action in job_request.cancelled_actions %}
        <div class="list-group-item">
          <code>{{ action }}</code>
        </div>
        {% empty %}
          <p class="list-group-item">No actions have been requested for cancellation</p>
        {% endfor %}
      </div>

      <h2>Requested actions</h2>
      <div class="list-group mb-3">
        {% for action in job_request.requested_actions %}
        <div class="list-group-item">
          <code>{{ action }}</code>
        </div>
        {% endfor %}
      </div>

    </div>
    <div class="col col-lg-3 col-xl-4">
      <ul class="list-unstyled">
        <li class="card mb-3">
          <h2 class="card-header h5">
            Organisation
          </h2>
          <p class="card-body mb-0">
            <a href="{{ job_request.workspace.project.org.get_staff_url }}">{{ job_request.workspace.project.org.name }}</a>
          </p>
        </li>
        <li class="card mb-3">
          <h2 class="card-header h5">
            Project
          </h2>
          <p class="card-body mb-0">
            <a href="{{ job_request.workspace.project.get_staff_url }}">{{ job_request.workspace.project.title }}</a>
          </p>
        </li>
        <li class="card mb-3">
          <h2 class="card-header h5">
            Workspace
          </h2>
          <p class="card-body mb-0">
            <a href="{{ job_request.workspace.get_staff_url }}">{{ job_request.workspace.name }}</a>
          </p>
        </li>
        <li class="card mb-3">
          <h2 class="card-header h5">
            Backend
          </h2>
          <p class="card-body mb-0">
            <a href="{{ job_request.backend.get_staff_url }}">{{ job_request.backend.name }}</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
