{% extends "staff/base.html" %}

{% load humanize %}
{% load querystring_tools %}
{% load selected_filter %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vendor/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block metatitle %}Job Requests: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Job Requests
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Job Requests</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<form method="GET" class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      <div class="mb-4">
        <button class="btn btn-sm btn-success mb-3" type="submit">Apply filters</button>

        {% if request.GET %}
        <div class="mb-3">
          <a href="{% url 'staff:job-request-list' %}">Clear All</a>
        </div>
        {% endif %}
      </div>

      {% if request.GET.q %}
      <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h3 class="h4 mb-0">Search query</h3>
          <small>
            <a href="{% url_without_querystring q="" %}">Clear</a>
          </small>
        </div>
        <code>{{ request.GET.q }}</code>
      </div>
      {% endif %}

      <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h3 class="h4 mb-0">Filter by organisation</h3>
          <small>
            <a
              {% if orgs.is_active %}
              href="{% url_without_querystring orgs="" %}"
              {% else %}
              class="text-muted"
              disabled
              {% endif %}
              >Clear</a>
          </small>
        </div>
        <select id="id_orgs" name="orgs" multiple>
          <option></option>
          {% for org in orgs.items %}
          <option
            value="{{ org.slug }}"
            {% if org.slug in orgs.selected %}selected{% endif %}
            >{{ org.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h3 class="h4 mb-0">Filter by project</h3>
          <small>
            <a
              {% if projects.is_active %}
              href="{% url_without_querystring project="" %}"
              {% else %}
              class="text-muted"
              disabled
              {% endif %}
              >Clear</a>
          </small>
        </div>
        <select id="id_project" name="project">
          <option></option>
          {% for project in projects.items %}
          <option
            value="{{ project.slug }}"
            {% if project.slug == projects.selected %}selected{% endif %}
            >{{ project.title }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h3 class="h4 mb-0">Filter by user</h3>
          <small>
            <a
              {% if users.is_active %}
              href="{% url_without_querystring user="" %}"
              {% else %}
              class="text-muted"
              disabled
              {% endif %}
              >Clear</a>
          </small>
        </div>
        <select id="id_user" name="user">
          <option></option>
          {% for user in users.items %}
          <option
            value="{{ user.username }}"
            {% if user.username == users.selected %}selected{% endif %}
            >{{ user.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h3 class="h4 mb-0">Filter by workspace</h3>
          <small>
            <a
              {% if workspaces.is_active %}
              href="{% url_without_querystring workspace="" %}"
              {% else %}
              class="text-muted"
              disabled
              {% endif %}
              >Clear</a>
          </small>
        </div>
        <select id="id_workspace" name="workspace">
          <option></option>
          {% for workspace in workspaces.items %}
          <option
            value="{{ workspace.name }}"
            {% if workspace.name == workspaces.selected %}selected{% endif %}
            >{{ workspace.name }}</option>
          {% endfor %}
        </select>
      </div>

    </div>

    <div class="col col-lg-9 col-xl-8">
      <div class="form-inline w-100 d-flex flex-nowrap mb-3">
        <label for="requestSearch" class="sr-only">Search by number, (partial) identifier, job (partial) identifier, name of author, workspace, project, or org</label>
        <input
          class="form-control mr-sm-2 w-100"
          id="requestSearch"
          name="q"
          placeholder="Search by number, (partial) identifier, job (partial) identifier, name of author, workspace, project, or org"
          type="search"
          {% if q %}
            value="{{ q }}"
          {% endif %}
        >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>

      <div class="list-group list-unstyled">
        {% for job_request in object_list %}
        <a class="list-group-item list-group-item-action d-flex flex-column align-items-start"
          href="{{ job_request.get_staff_url }}">
          <div>
            {{ job_request.pk }} by {{ job_request.created_by }}
            <small class="text-muted">(created {{ job_request.created_at|date }})</small>
          </div>
          <small class="text-muted">{{ job_request.workspace.name }}</small>
        </a>
        {% endfor %}
      </div>

      <div class="d-flex justify-content-between align-items-center py-2">
        <div>
          {% with enabled=page_obj.has_previous %}
          <a
            {% if enabled %}href="?page=1"{% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            ">First</a>

          <a
            {% if enabled %}
            href="{% url_with_querystring page=page_obj.previous_page_number %}"
            {% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            ">Previous</a>

          {% endwith %}
        </div>

        <div class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

        <div>
          {% with enabled=page_obj.has_next %}
          <a
            {% if enabled %}
            href="{% url_with_querystring page=page_obj.next_page_number %}"
            {% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            "
            >Next</a>
          <a
            {% if enabled %}
            href="{% url_with_querystring page=page_obj.paginator.num_pages %}"
            {% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            "
            >Last</a>
          {% endwith %}
        </div>
      </div>

    </div>

  </div>
</form>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/select2.min.js' %}"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {
    $('#id_orgs').select2({
      multiple: true,
      placeholder: "Select orgs to filter by",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
    $('#id_project').select2({
      placeholder: "Select a project to filter by",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
    $('#id_user').select2({
      placeholder: "Select a user to filter by",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
    $('#id_workspace').select2({
      placeholder: "Select a workspace to filter by",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
  });
</script>
{% endblock %}
