{% extends "staff/base.html" %}

{% load static %}

{% block metatitle %}Edit {{ org.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:org-list' %}">Organisations</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ org.get_staff_url }}">{{ org.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: {{ org.name }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <form class="mb-3" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-lg-8 col-xl-9 order-1 order-lg-0">
        {% csrf_token %}

        {% include "components/form_text.html" with field=form.name label="Org name" name="name" %}
        {% include "components/form_text.html" with field=form.slug label="URL slug" name="slug" %}

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 order-0 order-lg-1">
        <div class="form-group">
          <h2 class="h5 text-center" for="id_logo_file">Logo</h2>
          {% if org.logo_file %}
          <div class="mx-auto w-100 h-100 mb-2 d-flex justify-content-center align-items-center logo-container">
            <img class="bg-light rounded" src="{{ org.logo_file.url }}" />
          </div>
          {% else %}
          <div class="mx-auto w-100 h-100 bg-light mb-2 rounded d-flex justify-content-center align-items-center text-wrap small text-secondary text-center logo-placeholder">
            No logo provided
          </div>
            {% endif %}
          <div class="custom-file">
            <input type="file" id="id_log_file" name="logo_file" class="sr-only" />
            <label class="custom-file-label" for="id_log_file">Choose file</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
  $(document).ready(function () {
    bsCustomFileInput.init()
  })
</script>
{% endblock %}
