{% extends "staff/base-tw.html" %}

{% block metatitle %}Organisations: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% url "staff:index" as staff_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Organisations" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
<div class="bg-bn-ribbon-100 pt-6 pb-8">
  <div class="container">
    {% #article_header title="Organisations" %}
      {% url "staff:org-create" as staff_org_create_url %}
      {% #button variant="primary" type="link" href=staff_org_create_url %}
        Create an organisation
      {% /button %}
    {% /article_header %}
  </div>
</div>
{% endblock hero %}

{% block content %}
{% #card container=True %}
  <form method="GET" class="grid gap-2">
    {% if q %}
      {% var value=q|stringformat:"s" %}
    {% endif %}
    {% form_input custom_field=True type="search" id="orgSearch" name="q" value=value label="Search for an organisation" class="max-w-prose" %}
    {% #button type="submit" variant="primary" class="place-self-start" %}Search{% /button %}
  </form>
  {% if request.GET %}
    <p class="mt-3">
      {% url "staff:org-list" as staff_org_list_url %}
      {% link href=staff_org_list_url text="Clear search" %}
    </p>
  {% endif %}
{% /card %}

{% #card %}
  {% #list_group %}
    {% for org in org_list %}
      {% #list_group_item href=org.get_staff_url %}
        {{ org.name }}
      {% /list_group_item %}
    {% endfor %}
  {% /list_group %}
{% /card %}
{% endblock content %}
