{% extends "staff/base.html" %}

{% block metatitle %}Organisations: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Organisations
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Organisations</h1>

    <div class="d-flex">
      <a class="btn btn-primary" href="{% url 'staff:org-create' %}">
        Create an Organisation
      </a>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:org-list' %}">Clear All</a>
      </div>
      {% endif %}
    </div>

    <div class="col col-lg-9 col-xl-8">
      <form method="GET" class="mb-4">
        <div class="form-inline w-100 d-flex flex-nowrap">
          <label for="orgSearch" class="sr-only">Search by org name</label>
          <input
            class="form-control mr-sm-2 w-100"
            id="orgSearch"
            name="q"
            placeholder="Search by org name"
            type="search"
            {% if q %}
              value="{{ q }}"
            {% endif %}
          >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
      <div class="list-group list-unstyled">
        {% for org in org_list %}
        <a href="{{ org.get_staff_url }}" class="d-flex align-items-center list-group-item list-group-item-action">
          <span class="mr-3">{{ org.name }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
