{% #card container=True title="Add a GitHub Organisation" %}
  <form method="POST" action="{% url 'staff:org-add-github-org' slug=org.slug %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        {% #alert variant="danger" class="mb-6" %}
          {{ error }}
        {% /alert %}
      {% endfor %}
    {% endif %}

    <div class="flex flex-col items-stretch gap-y-6 w-full max-w-3xl mb-6">
      {% form_input custom_field=True id="id_name" label="Organisation name" name="name" placeholder="GitHub Organisation name" show_placeholder=True %}
    </div>

    <div class="flex flex-row flex-wrap gap-2">
      {% #button variant="success" type="submit" %}Add org{% /button %}
      {% #button variant="danger" id="closeModal" %}Cancel{% /button %}
    </div>
  </form>
{% /card %}
