{% extends "staff/base.html" %}

{% load partials %}
{% load static %}

{% startpartial form %}
<form method="POST" hx-post="{{ post_url }}">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <fieldset class="mb-3">
    <legend class="h3 mb-3">Set project details</legend>

    <div class="form-group">
      <label class="font-weight-bold" for="id_org">Select an org</label>
      <select id="id_org" name="org" required class="w-100">
        {% for value, label in form.fields.org.choices %}
          <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>

      {% for error in form.org.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      <label class="font-weight-bold" for="id_copilot">Select a user to co-pilot this project</label>
      <select id="id_copilot" name="copilot" required class="w-100">
        {% for value, label in form.fields.copilot.choices %}
          <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>

      {% for error in form.copilot.errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>

    {% include "components/form_text.html" with field=form.application_url label="Application URL" name="application_url" extra_attributes=application_url_attributes %}

    {% include "components/form_text.html" with field=form.name label="Set the project name" name="name" %}

    {% include "components/form_text.html" with field=form.number label="Set the project number" name="number" extra_attributes=number_attributes %}
  </fieldset>

  <button class="btn btn-success" type="submit">Create</button>
</form>
{% endpartial %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vendor/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block metatitle %}Create an interactive project: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:project-list' %}">Projects</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Create an interactive project
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Create an interactive project</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xl-8">
      <h2 class="sr-only">Create an Interactive Project</h2>

      {% partial form %}

    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/select2.min.js' %}"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {
    $(document).on("select2:open", (e) => {
      const dropdownInput = `.select2-search__field[aria-controls='select2-${e.target.id}-results']`;
      $(dropdownInput).each((key, value) => {
        value.focus();
      });
    });

    $('#id_copilot').select2({
      placeholder: "Select an co-pilot for the project",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });

    $('#id_org').select2({
      placeholder: "Select an org for the project",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
  });
</script>
{% endblock %}
