{% extends "staff/base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vendor/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block metatitle %}Edit {{ project.title }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:project-list' %}">Projects</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ project.get_staff_url }}">{{ project.title }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: {{ project.title }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">
      <form class="mb-3" method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <fieldset>
          {% include "components/form_text.html" with field=form.name label="Project name" name="name" %}
          {% include "components/form_text.html" with field=form.slug label="URL slug" name="slug" %}
          {% include "components/form_text.html" with field=form.number label="Project number" name="number" extra_attributes=extra_field_attributes %}

          <div class="form-group">
            <label class="font-weight-bold" for="id_org">Org</label>

            <select id="id_org" name="org" class="form-control">
              {% for value, label in form.fields.org.choices %}
              <option
                value="{{ value }}"
                {% if form.org.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
              >
                {{ label }}
              </option>
              {% endfor %}
            </select>

            {% for error in form.org.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
        </fieldset>

        <hr />

        <fieldset>
          <legend>Internal co-pilot details</legend>

          <div class="form-group">
            <label class="font-weight-bold" for="id_copilot">Co-pilot</label>

            <select id="id_copilot" name="copilot" class="form-control">
              {% for value, label in form.fields.copilot.choices %}
              <option
                value="{{ value }}"
                {% if form.copilot.value == value %}selected{% endif %}
              >
                {{ label }}
              </option>
              {% endfor %}
            </select>

            {% for error in form.copilot.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="form-group">
            <label class="font-weight-bold" for="id_copilot_support_ends_at">
              Co-pilot support ends at
            </label>

            <input
              type="date"
              class="form-control"
              id="id_copilot_support_ends_at"
              name="copilot_support_ends_at"
              aria-describedby="{{ name }}HelpBlock"
              {% if form.copilot_support_ends_at.value %}
              value="{{ form.copilot_support_ends_at.value|date:"Y-m-d" }}"
              {% endif %}
            />

            {% for error in form.copilot_support_ends_at.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          {% include "components/form_textarea.html" with field=form.copilot_notes label="Co-pilot notes" name="copilot_notes" %}
        </fieldset>

        <hr />

        <fieldset>
          <legend>Internal status</legend>

          <div class="form-group">
            <label class="font-weight-bold" for="id_status">Status</label>

            <select id="id_status" name="status" class="form-control">
              {% for value, label in form.fields.status.choices %}
              <option
                value="{{ value }}"
                {% if form.status.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
              >
                {{ label }}
              </option>
              {% endfor %}
            </select>

            {% for error in form.status.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          {% include "components/form_textarea.html" with field=form.status_description label="Status description" name="status_description" %}
        </fieldset>

        <button class="btn btn-primary" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock staff_content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/select2.min.js' %}"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {
    $('#id_copilot').select2({
      placeholder: "Select a co-pilot",
      theme: "bootstrap4",
    });
  });
</script>
{% endblock %}
