{% extends "staff/base.html" %}

{% load humanize %}

{% block metatitle %}Request to publish {{ publish_request.report.title }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:publish-request-list' %}">Publish requests</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ publish_request.pk }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ publish_request.report.title }}</h1>

    <ul class="list-unstyled lead">
      <li>
        <strong>Created by:</strong>
        <a href="{{ publish_request.created_by.get_staff_url }}">
          {{ publish_request.created_by.name }}
        </a>
      </li>

      <li>
        <strong>Created at:</strong> {{ publish_request.created_at }}
      </li>

      {% if report %}
      <li>
        <strong>Report:</strong>
        <a class="btn btn-sm btn-primary" href="{{ report.get_staff_url }}">
          View
        </a>
      </li>
      {% endif %}

      {% if publish_request.approved_at %}
      <li>
        <strong>Approved by:</strong>
        <a href="{{ publish_request.approved_by.get_staff_url }}">
          {{ publish_request.approved_by.name }}
        </a>
      </li>
      <li>
        <strong>Approved at:</strong> {{ publish_request.approved_at }}
      </li>
      {% endif %}
    </ul>

    <div class="d-flex">
      <form method="POST" action="{{ publish_request.get_approve_url }}">
        {% csrf_token %}

        {% if publish_request.decision %}
        <span
          class="d-inline-block mr-1"
          data-placement="bottom"
          data-toggle="tooltip"
          tabindex="0"
          title="This request already has a decision"
        >
          <button
            class="btn btn-success no-pointer-events"
            disabled
            type="button"
          >Approve</button>
        </span>
        {% else %}
        <button class="btn btn-success mr-1" type="submit">Approve</button>
        {% endif %}
      </form>
      <form method="POST" action="{{ publish_request.get_reject_url }}">
        {% csrf_token %}

        {% if publish_request.decision %}
        <span
          class="d-inline-block mr-1"
          data-placement="bottom"
          data-toggle="tooltip"
          tabindex="0"
          title="This request already has a decision"
        >
          <button
            class="btn btn-danger no-pointer-events"
            disabled
            type="button"
          >Reject</button>
        </span>
        {% else %}
        <button class="btn btn-danger mr-1" type="submit">Reject</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">
     <section class="card mb-3">
        <div class="card-header">
          <h2 class="card-title">Details</h2>
        </div>

        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <strong>Description:</strong>
            <p>
              TODO
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="col col-lg-3 col-xl-4">

      <div class="card mb-3">
        <h2 class="card-header h5">
          Status
        </h2>
        <div class="card-body mb-0">
          {% if publish_request.decision %}
          <p>
            {{ publish_request.get_decision_display }}
          </p>

          <p>
            <strong>Decision maker:</strong>
            <a href="{{ publish_request.decision_by.get_staff_url }}">
              {{ publish_request.decision_by.name }}
            </a>
          </p>

          <p>
            <strong>Decision made:</strong>
            {{ publish_request.decision_at }}
          </p>
          {% else %}
          <p>Pending</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  </div>
</div>
{% endblock content %}
