{% extends "staff/base.html" %}

{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Redirects: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Redirects
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Redirects</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:redirect-list' %}">Clear All</a>
      </div>
      {% endif %}

      {% if request.GET.q %}
      <div class="mb-3">
        <h3 class="h4 mb-0">Search query</h3>
        <code>{{ request.GET.q }}</code>
      </div>
      {% endif %}

      {% if backends %}
      <h3 class="h4">Backends</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by backends">
        {% for backend in backends %}
        {% is_filter_selected key="backend" value=backend.pk as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring backend=backend.pk %}
            {% else %}
              {% url_with_querystring backend=backend.pk %}
            {% endif %}
          "
        >
            {{ backend.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      <h3 class="h4">Object Type</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by object type">
        {% for type in types %}
        {% is_filter_selected key="type" value=type.value as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring type=type.value %}
            {% else %}
              {% url_with_querystring type=type.value %}
            {% endif %}
          "
        >
            {{ type.name|title }}
        </a>
        {% endfor %}
      </div>

      {% if roles %}
      <h3 class="h4">Role</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by role">
        {% for role in roles %}
        {% is_filter_selected key="role" value=role as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring role=role %}
            {% else %}
              {% url_with_querystring role=role %}
            {% endif %}
          "
        >
            {{ role }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if orgs %}
      <h3 class="h4">Orgs</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by orgs">
        {% for org in orgs %}
        {% is_filter_selected key="org" value=org.slug as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring org=org.slug %}
            {% else %}
              {% url_with_querystring org=org.slug %}
            {% endif %}
          "
        >
            {{ org.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

    </div>

    <div class="col-12 col-lg-9 col-xl-8">
      <form class="form d-flex align-items-center mb-4" method="GET">
      <input
        class="form-control mr-2"
        type="search"
        placeholder="Search by old url, analysis, creator, org, project, or workspace"
        aria-label="Search"
        {% if q %}
        value="{{ q }}"
        {% endif %}
        name="q" />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <div class="table-responsive-md table-bordered mb-3">
        <table class="table table-sm mb-0">
          <caption class="sr-only">List of redirects</caption>
          {% for redirect in object_list %}
          <tbody aria-label="{{ redirect.old_url }} redirect">
            <tr>
              <th class="table-active pr-3 w-0" scope="row">Type</th>
              <td>{{ redirect.type }}</td>
              <td rowspan="3" class="align-middle text-center w-0">
                <a href="{{ redirect.get_staff_url }}" class="btn btn-sm btn-primary mx-1">
                  View
                </a>
              </td>
            </tr>
            <tr>
              <th class="table-active" scope="row">From</th>
              <td>
                <a href="{{ redirect.old_url }}">
                  <code>{{ redirect.old_url }}</code>
                </a>
              </td>
            </tr>
            <tr>
              <th class="table-active" scope="row">To</th>
              <td>
                {% with destination_url=redirect.obj.get_absolute_url %}
                <a href="{{ destination_url }}">
                  <code>{{ destination_url }}</code>
                </a>
                {% endwith %}
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>

      <div class="d-flex justify-content-between align-items-center py-2">
        <div>
          {% with enabled=page_obj.has_previous %}
          <a
            {% if enabled %}href="?page=1"{% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            ">First</a>

          <a
            {% if enabled %}
            href="{% url_with_querystring page=page_obj.previous_page_number %}"
            {% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            ">Previous</a>

          {% endwith %}
        </div>

        <div class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

        <div>
          {% with enabled=page_obj.has_next %}
          <a
            {% if enabled %}
            href="{% url_with_querystring page=page_obj.next_page_number %}"
            {% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            "
            >Next</a>
          <a
            {% if enabled %}
            href="{% url_with_querystring page=page_obj.paginator.num_pages %}"
            {% endif %}
            class="
              btn btn-sm btn-primary
              {% if not enabled %}disabled{% endif %}
            "
            >Last</a>
          {% endwith %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
