{% extends "staff/base.html" %}

{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Repos: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Repos
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Repos</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:repo-list' %}">Clear All</a>
      </div>
      {% endif %}

      <h3 class="h4">Has Outputs on GitHub</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by having outputs on GitHub">
        {% is_filter_selected key="has_outputs" value="yes" as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring has_outputs="yes" %}
            {% else %}
              {% url_with_querystring has_outputs="yes" %}
            {% endif %}
          "
        >
          Yes
        </a>
        {% is_filter_selected key="has_outputs" value="no" as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring has_outputs="no" %}
            {% else %}
              {% url_with_querystring has_outputs="no" %}
            {% endif %}
          "
        >
          No
        </a>
      </div>

      <h3 class="h4">Orgs</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by org">
        {% for org in orgs %}
        {% is_filter_selected key="org" value=org.slug as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring org=org.slug %}
            {% else %}
              {% url_with_querystring org=org.slug %}
            {% endif %}
          "
        >
            {{ org.name }}
        </a>
        {% endfor %}
      </div>

    </div>

    <div class="col col-lg-9 col-xl-8">
      <form class="form d-flex align-items-center mb-4" method="GET">
      <input
        class="form-control mr-2"
        type="search"
        placeholder="Search by repo name"
        aria-label="Search"
        {% if q %}
        value="{{ q }}"
        {% endif %}
        name="q" />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      {% if object_list %}
      <div class="list-group list-unstyled">
        {% for repo in object_list %}
        <a href="{{ repo.get_staff_url }}" class="d-flex align-items-center list-group-item list-group-item-action">
          {{ repo.name }}
        </a>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-center">No repos found for this filter.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock staff_content %}
