{% extends "staff/base.html" %}

{% load humanize %}
{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Reports: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Reports
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Reports</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:report-list' %}">Clear All</a>
      </div>
      {% endif %}

      <h3 class="h4">Published?</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by being published">
        {% is_filter_selected key="is_published" value="yes" as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring is_published="yes" %}
            {% else %}
              {% url_with_querystring is_published="yes" %}
            {% endif %}
          "
        >
          Yes
        </a>
        {% is_filter_selected key="is_published" value="requested" as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring is_published="requested" %}
            {% else %}
              {% url_with_querystring is_published="requested" %}
            {% endif %}
          "
        >
          Pending
        </a>
      </div>

      {% if orgs %}
      <h3 class="h4">Orgs</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by org">
        {% for org in orgs %}
        {% is_filter_selected key="org" value=org.slug as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring org=org.slug %}
            {% else %}
              {% url_with_querystring org=org.slug %}
            {% endif %}
          "
        >
            {{ org.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if projects %}
      <h3 class="h4">Projects</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by project">
        {% for project in projects %}
        {% is_filter_selected key="project" value=project.value as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring project=project.value %}
            {% else %}
              {% url_with_querystring project=project.value %}
            {% endif %}
          "
        >
            {{ project.title }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if users %}
      <h3 class="h4">Creators</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by author">
        {% for user in users %}
        {% is_filter_selected key="user" value=user.value as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring user=user.username %}
            {% else %}
              {% url_with_querystring user=user.username %}
            {% endif %}
          "
        >
            {{ user.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="col col-lg-9 col-xl-8">
      <form method="GET" class="mb-4">
        <div class="form-inline w-100 d-flex flex-nowrap">
          <label for="reportSearch" class="sr-only">Search by name of report or author</label>
          <input
            class="form-control mr-sm-2 w-100"
            id="reportSearch"
            name="q"
            placeholder="Search by name of report or author"
            type="search"
            {% if q %}
              value="{{ q }}"
            {% endif %}
          >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>

      <div class="list-group list-unstyled">
        {% for report in object_list %}
        <a class="list-group-item list-group-item-action" href="{{ report.get_staff_url }}">
          {{ report.title }} by {{ report.created_by.name }}
          <small class="text-muted">(created {{ report.created_at|date }})</small>
        </a>
        {% endfor %}
      </div>

    </div>

  </div>
</div>
{% endblock content %}
