{% extends "staff/base.html" %}

{% load humanize %}
{% load static %}

{% block metatitle %}{{ repo.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:repo-list' %}">Repos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ repo.name }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ repo.name }}</h1>

    <ul class="list-unstyled lead">
      <li>
        <strong>GitHub Org:</strong>
        {{ repo.owner }}
      </li>
      <li>
        <strong>Status:</strong>
        <span>
          {% if repo.is_private %}Private{% else %}Public{% endif %}
        </span>
      </li>
    </ul>

    <div class="d-flex">
      <a class="btn btn-primary mr-1" href="{{ repo.url }}">Open on GitHub</a>
      <form method="POST" action="{{ repo.get_staff_sign_off_url }}">
        {% csrf_token %}

        {% if disabled %}
        <span
          class="d-inline-block mr-1"
          data-placement="bottom"
          data-toggle="tooltip"
          tabindex="0"
          title="
            {% if disabled.not_ready %}
            A researcher has not yet signed this repo off
            {% elif disabled.no_permission %}
            The SignOffRepoWithOutputs role is required to sign off repos with outputs on GitHub
            {% elif disabled.already_signed_off %}
            This repo has already been internally signed off
            {% endif %}
          "
        >
          <button
            class="btn btn-danger no-pointer-events"
            disabled
            type="button"
          >Sign off to make public</button>
        </span>
        {% else %}
        <button class="btn btn-danger mr-1" type="submit">Sign off to make public</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">

      <div class="card mb-3">
        <h2 class="card-header">Contacts</h2>

        <div class="card-body mb-0 d-flex justify-content-between align-items-center">
          <code id="contacts" class="mb-0 mr-2">{{ contacts }}</code>
        </div>
      </div>

      <h2>Workspaces</h2>

      {% for workspace in workspaces %}
      <div class="card mb-3">

        <h2 class="card-header h5 d-flex justify-content-between">
          <a href="{{ workspace.get_staff_url }}">{{ workspace.name }}</a>
          {% if workspace.is_archived %}
          <span class="badge badge-secondary">Archived</span>
          {% endif %}
        </h2>

        <div class="card-body mb-0">

          <div>
            <h6>Users</h6>
            <ul class="list-unstyled">
              {% for user in workspace.job_requesting_users %}
              <li>
                <a href="{{ user.get_staff_url }}">{{ user.name }}</a>
                {% if workspace.created_by.pk == user.pk %}
                <span class="badge badge-sm badge-secondary">Creator</span>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div>
            <h6>Signed-off?</h6>
            <p>
            {% if workspace.signed_off_at %}
              By {{ workspace.signed_off_by.name }}
              at {{ workspace.signed_off_at|date:"G:i jS F Y" }}
            {% else %}
            No
            {% endif %}
            </p>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>

    <div class="col col-lg-3 col-xl-4">

      <div class="card mb-3">
        <h2 class="card-header h5">
          Dates
        </h2>
        <div class="card-body mb-0">
          <p>
            <strong>Repo created:</strong>
            <span title="{{ dates.repo_created_at.isoformat }}">{{ dates.repo_created_at }}</span>
          </p>
          <p>
            <strong>Project first job run:</strong>
            {% if dates.first_job_ran_at %}
            <span title="{{ dates.first_job_ran_at.isoformat }}">{{ dates.first_job_ran_at }}</span>
            {% else %}
            <span>-</span>
            {% endif %}
          </p>
          <p>
            <strong>Project last job run:</strong>
            {% if dates.last_job_ran_at %}
            <span title="{{ dates.last_job_ran_at.isoformat }}">{{ dates.last_job_ran_at }}</span>
            {% else %}
            <span>-</span>
            {% endif %}
          </p>
          <p>
            <strong>12 month limit:</strong>
            {% if dates.twelve_month_limit %}
            <span title="{{ dates.twelve_month_limit.isoformat }}">
              {{ dates.twelve_month_limit|naturalday }}
            </span>
            {% else %}
            <span>-</span>
            {% endif %}
          </p>
        </div>
      </div>

      <div class="card mb-3">
        <h2 class="card-header h5">
          Sign-offs
        </h2>
        <div class="card-body mb-0">
          <p>
            <strong>Workspaces:</strong>
            <span>{{ num_signed_off }}/{{ workspaces|length }}</span>
          </p>
          <p>
            <strong>Researcher:</strong>
            {% if repo.researcher_signed_off_at %}
            <span title="{{ repo.researcher_signed_off_at.isoformat }}">
              {{ repo.researcher_signed_off_at }}
            </span>
            {% else %}
            <span>-</span>
            {% endif %}
          </p>
          <p>
            <strong>Internal:</strong>
            {% if repo.internal_signed_off_at %}
            <span title="{{ repo.internal_signed_off_at.isoformat }}">
              {{ repo.internal_signed_off_at }}
            </span>
            {% else %}
            <span>-</span>
            {% endif %}
          </p>
        </div>
      </div>

      <div class="card mb-3">
        <h2 class="card-header h5">
          Project(s)
        </h2>
        <div class="card-body mb-0">
          {% for project in projects %}
          <p>
            <a href="{{ project.get_staff_url }}">{{ project.title }}</a>
          </p>
          {% endfor %}
        </div>
      </div>

      <div class="card mb-3">
        <h2 class="card-header h5">
          Info
        </h2>
        <div class="card-body mb-0">
          <p>
            <strong>Has outputs on GitHub:</strong>
            {% if repo.has_github_outputs %}
            <strong class="text-danger">YES</strong>
            {% else %}
            <span class="text-success">NO</span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}
