{% extends "staff/base.html" %}

{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Users: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Users
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Users</h1>

    <div class="d-flex">
      <a class="btn btn-primary" href="{% url 'staff:user-create' %}">
        Create Interactive User
      </a>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:user-list' %}">Clear All</a>
      </div>
      {% endif %}

      {% if backends %}
      <h3 class="h4">Backends</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by backends">
        {% for backend in backends %}
        {% is_filter_selected key="backend" value=backend.pk as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring backend=backend.pk %}
            {% else %}
              {% url_with_querystring backend=backend.pk %}
            {% endif %}
          "
        >
            {{ backend.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      <h3 class="h4">Missing</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by missing links">
        {% for missing_name in missing_names %}
        {% is_filter_selected key="missing" value=missing_name as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring missing=missing_name %}
            {% else %}
              {% url_with_querystring missing=missing_name %}
            {% endif %}
          "
        >
            {{ missing_name|title }}
        </a>
        {% endfor %}
      </div>

      {% if roles %}
      <h3 class="h4">Role</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by role">
        {% for role in roles %}
        {% is_filter_selected key="role" value=role as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring role=role %}
            {% else %}
              {% url_with_querystring role=role %}
            {% endif %}
          "
        >
            {{ role }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if orgs %}
      <h3 class="h4">Orgs</h3>
      <div class="btn-group-vertical w-100 mb-4" role="group" aria-label="Filter by orgs">
        {% for org in orgs %}
        {% is_filter_selected key="org" value=org.slug as is_active %}
        <a
          {% if is_active %}aria-pressed="true"{% endif %}
          class="btn btn-outline-primary btn-block text-left {% if is_active %}active{% endif %}"
          href="
            {% if is_active %}
              {% url_without_querystring org=org.slug %}
            {% else %}
              {% url_with_querystring org=org.slug %}
            {% endif %}
          "
        >
            {{ org.name }}
        </a>
        {% endfor %}
      </div>
      {% endif %}

    </div>

    <div class="col col-lg-9 col-xl-8">
      <form class="form d-flex align-items-center mb-4" method="GET">
      <input
        class="form-control mr-2"
        type="search"
        placeholder="Search by name or username"
        aria-label="Search"
        {% if q %}
        value="{{ q }}"
        {% endif %}
        name="q" />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <div class="list-group list-unstyled">
        {% for user in object_list %}
        <div class="d-flex justify-content-between align-items-center list-group-item list-group-item-action">

          <a href="{{ user.get_staff_url }}" class="d-flex align-items-center">
            {{ user.username }}
            {% if user.get_full_name %}
            <span class="text-muted ml-2 font-weight-normal">({{ user.get_full_name }})</span>
            {% endif %}
          </a>

          <div>
            {% if user.is_github_user %}

            {% if not user.backend_exists %}
            <span class="badge badge-danger" title="This user is missing a link to 1 or more Backends">
              Backend
            </span>
            {% endif %}

            {% if not user.org_exists %}
            <span class="badge badge-danger" title="This user is missing a link to 1 or more Orgs">
              Org
            </span>
            {% endif %}

            {% if not user.project_exists %}
            <span class="badge badge-warning"title="This user is missing a link to 1 or more Projects">
              Project
            </span>
            {% endif %}

            {% endif %}

          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock staff_content %}
