{% extends "staff/base.html" %}

{% block metatitle %}Edit {{ workspace.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:workspace-list' %}">Workspaces</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ workspace.get_staff_url }}">{{ workspace.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: {{ workspace.name }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">
      <form class="mb-3" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label class="font-weight-bold" for="id_project">Project</label>

          <select id="id_project" name="project" class="form-control">
            {% for value, label in form.fields.project.choices %}
            <option
              value="{{ value }}"
              {% if form.project.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
            >
              {{ label }}
            </option>
            {% endfor %}
          </select>

          {% for error in form.project.errors %}
          <p class="text-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
                type="checkbox"
                class="custom-control-input"
                id="id_is_archived"
                name="is_archived"
                {% if form.is_archived.value %}
                checked
                {% endif %}
                />
            <label class="custom-control-label" for="id_is_archived">
              Archived
            </label>
          </div>
        </div>

        <div class="form-group">
          <fieldset>
            <legend class="pt-3">Feature flags</legend>
            <div class="custom-control custom-checkbox">
              <input
                  type="checkbox"
                  class="custom-control-input"
                  id="id_uses_new_release_flow"
                  name="uses_new_release_flow"
                  {% if form.uses_new_release_flow.value %}
                  checked
                  {% endif %}
                  />
              <label class="custom-control-label" for="id_uses_new_release_flow">
                Use the new Jobs site release process for this workspace
              </label>
            </div>
          </fieldset>
        </div>

        <button class="btn btn-primary" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
