{% extends "staff/base.html" %}

{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Workspaces: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Workspaces
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Workspaces</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-3 col-xl-4">
      <h2 class="h3">Filters</h2>

      {% if request.GET %}
      <div class="mb-3">
        <a href="{% url 'staff:workspace-list' %}">Clear All</a>
      </div>
      {% endif %}

      {% if request.GET.q %}
      <div class="mb-3">
        <h3 class="h4 mb-0">Search query</h3>
        <code>{{ request.GET.q }}</code>
      </div>
      {% endif %}
    </div>

    <div class="col-lg-9 col-xl-8">
      <form class="form d-flex align-items-center mb-3" method="GET">
        <input
          class="form-control mr-2"
          type="search"
          placeholder="Search by name or repo"
          aria-label="Search"
          {% if q %}
          value="{{ q }}"
          {% endif %}
          name="q" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="list-group list-unstyled">
        {% for workspace in workspace_list %}
        <a href="{{ workspace.get_staff_url }}" class="d-flex align-items-center list-group-item list-group-item-action">
          {{ workspace.name }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
