header {
  padding: .5rem 1rem;
}

.job-list .job-request {
  border-bottom: 2px solid #dee2e6;
}
.job-list .job-request:nth-child(2) {
  border-top: 2px solid #dee2e6;
}
.job-list .job-requests .status {
  margin: 0 .5rem;
  width: 16px;
}
.job-list .job-requests .workspace {
  margin-right: .5rem;
  width: 10%;
}
.job-list .job-requests .job-count {
  margin-right: .5rem;
  width: 5%;
}
.job-list .job-requests .action {
  margin-right: .5rem;
  width: 15%;
}
.job-list .job-requests .started-at {
  margin-right: .5rem;
  width: 20%;
}
.job-list .job-requests .runtime {
  margin-right: .5rem;
  min-width: 206px;
  flex-grow: 1;
}
.job-list .spinner svg {
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.job-list .jobs .grid {
  display: grid;
  grid-template-columns: min-content min-content minmax(min-content, 80px) min-content;
  align-items: center;
  border-left: 2px solid grey;
  border-top: 1px solid #dee2e6;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/* Add the ID and Status message columns for larger devices (992px and up) */
@media (min-width: 992px) {
  .job-list .jobs .grid {
    grid-template-columns: min-content min-content min-content minmax(min-content, 80px) 3fr min-content;
  }
}

/*
 * Set a consistent top&bottom padding for Job cells.
 * Use right padding to add horizontal space between cells.
 * Status icon (the first cell) sets its own left padding.
 */
.job-list .jobs .grid > span {
  padding: .25rem 1rem .25rem 0;
}


.workspace-select .list-group {
  border-top: 2px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  max-height: 375px;
}

.filters .list-group-item {
  padding: 0;
}
.filters .list-group-item a:first-child {
  display: inline-block;
  padding: .75rem .25rem .75rem 1.25rem;
}
.filters .list-group-item.active a:first-child {
  color: white;
}
.filters .list-group-item.active a.close {
  display: inline-block;
  margin: .75rem 1.25rem .75rem .25rem;
  opacity: 1;
}
.filters .list-group-item.active a.close span {
  height: 16px;
  text-shadow: none;
  width: 16px;
}
.filters .list-group-item.active a.close span:hover {
  color: white;
}
