header {
  padding: .5rem 1rem;
}

.job-list .job-request {
  border-bottom: 2px solid #dee2e6;
}
.job-list .job-request:nth-child(2) {
  border-top: 2px solid #dee2e6;
}
.job-list .headers .status,
.job-list .job-request .status {
  margin-left: .5rem;
  margin-right: 1rem;
  width: 16px;
}
.job-list .headers .workspace,
.job-list .job-request .workspace {
  margin-right: .5rem;
  width: 10%;
}
.job-list .headers .jobs,
.job-list .job-request .jobs {
  margin-right: .5rem;
  width: 5%;
}
.job-list .headers .action,
.job-list .job-request .action {
  margin-right: .5rem;
  width: 15%;
}
.job-list .headers .started-at,
.job-list .job-request .started-at {
  margin-right: .5rem;
  width: 20%;
}
.job-list .headers .runtime,
.job-list .job-request .runtime {
  margin-right: .5rem;
  min-width: 206px;
  flex-grow: 1;
}


.workspace-select .list-group {
  border-top: 2px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  max-height: 375px;
}

.filters .list-group-item {
  padding: 0;
}
.filters .list-group-item a:first-child {
  display: inline-block;
  padding: .75rem 1.25rem;
}
.filters .list-group-item.active a:first-child {
  color: white;
}
.filters .list-group-item.active a.close {
  display: inline-block;
  margin: .75rem 1.25rem;
  opacity: 1;
}
.filters .list-group-item.active a.close span {
  height: 16px;
  text-shadow: none;
  width: 16px;
}
.filters .list-group-item.active a.close span:hover {
  color: white;
}
