{% extends "base-tw.html" %}

{% load django_vite %}
{% load humanize %}

{% block metatitle %}{{ analysis_request.project.name }} Analysis | OpenSAFELY Jobs{% endblock metatitle %}

{% block extra_meta %}
<meta name="description" content="{{ analysis_request.project.name }} is an OpenSAFELY project from {{ analysis_request.project.org.name }}. Every time a researcher runs their analytic code against patient data, it is audited in public here.">
{% endblock %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=analysis_request.project.org.name url=analysis_request.project.org.get_absolute_url location="Organisation" %}
    {% breadcrumb title=analysis_request.project.name url=analysis_request.project.get_absolute_url location="Project" %}
    {% breadcrumb title="View an analysis" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<div class="mb-5">
  <h1 class="text-3xl tracking-tight break-words sm:text-4xl font-bold text-slate-900">
    Analysis for {{ analysis_request.project.name }}
  </h1>

  {% if not object.publish_request %}
  {% #button type="link" href=analysis_request.get_publish_url variant="success" %}
    Request report is published
  {% /button %}
  {% else %}
  <p>has publish request, {% link href=object.publish_request.get_absolute_url text="View" %}</p>
  {% endif %}

</div>

<div>

  {% #card title="Job Request" class="mb-5" %}
    <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
      {% #description_item title="Workspace" %}
        {% link href=analysis_request.job_request.workspace.get_absolute_url text=analysis_request.job_request.workspace.name %}
      {% /description_item %}

      {% #description_item title="Backend" %}
        {{ analysis_request.job_request.backend.name }}
      {% /description_item %}

      {% #description_item title="Created by" %}
        {% link href=analysis_request.job_request.created_by.get_staff_url text=analysis_request.job_request.created_by.fullname %}
      {% /description_item %}

      {% #description_item title="SHA" %}
        {% link href=analysis_request.job_request.get_repo_url text=analysis_request.job_request.sha|slice:7|default:"-" %}
      {% /description_item %}

      {% #description_item title="Force run deps?" %}
        {{ analysis_request.job_request.force_run_dependencies|yesno }}
      {% /description_item %}

      {% #description_item title="Actions" %}
        {{ analysis_request.job_request.requested_actions }}
      {% /description_item %}
    </dl>
  {% /card %}

  {% #card title="Analysis Request" %}
    <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
      {% #description_item title="Created by" %}
        {% link href=analysis_request.created_by.get_staff_url text=analysis_request.created_by.fullname %}
      {% /description_item %}

      {% #description_item title="Title" %}
        {{ analysis_request.title }}
      {% /description_item %}
    </dl>
  {% /card %}

  {% if report %}
  <div>
    {{ report }}
  </div>
  {% endif %}

</div>
{% endblock %}

{% block extra_js %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [
          ["$", "$"],
          ["\\(", "\\)"],
        ],
        displayMath: [
          ["$$", "$$"],
          ["\\[", "\\]"],
        ],
        processEscapes: true,
        processEnvironments: true,
      },
      // Center justify equations in code and markdown cells. Elsewhere
      // we use CSS to left justify single line equations in code cells.
      displayAlign: "center",
      "HTML-CSS": {
        styles: { ".MathJax_Display": { margin: 0 } },
        linebreaks: { automatic: true },
      },
    });
  </script>

  {% vite_legacy_polyfills %}
{% endblock %}
