{% extends "base.html" %}

{% load django_vite %}
{% load humanize %}

{% block metatitle %}{{ project.name }} | OpenSAFELY Jobs{% endblock metatitle %}
{% block extra_meta %}
<meta name="description" content="{{ project.name }} is an OpenSAFELY project from {{ project.org.name }}. Every time a researcher runs their analytic code against patient data, it is audited in public here.">
{% endblock %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=project.name url=project.get_absolute_url location="Project" %}
    {% breadcrumb title="Request an analysis" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
{{ events|json_script:"codelist_events" }}
{{ medications|json_script:"codelist_medications" }}
<div
  id="osi"
  data-base-path="{{ base_path }}"
  data-csrf-token="{{ csrf_token }}"
  data-events="codelist_events"
  data-medications="codelist_medications"
  data-date-start="{{ start_date }}"
  data-date-end="{{ end_date }}"
>
</div>
{% endblock %}

{% block extra_js %}
  {% if debug %}
  <script type="module" nonce="{{ request.csp_nonce }}">
    import RefreshRuntime from 'http://localhost:5173/static/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  {% endif %}
  {% vite_asset "assets/src/scripts/interactive/main.jsx" %}
{% endblock %}
