<div {% attrs class %}>
  <label
    {% attrs class=label_class name=id %}
    class="inline-block text-sm font-medium text-slate-900 cursor-pointer"
    for="id_{{ name }}"
  >
    {{ label }}
    {% if required %}
      <span
        aria-hidden="true"
        class="text-bn-ribbon-700 font-bold"
      >*</span>
    {% endif %}
  </label>
  <input
    {% attrs class=input_class name required value %}

    class="mt-1 block w-full rounded-md border-slate-300 text-slate-900 shadow-sm focus:border-oxford-500 focus:ring-oxford-500 sm:text-sm invalid:border-bn-ribbon-700 invalid:ring-bn-ribbon-700 invalid:ring-1"
    id="id_{{ name }}"
    name="{{ name }}"

    {% if type %}
      type="{{ type }}"
    {% else %}
      type="text"
    {% endif %}
  >
</div>
