# note: we do not run prod service with Docker Compose, we use it just for
# configuring the production build
services:
  db:
    image: "postgres:13"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: jobserver
    ports:
      - "6543:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 10s
      retries: 5

  # base service, exists to hold common config, but is not actually used directly
  base:
    build:
      context: ..
      # path relative to context
      dockerfile: docker/Dockerfile
      # the prod stage in the Dockerfile
      target: job-server-prod
      args:
        # this makes the image work for later cache_from: usage
        - BUILDKIT_INLINE_CACHE=1
        # env vars supplied by just
        - BUILD_DATE
        - GITREF
        - NODE_VERSION
    environment:
      # anything we run using this docker-compose file is in development, and thus we force the use of the db service.
      - DATABASE_URL=postgres://user:pass@db:5432/jobserver
    # use dockers builitin PID daemon
    init: true
    ports:
      - "8000:8000"

  # prod service. Used to build prod image and run/test it locally
  prod:
    # image name, both locally and public
    image: job-server
    extends:
      service: base
    depends_on:
      db:
        condition: service_healthy
    environment:
      - JOBSERVER_GITHUB_TOKEN=
      - INTERACTIVE_GITHUB_TOKEN=
      - SECRET_KEY=12345
      - SOCIAL_AUTH_GITHUB_KEY=test
      - SOCIAL_AUTH_GITHUB_SECRET=test


  # base development service
  # broken out so we can have a common base for dev and test since depends_on
  # can't be used in the target of an extends
  dev-base:
    extends:
      service: base
    image: job-server-dev
    build:
      # the dev stage in the Dockerfile
      target: job-server-dev
      args:
        # user developer uid:gid in dev
        - USERID=${DEV_USERID:-1000}
        - GROUPID=${DEV_GROUPID:-1000}
    # paths relative to docker-compose.yaml file
    env_file:
      - ../.env
    volumes:
      # Note: paths are relative to the *docker-compose* file
      - ..:/app
      # provides a persistant inspectable cache for staticfiles
      - ./staticfiles:/opt/staticfiles

  dev:
    extends:
      service: dev-base
    depends_on:
      db:
        condition: service_healthy
    # override command
    command: /app/manage.py runserver 0.0.0.0:8000

  # test runner service - uses dev-image with a different commnd
  test:
    extends:
      service: dev-base
    depends_on:
      db:
        condition: service_healthy
    # different default test env
    env_file:
      - ../.test.env
    environment:
      - GITHUB_TOKEN_TESTING
    command: ./scripts/test-coverage.sh

volumes:
  postgres_data:
