{% extends "staff/base.html" %}

{% block metatitle %}Copiloting Dashboard: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% url "staff:dashboards:index" as staff_dashboards_index_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Dashboards" url=staff_dashboards_index_url %}
    {% breadcrumb title="Copiloting" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% staff_hero title="Copiloting" text="Projects with various counts useful to copilots" %}
{% endblock hero %}

{% block full_width_content %}
  <div class="mx-4 lg:mx-6 xl:mx-8">
    {% #card no_container=True %}
      <div class="inline-block min-w-full align-middle overflow-x-auto max-w-full">
        {% #table id="customTable" %}
          {% #table_head class="bg-slate-200" %}
            {% #table_row %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Project
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Organisation
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Co-pilot
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Project status
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Repo status
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Workspaces
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Job requests run
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header data-type="date" data-format="DD MMM YYYY" %}
                <div class="flex flex-row gap-2">
                  First run job
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Files released
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
            {% /table_row %}
          {% /table_head %}

          {% #table_body %}
            {% for project in projects %}
              {% #table_row class="even:bg-slate-50" %}
                {% #table_cell %}
                  <a href="{{ project.get_staff_url }}">
                    {{ project.name }}
                    {% if project.number %} ({{ project.number }}){% endif %}
                  </a>
                {% /table_cell %}
                {% #table_cell %}
                  <a href="{{ project.org.get_staff_url }}">{{ project.org.name }}</a>
                {% /table_cell %}
                {% #table_cell nowrap=True %}
                  {% if project.copilot %}
                    <a href="{{ project.copilot.get_staff_url }}">{{ project.copilot.name }}</a>
                  {% else %}
                    Unknown
                  {% endif %}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.status }}
                {% /table_cell %}
                {% #table_cell %}
                  {% if project.repos|length > 1 %}
                    <details class="group min-w-[25ch]">
                      <summary class="cursor-pointer">
                        <span class="inline group-open:hidden">Show</span>
                        <span class="hidden group-open:inline">Hide</span>
                        {{ project.repos|length }} repos
                      </summary>
                      <ul class="mt-1 pl-2 ml-2 flex flex-col gap-y-1">
                        {% for repo in project.repos %}
                          <li class="flex flex-row row-wrap items-start">
                            <a href="{{ repo.get_staff_url }}">
                              {{ repo.name }}
                            </a>
                            {% if repo.is_private %}
                              {% pill variant="warning" text="Private" class="ml-2" %}
                            {% else %}
                              {% pill variant="success" text="Public" class="ml-2" %}
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </details>
                    {# Duplicate for the search filter to work #}
                    <ul class="h-0 w-0 overflow-hidden" aria-hidden="true">
                      {% for repo in project.repos %}
                        <li><a href="{{ repo.get_staff_url }}">{{ repo.name }}</a></li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {% for repo in project.repos %}
                      {% if repo.is_private %}
                        {% pill variant="warning" text="Private" %}
                      {% else %}
                        {% pill variant="success" text="Public" %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.workspace_count }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.job_request_count }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.date_first_run|date:"d M Y" }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.files_released_count }}
                {% /table_cell %}
              {% /table_row %}
            {% endfor %}
          {% /table_body %}
        {% /table %}
        {% table_pagination has_previous=True has_next=True next_url="#" prev_url="#" %}
      </div>
    {% /card %}
  </div>
{% endblock full_width_content %}
