{% extends "staff/base-tw.html" %}

{% block metatitle %}Dashboards: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
{% #breadcrumbs %}
  {% url "home" as home_url %}
  {% url "staff:index" as staff_url %}
  {% breadcrumb title="Home" url=home_url %}
  {% breadcrumb title="Staff area" url=staff_url %}
  {% breadcrumb title="Dashboards" active=True %}
{% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
<div class="bg-bn-ribbon-100 pt-6 pb-8">
  <div class="container">
    {% article_header title="Dashboards" %}
  </div>
</div>
{% endblock hero %}

{% block content %}
{% #card %}
  {% #list_group %}
    {% url "staff:dashboards:copiloting" as staff_dashboards_copiloting_url %}
    {% #list_group_rich_item type="Dashboard" title="Copiloting" url=staff_dashboards_copiloting_url %}
      <p>Projects with various counts useful to copilots</p>
    {% /list_group_rich_item %}

    {% url "staff:dashboards:projects" as staff_dashboards_projects_url %}
    {% #list_group_rich_item type="Dashboard" title="Projects" url=staff_dashboards_projects_url %}
      <p>All projects on the platform</p>
    {% /list_group_rich_item %}

    {% url "staff:dashboards:repos" as staff_dashboards_repos_url %}
    {% #list_group_rich_item type="Dashboard" title="Repos" url=staff_dashboards_repos_url %}
      <p>All private repos attached to one or more workspaces, where code was first run more than 11 months ago</p>
    {% /list_group_rich_item %}

    {% url "staff:dashboards:repos-with-multiple-projects" as staff_dashboards_repos_projects_url %}
    {% #list_group_rich_item type="Dashboard" title="Repos with multiple projects" url=staff_dashboards_repos_projects_url %}
      <p>Repos with multiple projects</p>
    {% /list_group_rich_item %}
  {% /list_group %}
{% /card %}
{% endblock content %}
