{% extends "staff/base.html" %}

{% block metatitle %}Projects Dashboard: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% url "staff:dashboards:index" as staff_dashboards_index_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Dashboards" url=staff_dashboards_index_url %}
    {% breadcrumb title="Projects" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% staff_hero title="Projects" text="A list of all projects on OpenSAFELY" %}
{% endblock hero %}

{% block full_width_content %}
  <div class="mx-4 lg:mx-6 xl:mx-8">
    {% #card no_container=True %}
      <div class="inline-block min-w-full align-middle overflow-x-auto max-w-full">
        {% #table id="customTable" %}
          {% #table_head class="bg-slate-200" %}
            {% #table_row %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Project
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Organisation(s)
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Co-pilot
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Workspaces
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Job requests run
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header data-type="date" data-format="DD MMM YYYY" %}
                <div class="flex flex-row gap-2">
                  Job first run
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Total files released
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
            {% /table_row %}
          {% /table_head %}

          {% #table_body %}
            {% for project in projects %}
              {% #table_row class="even:bg-slate-50" %}
                {% #table_cell %}
                  <a href="{{ project.get_staff_url }}">
                    {{ project.name }}
                    {% if project.number %} ({{ project.number }}){% endif %}
                  </a>
                {% /table_cell %}
                {% #table_cell %}
                  <a href="{{ project.org.get_staff_url }}">{{ project.org.name }}</a>
                  {% if project.org_count > 1 %}
                    <details>
                      <summary>
                        <span class="summary--show">Show</span>
                        <span class="summary--hide">Hide</span>
                        {{ project.org_count }} organisations
                      </summary>
                      <ul class="mt-1 mb-0 pl-2 ml-2">
                        {% for org in project.orgs %}
                          <li>
                            <a href="{{ org.get_staff_url }}">{{ org.name }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </details>
                  {% else %}
                    {% for org in project.orgs %}
                      <a href="{{ org.get_staff_url }}">{{ org.name }}</a>
                    {% endfor %}
                  {% endif %}
                {% /table_cell %}
                {% #table_cell nowrap=True %}
                  {% if project.copilot %}
                    <a href="{{ project.copilot.get_staff_url }}">{{ project.copilot.name }}</a>
                  {% else %}
                    Unknown
                  {% endif %}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.workspace_count }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.job_request_count }}
                {% /table_cell %}
                {% #table_cell nowrap=True %}
                  {{ project.date_first_run|date:"d M Y" }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ project.files_released_count }}
                {% /table_cell %}
              {% /table_row %}
            {% endfor %}
          {% /table_body %}
        {% /table %}
        {% table_pagination has_previous=True has_next=True next_url="#" prev_url="#" %}
      </div>
    {% /card %}
  </div>
{% endblock full_width_content %}
