{% extends "staff/base.html" %}

{% block metatitle %}Repos: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% url "staff:dashboards:index" as staff_dashboards_index_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Dashboards" url=staff_dashboards_index_url %}
    {% breadcrumb title="OpenSAFELY Private Repos" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% staff_hero title="OpenSAFELY Private Repos" text="This table contains all private repos attached to one or more workspaces, where code was first run more than 11 months ago." %}
{% endblock hero %}

{% block full_width_content %}
  <div class="mx-4 lg:mx-6 xl:mx-8">
    {% #card no_container=True %}
      <div class="inline-block min-w-full align-middle overflow-x-auto max-w-full">
        {% #table id="customTable" %}
          {% #table_head class="bg-slate-200" %}
            {% #table_row %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Repo
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Projects
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Workspaces
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Contact
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header data-type="date" data-format="DD MMM YYYY" %}
                <div class="flex flex-row gap-2">
                  Created
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header data-type="date" data-format="DD MMM YYYY" %}
                <div class="flex flex-row gap-2">
                  Job first run
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Files released to GitHub
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
              {% #table_header %}
                <div class="flex flex-row gap-2">
                  Sign-offs
                  <span class="ml-auto">
                    {% icon_arrows_up_down_mini class="h4 w-4 datatable-icon--no-sort" %}
                    {% icon_arrow_up_mini class="h4 w-4 datatable-icon--ascending" %}
                    {% icon_arrow_down_mini class="h4 w-4 datatable-icon--descending" %}
                  </span>
                </div>
              {% /table_header %}
            {% /table_row %}
          {% /table_head %}

          {% #table_body %}
            {% for repo in repos %}
              {% #table_row class="even:bg-slate-50" %}
                {% #table_cell %}
                <a href="{% url 'staff:repo-detail' repo_url=repo.quoted_url %}">{{ repo.name }}</a>
                {% /table_cell %}
                {% #table_cell %}
                    <details class="group">
                      <summary class="cursor-pointer">
                        <span class="inline group-open:hidden">Show</span>
                        <span class="hidden group-open:inline">Hide</span>
                      {{ repo.projects|length }} projects
                    </summary>
                    <ul class="list-disc mt-1 pl-2 ml-2">
                      {% for project in repo.projects %}
                      <li><a href="{{ project.get_staff_url }}">{{ project.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </details>
                  {# Duplicate for the search filter to work #}
                  <ul class="h-0 w-0 overflow-hidden" aria-hidden="true">
                    {% for project in repo.projects %}
                      <li><a href="{{ project.get_staff_url }}">{{ project.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% /table_cell %}
                {% #table_cell %}
                  {% if repo.workspaces|length > 1 %}
                    <details class="group">
                      <summary class="cursor-pointer">
                        <span class="inline group-open:hidden">Show</span>
                        <span class="hidden group-open:inline">Hide</span>
                        {{ repo.workspaces|length }} workspaces
                      </summary>
                      <ul class="list-disc mt-1 pl-2 ml-2">
                        {% for workspace in repo.workspaces %}
                        <li><a href="{{ workspace.get_staff_url }}">{{ workspace.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </details>
                    {# Duplicate for the search filter to work #}
                    <ul class="h-0 w-0 overflow-hidden" aria-hidden="true">
                      {% for workspace in repo.workspaces %}
                        <li><a href="{{ workspace.get_staff_url }}">{{ workspace.name }}</a></li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {% for workspace in repo.workspaces %}
                      <a href="{{ workspace.get_staff_url }}">
                        {{ workspace.name }}
                      </a>
                    {% endfor %}
                  {% endif %}
                {% /table_cell %}
                {% #table_cell %}
                  {% link href=repo.contact.get_staff_url text=repo.contact.name %}
                {% /table_cell %}
                {% #table_cell %}
                  {{ repo.created_at|date:"d M Y" }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ repo.first_run|date:"d M Y" }}
                {% /table_cell %}
                {% #table_cell %}
                  {% if repo.has_github_outputs %}
                    {% pill variant="danger" text="Yes" %}
                  {% else %}
                    {% pill variant="success" text="No" %}
                  {% endif %}
                {% /table_cell %}
                {% #table_cell %}
                  {{ repo.signed_off }}/{{ repo.workspaces|length }}
                {% /table_cell %}
              {% /table_row %}
            {% endfor %}
          {% /table_body %}
        {% /table %}
        {% table_pagination has_previous=True has_next=True next_url="#" prev_url="#" %}
      </div>
    {% /card %}
  </div>
{% endblock full_width_content %}
