<footer id="footer" class="flex-shrink-0 border-top bg-light mt-3 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline text-center">
          <li class="list-inline-item pb-3 mr-lg-5">
            <a href="https://docs.opensafely.org/">
              Documentation
            </a>
          </li>

          <li class="list-inline-item pb-3 mr-lg-5">
            <a href="https://www.opensafely.org/">
              OpenSAFELY
            </a>
          </li>

          <li class="list-inline-item pb-3 mr-lg-5">
            <a href="https://www.opencodelists.org/">
              OpenCodelists
            </a>
          </li>

          <li class="list-inline-item pb-3 mr-lg-5">
            <a href="https://www.thedatalab.org/">
              The DataLab
            </a>
          </li>

          <li class="list-inline-item pb-3">
            <a href="https://www.ox.ac.uk/">
              University of Oxford
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center">
        <p class="m-0">&copy; University of Oxford for the DataLab {% now 'Y' %}. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to <a href="mailto:ebmdatalab@phc.ox.ac.uk">ebmdatalab@phc.ox.ac.uk</a>.</p>
      </div>
    </div>
  </div>
</footer>
