<footer id="footer" class="flex-shrink-0 border-top bg-light mt-5 py-5">
  <div class="container">
    <ul class="list-inline text-center d-flex flex-column flex-md-row justify-content-center mb-0 mb-md-3">
      <li class="list-inline-item mb-3 mb-md-0 mr-0 mr-md-5">
        <a href="https://docs.opensafely.org/">
          Documentation
        </a>
      </li>

      <li class="list-inline-item mb-3 mb-md-0 mr-0 mr-md-5">
        <a href="https://www.opensafely.org/">
          OpenSAFELY
        </a>
      </li>

      <li class="list-inline-item mb-3 mb-md-0">
        <a href="https://www.opencodelists.org/">
          OpenCodelists
        </a>
      </li>
    </ul>

    <ul class="list-inline text-center d-flex flex-column flex-md-row justify-content-center">
      <li class="list-inline-item mb-3 mb-md-0 mr-0 mr-md-5">
        <a href="https://www.bennett.ox.ac.uk/">
          Bennett Institute for Applied Data Science
        </a>
      </li>

      <li class="list-inline-item mb-3 mb-md-0">
        <a href="https://www.ox.ac.uk/">
          University of Oxford
        </a>
      </li>
    </ul>

    <div class="row">
      <p class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center">&copy; University of Oxford for the Bennett Institute for Applied Data Science {% now 'Y' %}. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to <a href="mailto:bennett@phc.ox.ac.uk">bennett@phc.ox.ac.uk</a>.</p>
      <p class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center mb-0"><a href="https://www.opensafely.org/privacy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a></p>
    </div>
  </div>
</footer>
