.datatable-table#customTable {
  min-width: 100%;

  & thead {
    background-color: var(--color-slate-200);
  }

  & th {
    color: var(--color-slate-900);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-align: left;
    white-space: nowrap;
    width: auto !important;

    & button {
      padding: 0.5rem;
      position: relative;
      text-align: left;
      width: 100%;
    }

    &:has(input) {
      padding: 0.5rem;
    }

    & input {
      display: block;
      width: 100%;
      border-radius: 0.375rem;
      border-color: var(--color-slate-300);
      font-weight: 400;
      box-shadow:
        0 0 rgba(0, 0, 0, 0),
        0 0 rgba(0, 0, 0, 0),
        0 1px 2px 0 rgba(0, 0, 0, 0.05);

      @media (min-width: 640px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }

      &:focus {
        border-color: var(--color-oxford-500);
        outline-color: var(--color-oxford-500);
        outline-offset: -1px;
      }
    }

    & .datatable-icon--descending,
    & .datatable-icon--ascending {
      display: none;
    }

    & .datatable-icon--no-sort {
      display: block;
    }

    &.datatable-ascending {
      & .datatable-icon--no-sort,
      & .datatable-icon--descending {
        display: none;
      }

      & .datatable-icon--ascending {
        display: block;
      }
    }

    &.datatable-descending {
      & .datatable-icon--no-sort,
      & .datatable-icon--ascending {
        display: none;
      }

      & .datatable-icon--descending {
        display: block;
      }
    }
  }

  & tbody > tr ~ tr {
    background-color: var(--color-white);
  }

  & tbody > tr ~ tr:not(:last-child) {
    border-block: 1px solid var(--color-slate-200);
  }

  & tr:nth-child(even) {
    background-color: var(--color-slate-50);
  }

  & td {
    color: var(--color-slate-700);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem;
  }

  & a {
    color: var(--color-oxford-600);
    font-weight: 600;
    text-decoration: underline #69afff;
    text-underline-offset: 2px;
    transition-duration: 200ms;
    transition-property: color, background-color, border-color,
      text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--color-oxford-800);
      text-decoration-color: transparent;
    }

    &:focus {
      background-color: var(--color-bn-sun-300);
    }
  }
}
