.jumbotron--danger,
.breadcrumb--danger,
.breadcrumb--danger .breadcrumb {
  background-color: #f5c6cb;
}

.logo-placeholder {
  aspect-ratio: 1 / 1;
  max-height: 200px;
  max-width: 200px;
}

.logo-container {
  img {
    @extend .logo-placeholder;
    padding: 1rem;
    object-fit: contain;
  }
}
