.cursor-pointer {
  cursor: pointer;
}

.prose-width {
  max-width: 65ch;
}

.w-0 {
  width: 0;
}

.text-line-through {
  text-decoration: line-through;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.prg,
.prg__bar {
  height: 1rem;
  width: 100%;
}

.prg__bar {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.prg__bar::-webkit-progress-bar {
  background-color: #e9ecef;
  border-radius: 0;
}

.prg__bar::-webkit-progress-value {
  background-color: $oxford-600;
  border-radius: 0;
}

.no-pointer-events {
  pointer-events: none;
}
