.preload * {
  transition: none !important;
  animation-duration: 0.001s !important;
}

summary::-webkit-details-marker {
  display: none;
}

.break-words {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

[hidden],
[x-cloak] {
  display: none !important;
}
