.cursor-pointer {
  cursor: pointer;
}

.prose-width {
  max-width: 65ch;
}

.w-0 {
  width: 0;
}

.text-line-through {
  text-decoration: line-through;
}

.text-pre-wrap {
  white-space: pre-wrap;
}
