$oxford-50: #f1f7ff;
$oxford-100: #cfe5ff;
$oxford-200: #9ccaff;
$oxford-300: #69afff;
$oxford-400: #3693ff;
$oxford-500: #0378ff;
$oxford-600: #0058be;
$oxford-700: #00397a;
$oxford-800: #002147;
$oxford-900: #001936;
$oxford: $oxford-800;

$theme-colors: (
  "primary": $oxford-600,
  "danger": #d13242,
  "success": #218739,
);

$jumbotron-bg: $oxford-50;
$jumbotron-padding: 1rem;

$breadcrumb-bg: $oxford-50;
$breadcrumb-divider-color: rgba($oxford-900, 0.5);
$breadcrumb-active-color: $oxford-800;

$list-group-action-color: $oxford-600;
$list-group-action-hover-color: $oxford;

$code-color: map-get($theme-colors, "danger");
$font-weight-bolder: 700;
