#outputsSPA {
  // Text
  .txt {
    // Make sure text can wrap
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }

  // Metadata
  .spacer {
    position: relative;

    &::before {
      content: "|";
      margin-right: 0.5rem;
      position: relative;
    }
  }

  .file-link {
    position: relative;

    // Make sure file links can wrap
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;

    &::after {
      content: "\2197";
      display: inline-block;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 1;
      margin-left: 0.25rem;
      position: relative;
    }
  }

  .file-date {
    white-space: nowrap;
  }

  // Image
  .img {
    height: auto;
    max-width: 100%;
  }

  // File list
  .sidebar {
    position: sticky;
    top: 1rem;
  }

  .list ul {
    font-size: 0.9rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &:not(:first-child) {
      border-top: 1px solid #dee2e6;
    }

    &:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .list-item--selected {
    background-color: #c3e6cb !important;
    border-color: #8fd19e;
    color: #212529;
    font-weight: 500;
    padding-left: 2.25rem;
    position: relative;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &::before {
      content: "➝";
      position: absolute;
      left: 1rem;
    }
  }

  .list-item__link {
    padding: 0 1rem;
    white-space: nowrap;
  }
}
