{% extends "staff/base.html" %}

{% load static %}

{% block metatitle %}Create a project: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% url "staff:project-list" as staff_project_list_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Projects" url=staff_project_list_url %}
    {% breadcrumb title="Create a project" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% #staff_hero title="Create a project" %}
    <div class="mt-2">
      <div class="prose prose-oxford">
        <p>When created, this project will automatically be saved with the following data:</p>
      </div>

      <dl class="mt-6 grid sm:grid-cols-3 sm:divide-x sm:divide-bn-ribbon-300">
        <div class="sm:pr-6">
          <dt class="font-semibold">Created by:</dt>
          <dd>{{ request.user.fullname }}</dd>
        </div>

        <div class="sm:px-6">
          <dt class="font-semibold">Created at:</dt>
          <dd>{% now "d F Y" %}</dd>
        </div>

        <div class="sm:pl-6">
          <dt class="font-semibold">Project status:</dt>
          <dd>{% pill_project_status status="ongoing" text="Ongoing" %}</dd>
        </div>
      </dl>
    </div>
  {% /staff_hero %}
{% endblock hero %}

{% block content %}
  <form method="POST" class="max-w-3xl flex flex-col gap-y-6">
    {% csrf_token %}
    {% if form.non_field_errors or form.errors %}
      {% #alert variant="danger" %}
        <ul>
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
          {% for field in form %}
            {% if field.errors %}
              <li>
                <strong>{{ field.label }}:</strong>
                <ul>
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% /alert %}
    {% endif %}


    {% #card title="Project information" container=True %}
      {% #form_fieldset class="w-full items-stretch gap-y-6" %}
        {% form_legend text="Project information" class="sr-only" %}
        {% form_input field=form.number pattern=number_field_regex %}
        {% form_input field=form.name required %}
      {% /form_fieldset %}
    {% /card %}

    {% #card title="Job Server information" container=True %}
      {% #form_fieldset class="w-full items-stretch gap-y-6" %}
        {% form_legend text="Job Server information" class="sr-only" %}

        {% fragment as select_hint_text %}
          <p>{{ form.orgs.help_text }}</p>
          {% if can_create_org %}
            <p class="-mt-3">
              If the org doesn't exist, you can
              {% url "staff:org-create" as staff_org_create_url %}
              {% link href=staff_org_create_url|add:"?next="|add:request.path text="add a new org" append_after="." %}
            </p>
          {% endif %}
        {% endfragment %}
        {% form_select field=form.orgs choices=form.fields.orgs.choices selected=form.orgs.value|default_if_none:'' hint_text=select_hint_text hint_extra_class="max-w-full" required %}
      {% /form_fieldset %}
    {% /card %}

    {% #card title="Co-pilot details" container=True %}
      {% #form_fieldset class="w-full items-stretch gap-y-6" %}
        {% form_legend text="Co-pilot details" class="sr-only" %}
        {% form_select field=form.copilot choices=form.fields.copilot.choices selected=form.copilot.value %}
      {% /form_fieldset %}
    {% /card %}
    {% #button variant="success" type="submit" class="self-start" %}
      Save
    {% /button %}
  </form>

{% endblock content %}
