{% extends "staff/base-tw.html" %}

{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Projects: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
{% #breadcrumbs %}
  {% url "staff:index" as staff_url %}
  {% breadcrumb title="Staff area" url=staff_url %}
  {% breadcrumb title="Projects" active=True %}
{% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
{% url "staff:project-create" as staff_project_create_url %}
{% #staff_hero title="Projects" %}
  {% #button type="link" href=staff_project_create_url variant="primary" %}
    Create an Interactive Project
  {% /button %}
{% /staff_hero %}
{% endblock hero %}

{% block content %}
{% url "staff:project-list" as staff_project_list_url %}

<div class="grid lg:grid-cols-3 gap-8">
  <div class="flex flex-col gap-y-6">
    {% if request.GET.org %}
      {% #button variant="secondary-outline" type="link" href=staff_project_list_url %}
        Clear filters
      {% /button %}
    {% endif %}

    {% #card title="Filter by organisation" %}
      {% #list_group small=True class="max-h-96 overflow-y-auto" %}
        {% for org in orgs %}
          {% is_filter_selected key="org" value=org.slug as is_org_active %}
          {% url_with_querystring org=org.slug as add_org_query_url %}

          {% if is_org_active %}
            {% url_without_querystring org=org.slug as remove_org_query_url %}
            {% #list_group_item href=remove_org_query_url role="checkbox" aria-checked="true" class="bg-green-100 text-green-800" %}
              {{ org.name }}
            {% /list_group_item %}
          {% else %}
            {% #list_group_item href=add_org_query_url role="checkbox" aria-checked="false" %}
              {{ org.name }}
            {% /list_group_item %}
          {% endif %}
        {% endfor %}
      {% /list_group %}
    {% /card %}
  </div>

  <div class="flex flex-col gap-y-6 lg:col-span-2">
    {% #card container=True title="Search for a project" %}
      <form method="GET" class="flex flex-row gap-x-2 items-center">
        {% if request.GET.q %}
          {% var value=request.GET.q|stringformat:"s" %}
        {% endif %}
        {% form_input custom_field=True type="search" id="projectSearch" name="q" value=value label="Search for a project" label_class="sr-only" class="w-full" input_class="!m-0" %}
        {% #button type="submit" variant="primary" class="flex-shrink-0" %}Search{% /button %}
      </form>
      {% if request.GET.q %}
        <p class="mt-3">
          {% link href=staff_project_list_url text="Clear search" %}
        </p>
      {% endif %}
    {% /card %}

    {% #card %}
      {% #list_group small=True %}
        {% for project in object_list %}
          {% #list_group_item type="Projects" href=project.get_staff_url %}
            {{ project.title }}
          {% /list_group_item %}
        {% endfor %}
      {% /list_group %}

      {% if page_obj.has_previous or page_obj.has_next %}
        {% if page_obj.has_next %}
          {% url_with_querystring page=page_obj.next_page_number as next_page_url %}
        {% endif %}
        {% if page_obj.has_previous %}
          {% url_with_querystring page=page_obj.previous_page_number as previous_page_url %}
        {% endif %}
        {% card_pagination page_number=page_obj.number total_pages=page_obj.paginator.num_pages next_page_url=next_page_url previous_page_url=previous_page_url no_container=True %}
      {% endif %}
    {% /card %}
  </div>
</div>
{% endblock content %}
