{% extends "staff/base.html" %}

{% block metatitle %}{{ membership.user.name }}: {{ membership.project.title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ membership.project.org.get_absolute_url }}">
          {{ membership.project.org.name }}
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ membership.project.get_absolute_url }}">
          {{ membership.project.title }}
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ membership.project.get_settings_url }}">
          Settings
        </a>
      </li>
      <li class="breadcrumb-item">
        Members
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ membership.user.name }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>{{ membership.user.name }}</h1>
    <p class="lead"><span class="sr-only">Username: </span>{{ membership.user.username }}</p>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xl-8">

      <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
            <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% include "components/form_roles.html" with field=form.roles label="Roles" name="roles" %}

        <button class="btn btn-primary" type="submit">Save</button>
      </form>

      <form class="pt-5 mt-5 border-top" method="POST" action="{{ membership.get_staff_remove_url }}">
        {% csrf_token %}
        <fieldset id="remove">
          <legend class="h3 mb-3">
            Remove member
          </legend>
          <input type="hidden" name="member_pk" value="{{ membership.pk }}" />

          <p class="form-label">Do you want to remove {{ membership.user.name }} from {{ membership.project.title }}?</p>
        </fieldset>

        <button class="btn btn-danger" type="submit">Remove</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
