.spacer {
  position: relative;

  &::before {
    content: "|";
    margin-right: 0.5rem;
    position: relative;
  }
}

.fileLink {
  position: relative;

    // Make sure file links can wrap
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;

  &::after {
    content: "\2197";
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1;
    margin-left: 0.25rem;
    position: relative;
  }
}

.fileDate {
  white-space: nowrap;
}
