<div class="form-group">

  <label class="font-weight-bold" for="id_{{ name }}">
    {{ label }}
  </label>

  <input
    type="email"
    inputmode="email"
    autocomplete="email"
    autocapitalize="off"
    spellcheck="false"
    autocorrect="off"
    class="form-control"
    id="id_{{ name }}"
    name="{{ name }}"

    {% if field.help_text %}
    aria-describedby="{{ name }}HelpBlock"
    {% endif %}

    {% if field.field.required %}
    required
    {% endif %}

    {% if field.value %}
    value="{{ field.value }}"
    {% endif %}

  />

  {% if field.help_text %}
    <small id="{{ name }}HelpBlock" class="form-text text-muted">
      {{ field.help_text }}
    </small>
  {% endif %}

  {% if field.errors %}
    <ul class="pl-3 mb-1">
      {% for error in field.errors %}
        <li class="text-danger">{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
