{% extends "base.html" %}

{% load humanize %}

{% block metatitle %}{{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block extra_meta %}
  <meta property="og:title" content="{{ workspace.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description" content="Repo: {{ workspace.repo.name }} ({{ workspace.branch }})" />
{% endblock extra_meta %}

{% block breadcrumbs %}
  <nav aria-label="Breadcrumb" class="breadcrumbs">
    <ol>
      <li class="min-w-fit"><a href="{% url 'home' %}">Home</a></li>
      <li>
        <a href="{{ workspace.project.get_absolute_url }}">
          Project: {{ workspace.project.title }}
        </a>
      </li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}
  <div class="grid grid-cols-1 gap-y-3 lg:gap-y-6 mb-10">
    {% if user_can_view_workspace_statuses %}
      {% if workspace.is_archived %}
        <div class="alert alert--warning">
          <div class="alert__container">
            {% icon_exclamation_triangle_solid class="alert__icon" %}
            <div>
              <h2 class="alert__title">Archived Workspace</h2>
              <div class="alert__text gap-y-2 grid">
                <p>
                  This workspace has been archived. Archiving marks this workspace inactive without deleting it. Logs remain available, but you cannot create new jobs until it is unarchived.
                </p>
                {% if user_can_archive_workspace %}
                  <p>
                    Use the <span class="font-semibold">Unarchive workspace</span> button in the workspace admin section below to unarchive this workspace.
                  </p>
                {% else %}
                  <p>
                    If you think this has been done in error, <a href="mailto:team@opensafely.org" class="link">contact an admin</a>.
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if workspace.project.slug == "opensafely-internal" %}
      <div class="alert alert--warning">
        <div class="alert__container">
          {% icon_exclamation_triangle_solid class="alert__icon" %}
          <div>
            <h2 class="alert__title">This workspace belongs to an internal OpenSAFELY project</h2>
            <div class="alert__text">
              The project exists for internal purposes only. More information can be found in the <a class="link" href="https://docs.opensafely.org/developer-access-policy/">OpenSAFELY access policy</a>.
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <h1 class="text-3xl tracking-tight wrap-break-word font-bold text-slate-900 sm:text-4xl">
      Workspace: {{ workspace.name }}
    </h1>

    <div class="prose prose-oxford">
      <p>
        This represents a working directory for <a class="link" href="{{ workspace.project.get_absolute_url }}">Project: {{ workspace.project.title }}</a> on all of the secure environments supported by OpenSAFELY.
      </p>
      <p>
        On each secure environment, the directory includes <a class="link" href="{{ workspace.repo.url }}/tree/{{ workspace.branch }}">code from the repository</a>, and the results of running it against real data (&ldquo;jobs&rdquo;). Researchers can request jobs are run from this page.
      </p>
    </div>

    <ul class="flex flex-row gap-2">
      {% if show_run_jobs_button %}
        <li>
          {% if run_jobs_disabled_reason %}
            {% #button type="button" variant="info" disabled=True tooltip=run_jobs_disabled_reason %}
              Run jobs
            {% /button %}
          {% else %}
            {% #button class="plausible-event-name=Run+jobs+click" href=workspace.get_jobs_url type="link" variant="success" %}
              Run jobs
            {% /button %}
          {% endif %}
        </li>
      {% endif %}
      <li>
        {% #button href=workspace.get_logs_url type="link" variant="primary" %}
          View logs
        {% /button %}
      </li>
      {% if is_member %}
        <li>
          {% #button href=workspace.get_edit_url type="link" variant="secondary" %}
            Edit workspace
          {% /button %}
        </li>
      {% endif %}
      {% if user_can_view_staff_area %}
        <li>
          {% #button href=workspace.get_staff_url type="link" variant="danger" class="shrink-0" %}
            View in Staff Area
          {% /button %}
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="grid content-start gap-6">
      {# Remove this check once we can rely on the purpose field #}
      {% if workspace.purpose %}
        {% #card title="Workspace purpose" container=True %}
          <p class="prose">
            {{ workspace.purpose|linebreaksbr|urlize }}
          </p>
        {% /card %}
      {% endif %}

      {% #card title="Releases" %}
        {% #list_group small=True %}
          {% #list_group_item href=workspace.get_releases_url disabled=outputs.released.disabled %}
            Released Outputs
          {% /list_group_item%}

          {% #list_group_item href=workspace.get_outputs_url %}
            Published Outputs
          {% /list_group_item%}
        {% /list_group %}
      {% /card %}

      {% if honeycomb_can_view_links %}
        {% #card title="Monitoring" subtitle="Honeycomb login required" %}
          {% #list_group small=True %}
            {% #list_group_item href=honeycomb_link %}
              Heatmap of runtimes for completed jobs in this workspace
            {% /list_group_item%}
          {% /list_group %}
        {% /card %}
      {% endif %}
    </div>

    <div class="grid content-start gap-6">
      {% if show_admin %}
        {% #card title="Workspace admin" class="text-center" container=True container_class="flex gap-2" %}
          {% if user_can_archive_workspace %}
            <form method="POST" action="{{ workspace.get_archive_toggle_url }}">
              {% csrf_token %}
              <input type="hidden" name="is_archived" value="{{ workspace.is_archived|yesno:",True" }}" />
              {% if workspace.is_archived %}
                {% #button variant="primary-outline" type="submit" %}
                  Unarchive workspace
                {% /button %}
              {% else %}
                {% #button variant="danger-outline" type="submit" %}
                  Archive workspace
                {% /button %}
              {% endif %}
            </form>
          {% endif %}
          {% if repo_is_private %}
            {% #button variant="warning" type="link" href=workspace.repo.get_sign_off_url %}
              Change repo visibility
            {% /button %}
          {% endif %}
          {% if user_can_toggle_notifications %}
            <form method="POST" action="{{ workspace.get_notifications_toggle_url }}">
              {% csrf_token %}
              <input type="hidden" name="should_notify" value="{{ workspace.should_notify|yesno:",True" }}" />
              {% if workspace.should_notify %}
                {% #button variant="warning-outline" type="submit" %}
                  Disable notifications
                {% /button %}
              {% else %}
                {% #button variant="success-outline" type="submit" %}
                  Enable notifications
                {% /button %}
              {% endif %}
            </form>
          {% endif %}
        {% /card %}
      {% endif %}

      {% #card title="Workspace information" %}
        <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
          {% #description_item title="Organisation" stacked=True %}
            <a class="link" href="{{ workspace.project.org.get_absolute_url }}">
              {{ workspace.project.org.name }}
            </a>
          {% /description_item %}

          {% #description_item title="Project" stacked=True %}
            <a class="link" href="{{ workspace.project.get_absolute_url }}">
              {{ workspace.project.title }}
            </a>
          {% /description_item %}

          {% #description_item title="Repo" stacked=True %}
            <a class="link" href="{{ workspace.repo.url }}">{{ workspace.repo.name }}</a>

            {% if repo_is_private %}
              <p class="mt-2 mb-1">This repo is not publicly viewable.</p>
              <details class="group">
                <summary class="link">Why is this repo private?</summary>
                <div class="pl-3">
                  <p class="my-1">In accordance with the <a href="https://www.opensafely.org/about/#transparency-and-public-logs">Principles of OpenSAFELY</a> we expect all code from all users to be made public.</p>
                  <p class="mb-0">However, some GitHub repositories may be private during the development stage of a project, which means any links to them from this site will return a '404 Not Found' error unless you are logged in and have the relevant permissions.</p>
                </div>
              </details>
            {% endif %}
          {% /description_item %}

          {% #description_item title="Branch" stacked=True %}
            <a class="link" href="{{ workspace.repo.url }}/tree/{{ workspace.branch }}">
              {{ workspace.branch }}
            </a>
          {% /description_item %}

          {% #description_item title="Created" stacked=True %}
            <time datetime="{{ workspace.created_at|date:"c" }}" title="{{ workspace.created_at|date:"Y-m-d H:i:sO" }}">
              {{ workspace.created_at|naturaltime }}
            </time>
            by {{ workspace.created_by.fullname }}
          {% /description_item %}
        </dl>
      {% /card %}

      {% if show_publish_repo_warning %}
        <div class="alert alert--warning">
          <div class="alert__container">
            {% icon_exclamation_triangle_solid class="alert__icon" %}
            <div>
              <h2 class="alert__title">Repository is currently private</h2>
              <div class="alert__text gap-y-2 grid text-sm">
                <p>
                  The <a href="{{ first_job.get_absolute_url }}" class="link">first job to run against the git repository</a> for this workspace ran over 11 months ago. Per our <a href="https://docs.opensafely.org/repositories/#when-you-need-to-make-your-code-public" class="link">platform policy</a> we ask that repositories are made public 12 months after they are first executed against patient data.
                </p>
                <p>
                  <a href="{{ workspace.repo.get_sign_off_url }}" class="link">Change repository visibility &rarr;</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
