{% extends "base.html" %}

{% block metatitle %}Latest released outputs: {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Project" title=workspace.project.title url=workspace.project.get_absolute_url %}
    {% breadcrumb location="Workspace" title=workspace.name url=workspace.get_absolute_url %}
    {% breadcrumb title="Releases" url=workspace.get_releases_url %}
    {% breadcrumb title="Latest" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block full_width_content %}
  <div class="bg-bn-roman-100 pt-4">
    <div class="container xl:max-w-screen-xl">
      {% #grid_three_cols gap="8" %}
        {% #grid_col_lg_span_2 %}
          <h1 class="text-3xl break-words pt-2 mb-4 md:pt-0 md:text-4xl font-bold text-slate-900">
            Latest version of files released from {{ workspace.name }}
          </h1>
          <div class="space-y-4 mb-6 max-w-prose">
            <p class="text-lg">The latest version of each output in the {{ workspace.name }} workspace, across all releases.</p>
            <h2 class="text-xl font-bold text-slate-900">Who can see these files?</h2>
            <ul class="list-disc ml-6 space-y-1">
              <li>These files are visible to you because they have been released from a secure research backend.</li>
              <li>You can see this because you are a member of the <strong>{{ workspace.project }}</strong> project.</li>
              <li>Other members of the <strong>{{ workspace.project }}</strong> project can visit this page, and view or download the outputs.</li>
              <li>Members of the public <strong>CANNOT</strong> see this page or the contents of the files listed below.</li>
            </ul>
            <h2 class="text-xl font-bold text-slate-900">Sharing</h2>
            <ul class="list-disc ml-6 space-y-1">
              <li>This output can be shared <strong>IN CONFIDENCE</strong> and <strong>ONLY</strong> with key members of the wider research team / research collaborators for the purpose of seeking feedback and contribution to inform the final paper or report.</p>
              <li>You must follow the {% link href="https://www.opensafely.org/policies-for-researchers/#datasets-used" new_tab=True text="OpenSAFELY policy on sharing of results" append_after="." new_tab=True %}</li>
            </ul>
          </div>
        {% /grid_col_lg_span_2 %}

        {% #grid_col_span_1 %}
          {% #card title="Releases information" header_class="!px-4" %}
            <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
              {% #description_item class="!py-2 !px-4" title="Project" stacked %}
                {{ workspace.project.name }}
              {% /description_item %}
              {% #description_item class="!py-2 !px-4" title="Workspace" stacked %}
                {{ workspace.name }}
              {% /description_item %}
            </dl>
          {% /card %}
        {% /grid_col_span_1 %}
      {% /grid_three_cols %}
    </div>
  </div>

  <div class="px-6">
    {% #button variant="primary" type="link" href=workspace.get_latest_outputs_download_url class="mt-3" %}
      Download latest released files
    {% /button %}
  </div>

  {% include "_includes/outputs-spa.html" %}
{% endblock full_width_content %}
