{% load static %}

<footer
  class="via-bn-roman-200/35 relative bg-gradient-to-r from-oxford-200/20 to-bn-strawberry-200/25 pt-12 pb-16 text-oxford before:absolute before:-top-1 before:h-1 before:w-full before:bg-gradient-to-r before:from-oxford-600/60 before:via-bn-roman-600/70 before:to-bn-strawberry-600/60"
>
  <div class="container text-sm xl:max-w-screen-xl">
    <div
      class="mb-6 grid grid-flow-row grid-cols-1 gap-8 text-center md:grid-cols-2 md:text-left lg:grid-cols-3"
    >
      <div>
        <h2 class="pb-2 text-lg font-bold tracking-tight text-oxford">
          OpenSAFELY Jobs
        </h2>
        <ul class="flex flex-col items-center gap-x-3 gap-y-3 md:items-start">
          <li class="flex">
            {% url 'home' as home_url %}
            {% link text="Home" href=home_url %}
          </li>
          <li class="flex">
            {% url 'job-list' as event_log_url %}
            {% link text="Event log" href=event_log_url %}
          </li>
          <li class="flex">
            {% url 'org-list' as orgs_url %}
            {% link text="Organisations" href=orgs_url %}
          </li>
          <li class="flex">
            {% url 'status' as status_url %}
            {% link text="Status" href=status_url %}
          </li>
        </ul>
      </div>
      <div>
        <h2 class="pb-2 text-lg font-bold tracking-tight text-oxford">
          OpenSAFELY
        </h2>
        <ul class="flex flex-col items-center gap-x-3 gap-y-3 md:items-start">
          <li class="flex">
            {% link text="Documentation" href="https://docs.opensafely.org/" %}
          </li>
          <li class="flex">
            {% link text="OpenSAFELY" href="https://www.opensafely.org/" %}
          </li>
          <li class="flex">
            {% link text="OpenSAFELY Blog" href="https://www.opensafely.org/blog/" %}
          </li>
          <li class="flex">
            {% link text="OpenSAFELY Service Status" href="https://status.opensafely.org/" %}
          </li>
        </ul>
      </div>
      <div>
        <h2 class="pb-2 text-lg font-bold tracking-tight text-oxford">More</h2>
        <ul class="flex flex-col items-center gap-x-3 gap-y-3 md:items-start">
          <li class="flex">
            {% link text="Bennett Institute for Applied Data Science" href="https://www.bennett.ox.ac.uk/" new_tab=True %}
          </li>
          <li class="flex">
            {% link text="Nuffield Department of Primary Care Health Sciences" href="https://www.phc.ox.ac.uk/" new_tab=True %}
          </li>
          <li class="flex">
            {% link text="University of Oxford" href="https://www.ox.ac.uk/" new_tab=True %}
          </li>
          <li class="flex">
            {% link text="Privacy Policy" href="https://www.opensafely.org/privacy/" new_tab=True %}
          </li>
        </ul>
      </div>
      <div class="text-slate-600 md:pt-6 lg:col-span-3">
        <h2 class="sr-only">Copyright statement</h2>
        <p>
          © University of Oxford for the Bennett Institute for Applied Data
          Science {% now 'Y' %}. This work may be copied freely for
          non-commercial research and study. If you wish to do any of the other
          acts restricted by the copyright you should apply in writing to
          {% link text="bennett@phc.ox.ac.uk" href="mailto:bennett@phc.ox.ac.uk" append_after="." %}
        </p>
      </div>
    </div>
  </div>
  <div
    class="container flex flex-col items-center justify-between gap-8 border-t border-white/50 pt-8 md:mt-8 lg:flex-row xl:max-w-screen-xl"
  >
    <a
      class="transition-transform hover:scale-105 focus:scale-105"
      href="https://www.bennett.ox.ac.uk/"
    >
      <img
        class="h-24"
        width="220"
        height="96"
        src="{% static 'bennett-logo.svg' %}"
        alt="Bennett Institute logo"
      />
    </a>
    <p
      class="text-center text-2xl font-extrabold text-oxford lg:text-left lg:text-3xl"
    >
      OpenSAFELY is a project from the
      <span class="sm:block">Bennett Institute for Applied Data Science</span>
    </p>
  </div>
</footer>
