{% if tooltip_top %}
  {% var classes="after:-top-3 before:-bottom-1" %}
{% else %}
  {% var classes="after:-top-3 before:-top-1" %}
{% endif %}

<span class="opacity-0 scale-0 z-40 group-hover:opacity-100 group-hover:scale-100 transition-scale-opacity absolute bg-transparent pb-3 translate-y-full left-1/2 -translate-x-1/2 {{ position }}">
  <span class="
               {{ class }}
               text-sm text-semibold w-full min-w-fit whitespace-nowrap bg-bn-ribbon-200 text-bn-ribbon-900 py-2 px-3 rounded shadow-xl text-left relative
               before:block before:absolute before:h-3 before:w-3 before:bg-bn-ribbon-200 before:left-1/2 before:-translate-x-1/2 before:rotate-45 before:z-0
               after:block after:absolute after:h-full after:w-full after:bg-transparent after:left-1/2 after:-translate-x-1/2 after:z-0
               {{ classes }}
              "
  >
    <span class="relative z-10">{{ content }}</span>
  </span>
</span>
