{% load querystring_tools %}

<div class="d-flex justify-content-between my-3">

  <div>
    <span class="{% if not page_obj.has_previous %}d-none{% endif %}">
      {% if page_obj.has_previous %}
      <a class="btn btn-secondary btn-sm" href="{% url_with_querystring page=page_obj.previous_page_number %}">
        Previous
      </a>
      {% endif %}
    </span>
  </div>

  <div class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </div>

  <div>
    <span class="{% if not page_obj.has_next %}d-none{% endif %}">
      {% if page_obj.has_next %}
      <a class="btn btn-secondary btn-sm" href="{% url_with_querystring page=page_obj.next_page_number %}">
        Next
      </a>
      {% endif %}
    </span>
  </div>

</div>
