{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en" class="no-js min-h-screen">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block metatitle %}OpenSAFELY Jobs{% endblock metatitle %}</title>
    <meta property="og:site_name" content="OpenSAFELY Jobs" />

    {% block extra_meta %}{% endblock %}

    <script type="module" nonce="{{ request.csp_nonce }}">
      document.documentElement.classList.remove("no-js");
      document.documentElement.classList.add("js");

      window.addEventListener("load", () => {
        document.body.classList.remove("preload");
      });
    </script>

    {# The following <meta> tags are for Plausible stats collection.  Internal Bennett Institute reference: https://plausible.io/jobs.opensafely.org #}
    <meta name="is_logged_in" content="{% if user.is_authenticated %}true{% else %}false{% endif %}">
    {# Note that the name is_staff has no direct relationship to the User.is_staff flag in a django.contrib.admin context, which we no longer use. For more detail, see: https://github.com/opensafely-core/job-server/issues/4590 #}
    <meta name="is_staff" content="{% if user_can_view_staff_area %}true{% else %}false{% endif %}">
    {% if template_name %}<meta name="template" content="{{ template_name }}">{% endif %}
    {# End of stats-collecting <meta> tags. #}

    {% vite_hmr_client %}
    {% vite_asset "assets/src/scripts/base.js" %}

    {% block extra_styles %}{% endblock %}

    <link rel="icon" href="{% static "favicon.ico" %}">
    <link rel="icon" href="{% static "icon.svg" %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">
    <link rel="manifest" href="{% static "manifest.webmanifest" %}">
  </head>

  <body class="preload flex flex-col min-h-screen text-slate bg-white">
    {% skip_link %}
    {% header csrf_token=csrf_token login_url=login_url nav=nav user=user request=request user_can_view_staff_area=user_can_view_staff_area %}

    {% block breadcrumbs %}{% endblock %}

    {% block hero %}{% endblock hero %}

    <main class="min-h-[66vh] flex-grow pb-12 bg-slate-100">
      <div class="container xl:max-w-screen-xl pt-2 md:pt-6 pb-4" id="content">
        {% alerts disable_creating_jobs=disable_creating_jobs messages=messages %}
        {% block content %}{% endblock %}
      </div>
      {% block full_width_content %}{% endblock full_width_content %}
    </main>

    {% footer nav=nav %}

    {% block extra_js %}{% endblock %}
  </body>
</html>
