{% extends "base.html" %}

{% block breadcrumbs %}
  <nav aria-label="Breadcrumb" class="breadcrumbs">
    <ol>
      <li class="min-w-fit"><a href="{% url 'home' %}">Home</a></li>
      <li>
        <a href="" aria-current="page">
          {{ error_code }}: {{ error_name }}
        </a>
      </li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}
  <div class="grid grid-cols-1 gap-y-3 lg:gap-y-6 mb-10">
    <h1 class="text-3xl tracking-tight wrap-break-word font-bold text-slate-900 sm:text-4xl">
      {{ error_code }}: {{ error_name }}
    </h1>

    <div class="prose prose-oxford">
      {{ error_message|safe }}
    </div>

    <div class="flex flex-col gap-3 sm:flex-row">
      {% if not user.is_authenticated %}
        {% #button id="error-page-login-button" href=login_url type="link" variant="success" %}
          Login
        {% /button %}
      {% endif %}
      {% #button href="mailto:tech@opensafely.org" type="link" variant="secondary" %}
        Contact support
      {% /button %}
    </div>
  </div>
{% endblock %}
