{% extends "base-tw.html" %}

{% load django_vite %}
{% load humanize %}
{% load static %}

{% block metatitle %}OpenSAFELY Jobs | Home{% endblock metatitle %}
{% block extra_meta %}
<meta name="description" content="OpenSAFELY Jobs provides an audit trail for every project using the OpenSAFELY platform. It logs all activity that uses real patient data.">
{% endblock %}

{% block full_width_content %}
<div class="isolate sm:bg-bn-blush-50 relative overflow-hidden -mt-5 md:-mt-9">
  <div class="hidden sm:block absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl opacity-25">
    <svg class="relative -z-10 max-w-none -top-1/2" viewBox="0 0 1155 678">
      <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
      <defs>
        <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
          <stop class="text-bn-blush-600" stop-color="currentColor" />
          <stop class="text-bn-strawberry-600" offset="1" stop-color="currentColor" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="bg-bn-blush-50 sm:bg-transparent relative px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-32">
      <div class=" grid gap-y-6 text-center text-lg leading-relaxed text-oxford-800">
        <h1 class="text-4xl font-bold tracking-tight text-oxford-900 sm:text-6xl">
          OpenSAFELY Jobs
        </h1>
        <p>
          OpenSAFELY Jobs provides an audit trail for every project using the OpenSAFELY platform.
          It logs all activity that uses real patient data. It includes links to all the analytic code ever run, and all published outputs.
        </p>
        <p>
          Authorised users can use this site to manage their projects and trigger their code to run in one of the secure environments.
        </p>
        <div class="flex items-center justify-center gap-x-3">
          {% #button type="link" variant="primary" href="#events" %}View live activity{% /button %}
          {% #button type="link" variant="secondary-outline" href="https://www.opensafely.org/" %}Learn more <span class="ml-1" aria-hidden="true">→</span>{% /button %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-6 text-oxford-600">
        Why OpenSAFELY?
      </h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl">
        Better research, improved patient confidentiality
      </p>
      <p class="mt-6 text-lg leading-8 text-slate-600">
        OpenSAFELY is a highly secure, transparent, open-source software platform for analysis of electronic health records data.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-6 text-slate-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-oxford-600">
              {% icon_building_library_outline class="h-6 w-6 text-white" %}
            </div>
            Protecting privacy
          </dt>
          <dd class="mt-2 text-base leading-6 text-slate-600">
            We never let researchers download patient data, and OpenSAFELY tools let users to write code to analyse patient data without even needing to view the raw records.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-6 text-slate-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-oxford-600">
              {% icon_clipboard_document_check_outline class="h-6 w-6 text-white" %}
            </div>
            Auditable by the public
          </dt>
          <dd class="mt-2 text-base leading-6 text-slate-600">
            It is a privilege to use patient data for the public good. OpenSAFELY respects patients by carefully considering this in every part of its design.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-6 text-slate-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-oxford-600">
              {% icon_beaker_outline class="h-6 w-6 text-white" %}
            </div>
            Better, open science
          </dt>
          <dd class="mt-2 text-base leading-6 text-slate-600">
            OpenSAFELY requires publication of all analytic code, and our tools drive all users to produce prespecified, reusable, testable, shareable and modular software for research.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-6 text-slate-900">
            <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-oxford-600">
              {% icon_academic_cap_outline class="h-6 w-6 text-white" %}
            </div>
            Enabling high volumes of research
          </dt>
          <dd class="mt-2 text-base leading-6 text-slate-600">
            Over 25 organisations have used OpenSAFELY to create published research.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="bg-white shadow-inner py-12 sm:py-20 mb-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="-mt-6 text-center text-lg font-semibold leading-8 text-slate-900 uppercase">Working In Partnership With</h2>
    <div class="
      mx-auto mt-10 grid items-center gap-x-6 gap-y-10
      sm:grid-cols-6 sm:gap-x-8
      lg:mx-0 lg:max-w-none lg:grid-cols-5
    ">
      <img
        alt="University of Oxford logo"
        class="max-h-20 w-full object-contain sm:col-span-2 lg:col-span-1"
        loading="lazy"
        src="{% static 'logos/oxford-logo.svg' %}"
      >
      <img
        alt="Nuffield Department of Primary Care Health Sciences logo"
        class="max-h-20 w-full object-contain sm:col-span-2 lg:col-span-1"
        loading="lazy"
        src="{% static 'logos/nuffield-logo.svg' %}"
      >
      <img
        alt="LSHTM logo"
        class="max-h-20 w-full object-contain sm:col-span-2 lg:col-span-1"
        loading="lazy"
        src="{% static 'logos/lshtm-logo.svg' %}"
      >
      <img
        alt="TPP Logo"
        class="max-h-20 w-full object-contain sm:col-span-2 sm:col-start-2 lg:col-span-1 lg:col-start-auto"
        loading="lazy"
        src="{% static 'logos/tpp.png' %}"
      >
      <img
        alt="EMIS logo"
        class="max-h-20 w-full object-contain sm:col-span-2 lg:col-span-1 lg:col-start-auto"
        loading="lazy"
        src="{% static 'logos/emis-logo.svg' %}"
      >
    </div>
  </div>
</div>

{% latest_job_requests_table job_requests=all_job_requests %}
{% endblock full_width_content %}
