{% extends "base.html" %}

{% load django_vite %}
{% load humanize %}

{% block metatitle %}OpenSAFELY Jobs | Home{% endblock metatitle %}
{% block extra_meta %}
  <meta name="description" content="OpenSAFELY Jobs provides an audit trail for every project using the OpenSAFELY platform. It logs all activity that uses real patient data.">
{% endblock %}

{% block content %}
  <section class="my-6 sm:mb-12 md:mt-0">
    <div class="bg-white shadow-sm">
      <div class="grid gap-y-2 text-center text-slate-700 py-6 px-8">
        <h1 class="text-xl/6 font-semibold text-slate-900">Your OpenSAFELY Dashboard</h1>
        <p class="text-slate-600 text-sm/tight">
          Logged in as:
          <strong class="text-slate-900">{{ user.fullname }} </strong>
          ({{ user.username }} via GitHub)
        </p>
        <p>Continue your research, view job requests, and see recent workspace activity.</p>
      </div>

      <ul class="grid divide-y divide-slate-200 border-t border-slate-200 bg-slate-50 sm:grid-cols-3 sm:divide-y-0 sm:divide-x">
        <li class="px-6 py-4 text-center text-base/tight font-medium text-slate-600">
          <span class="text-slate-900">{{ counts.job_requests }}</span> job request{{ counts.job_requests|pluralize }}
        </li>
        <li class="px-6 py-4 text-center text-base/tight font-medium text-slate-600">
          <span class="text-slate-900">{{ counts.workspaces }}</span> workspace{{ counts.workspaces|pluralize }}
        </li>
        <li class="px-6 py-4 text-center text-base/tight font-medium text-slate-600">
          <span class="text-slate-900">{{ counts.projects }}</span> project{{ counts.projects|pluralize }}
        </li>
      </ul>
    </div>
  </section>

  <div class="grid gap-4 lg:grid-cols-2 mb-6">
    {% #card title="Job requests" subtitle="Your most recent job requests" %}
      {% #list_group %}
        {% for job_request in job_requests %}
          {% #list_group_item href=job_request.get_absolute_url %}
            {{ job_request.workspace.name }} ({{ job_request.id }}): {{ job_request.jobs_status|title }}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No job requests" description="You have not created any jobs requests" %}
        {% endfor %}

        {% if counts.job_requests > 0 %}
          {% #card_footer no_container=True %}
            {% url "user-event-log" username=request.user.username as user_event_log_url %}
            {% link href=user_event_log_url text="View all your job requests →" %}
          {% /card_footer %}
        {% endif %}
      {% /list_group %}
    {% /card %}

    {% #card title="Workspaces" subtitle="Workspaces you can access" %}
      {% #list_group %}
        {% for workspace in workspaces %}
          {% #list_group_item href=workspace.get_absolute_url %}
            {{ workspace.name }}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No workspaces" description="You do not currently have access to any workspaces" %}
        {% endfor %}

        {% if counts.workspaces > workspaces|length %}
          {% #card_footer no_container=True %}
            {% url "your-workspaces" as your_workspaces_url %}
            {% link href=your_workspaces_url text="View all your workspaces →" %}
          {% /card_footer %}
        {% endif %}
      {% /list_group %}
    {% /card %}

    {% #card title="Projects" subtitle="Your most recently updated projects" %}
      {% #list_group %}
        {% for project in projects %}
          {% #list_group_item href=project.url %}
            {{ project.name }}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No projects" description="You do not currently have access to any projects" %}
        {% endfor %}
      {% /list_group %}

      {% if counts.projects > projects|length %}
        {% #card_footer no_container=True %}
          {% url "your-projects" as your_projects_url %}
          {% link href=your_projects_url text="View all your projects →" %}
        {% /card_footer %}
      {% endif %}
    {% /card %}

    {% if counts.applications %}
      {% #card title="Applications" subtitle="Previously completed or in progress applications" %}
        {% #list_group %}
          {% for application in applications %}
            {% #list_group_item href=application.get_absolute_url %}
              Application {{ application.pk_hash }} started on {{ application.created_at|date:"d M Y" }}
            {% /list_group_item %}
          {% endfor %}
        {% /list_group %}

        {% #card_footer no_container=True %}
          {% url "applications:list" as applications_url %}
          {% link href=applications_url text="View all your applications →" %}
        {% /card_footer %}
      {% /card %}
    {% endif %}
  </div>
{% endblock content %}

{% block full_width_content %}
  {% latest_job_requests_table job_requests=all_job_requests %}
{% endblock %}
