{% extends "base-tw.html" %}

{% load django_vite %}
{% load humanize %}

{% block metatitle %}OpenSAFELY Jobs | Home{% endblock metatitle %}
{% block extra_meta %}
<meta name="description" content="OpenSAFELY Jobs provides an audit trail for every project using the OpenSAFELY platform. It logs all activity that uses real patient data.">
{% endblock %}

{% block content %}
{% if not user.is_interactive_only %}
  {% #card container=True class="my-6 sm:mb-12 md:mt-0" %}
    <h2 class="sr-only" id="profile-overview-title">Profile Overview</h2>
    <div class="flex items-center justify-center sm:justify-between">
      <div class="sm:flex sm:space-x-5 sm:items-center">
        <div class="flex-shrink-0">
          <div
            class="flex items-center justify-center w-16 h-16 bg-oxford-100 aspect-square rounded-2xl border border-oxford-500/25 overflow-hidden flex-shrink-0 mx-auto sm:mx-0"
          >
            <span class="py-2 text-oxford-600 text-2xl font-bold" role="presentation">
              {{ user.initials }}
            </span>
          </div>
        </div>
        <div class="mt-4 text-center sm:mt-0 sm:text-left">
          <p class="text-sm font-medium text-slate-600">Welcome back,</p>
          <p class="text-xl font-bold text-slate-900 sm:text-2xl">{{ user.name }}</p>
        </div>
      </div>
    </div>

    {% #card_footer class="!py-0 !px-0 !-mb-3 md:!-mb-5" %}
      <ul class="grid grid-cols-1 divide-y divide-slate-200 border-t border-slate-200 bg-slate-50 sm:grid-cols-3 sm:divide-y-0 sm:divide-x">
        <li class="px-6 py-5 text-center text-sm font-medium text-slate-600">
          <span class="text-slate-900">{{ counts.job_requests }}</span>
          <span class="text-slate-600">job request{{ counts.job_requests|pluralize }}</span>
        </li>

        <li class="px-6 py-5 text-center text-sm font-medium">
          <span class="text-slate-900">{{ counts.workspaces }}</span>
          <span class="text-slate-600">workspace{{ counts.workspaces|pluralize }}</span>
        </li>

        <li class="px-6 py-5 text-center text-sm font-medium">
          <span class="text-slate-900">{{ counts.projects }}</span>
          <span class="text-slate-600">project{{ counts.projects|pluralize }}</span>
        </li>
      </ul>
    {% /card_footer %}
  {% /card %}
{% endif %}

<div class="border-b border-slate-200 pb-5 mb-5 text-center">
  <h3 class="text-xl font-semibold leading-6 text-slate-900">Your OpenSAFELY Dashboard</h3>
  <p class="mt-2 max-w-4xl text-base text-center mx-auto text-slate-700">
    Continue your research, view job requests, see latest workspace activity
  </p>
</div>

<div class="grid gap-4 lg:grid-cols-2 mb-6">
  {% if user.is_interactive_only or analysis_requests %}
    {% #card title="Analysis requests" subtitle="OpenSAFELY Interactive analysis requests you have created" %}
      {% #list_group %}
        {% for analysis_request in analysis_requests %}
          {% #list_group_item href=analysis_request.get_absolute_url %}
            {{ analysis_request.title }}
            {% pill class="ml-2" text=analysis_request.job_request.status variant=analysis_request.job_request.status|match:"pending:info,running:primary,succeeded:success,failed:danger"|default:"info" %}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No requests" description="You have not created any analysis requests" %}
        {% endfor %}
      {% /list_group %}

      {# {% #card_footer no_container=True %} #}
        {# {% url "interactive:list" as request_list_url %} #}
        {# {% link href=request_list_url text="View all requests →" %} #}
      {# {% /card_footer %} #}
    {% /card %}
  {% endif %}

  {% if not user.is_interactive_only %}
    {% #card title="Job requests" subtitle="Your most recent job requests" %}
      {% #list_group %}
        {% for job_request in job_requests %}
          {% #list_group_item href=job_request.get_absolute_url %}
            {{ job_request.workspace.name }} ({{ job_request.id }}): {{ job_request.status|title }}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No job requests" description="You have not created any jobs requests" %}
        {% endfor %}

        {% if counts.job_requests > job_requests|length %}
          {% #card_footer no_container=True %}
            {% url "job-list" as job_list_url %}
            {% link href=job_list_url|add:"?username="|add:user.username text="View all your job requests →" %}
          {% /card_footer %}
        {% endif %}
      {% /list_group %}
    {% /card %}
  {% endif %}

  {% if not user.is_interactive_only %}
    {% #card title="Workspaces" subtitle="Workspaces you can access" %}
      {% #list_group %}
        {% for workspace in workspaces %}
          {% #list_group_item href=workspace.get_absolute_url %}
            {{ workspace.name }}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No workspaces" description="You do not currently have access to any workspaces" %}
        {% endfor %}

        {% if counts.workspaces > workspaces|length %}
          {% #card_footer no_container=True %}
            {% url "your-workspaces" as your_workspaces_url %}
            {% link href=your_workspaces_url text="View all your workspaces →" %}
          {% /card_footer %}
        {% endif %}
      {% /list_group %}
    {% /card %}
  {% endif %}

  {% #card title="Projects" subtitle="Your most recently updated projects" %}
    {% #list_group %}
      {% for project in projects %}
        {% #list_group_item href=project.url %}
          {{ project.name }}
        {% /list_group_item %}
      {% empty %}
        {% list_group_empty icon=True title="No projects" description="You do not currently have access to any projects" %}
      {% endfor %}
    {% /list_group %}

    {% if counts.projects > projects|length %}
      {% #card_footer no_container=True %}
        {% url "your-projects" as your_projects_url %}
        {% link href=your_projects_url text="View all your projects →" %}
      {% /card_footer %}
    {% endif %}
  {% /card %}

  {% if not user.is_interactive_only %}
    {% #card title="Applications" subtitle="Previously completed or in progress applications" %}
      {% #list_group %}
        {% for application in applications %}
          {% #list_group_item href=application.get_absolute_url %}
            Application {{ application.pk_hash }} started on {{ application.created_at|date:"d M Y" }}
          {% /list_group_item %}
        {% empty %}
          {% list_group_empty icon=True title="No applications" description="You have not started an application" %}
        {% endfor %}
      {% /list_group %}

      {% #card_footer no_container=True %}
        {% if counts.applications > applications|length %}
          {% url "applications:list" as applications_url %}
          {% link href=applications_url text="View all your applications →" %}
        {% else %}
          {% url "applications:start" as applications_start_url %}
          {% link href=applications_start_url text="Start an application →" %}
        {% endif %}
      {% /card_footer %}
    {% /card %}
  {% endif %}
</div>
{% endblock content %}

{% block full_width_content %}
{% include 'partials/latest-jobs-tw.html' with job_requests=all_job_requests %}
{% endblock %}
