{% extends "base-tw.html" %}

{% load humanize %}

{% block metatitle %}{{ workspace.name }}: Pick commit | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Organisation" title=workspace.project.org.name url=workspace.project.org.get_absolute_url %}
    {% breadcrumb location="Project" title=workspace.project.name url=workspace.project.get_absolute_url %}
    {% breadcrumb location="Workspace" title=workspace.name url=workspace.get_absolute_url %}
    {% breadcrumb title="Pick commit" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<div
  class="
    mb-6 mt-3 flex flex-col gap-6 items-center text-center
    md:mt-0 md:flex-row md:text-left
  "
>
  {% if workspace.project.org.logo_file %}
  <img
    alt="{{ workspace.project.org.name }} logo"
    class="w-36 h-36 bg-white aspect-square rounded-2xl border border-slate-200 shadow-sm overflow-hidden flex-shrink-0"
    height="144"
    src="{{ workspace.project.org.logo_file.url }}"
    width="144"
  />
  {% endif %}
  <div class="flex-grow flex flex-col gap-y-4 md:gap-y-2">
    <h1 class="text-3xl tracking-tight break-words md:text-4xl font-bold text-slate-900">
      {{ workspace.name }}
    </h1>
    <p class="font-lg text-slate-600">
      Click on a commit below to run jobs with the <code>project.yaml</code>
      from that commit.
    </p>
  </div>
</div>

{% if error %}
{% #alert title="An error occurred" class="max-w-3xl mb-6" variant="warning" %}
  <p class="mb-4">An error occurred while trying to get commits for this workspace:</p>
  {% #code %}{{ error }}{% /code %}
{% /alert %}
{% endif %}

{% if commits %}
{% #card title="Commits" class="max-w-3xl" %}
  {% #list_group %}
    {% for commit in commits %}
      {% url 'job-request-create' org_slug=workspace.project.org.slug project_slug=workspace.project.slug workspace_slug=workspace.name ref=commit.sha as commit_url %}
      {% #list_group_item href=commit_url %}
        {{ commit.message }}
        <span class="block text-sm text-slate-600">
          SHA: {{ commit.sha }}
        </span>
      {% /list_group_item %}
    {% endfor %}
  {% /list_group %}
{% /card %}
{% endif %}
{% endblock content %}
