{% extends "base.html" %}

{% load humanize %}
{% load querystring_tools %}

{% block metatitle %}Event Log | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}
  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Event Log" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% article_header class="mb-4" title="Event log" text="The following is a list of all job requests run via OpenSAFELY." %}

  {% if user_can_view_staff_area %}
    {% #alert variant="info" title="Staff: Search for an event" class="max-w-prose mb-4" %}
      <div class="prose prose-sm prose-oxford">
        <p>If you are looking for a particular job, you can:</p>
        <ul>
          <li>
            {% link href="/staff/job-requests/" text="View Job Requests in the Staff Area" %}
          </li>
          <li>
            {% link href="https://ui.honeycomb.io/bennett-institute-for-applied-data-science/environments/production/datasets/job-server/home" text="Search in Honeycomb" %}
            (Honeycomb login required)
          </li>
        </ul>
      </div>
    {% /alert %}
  {% else %}
    {% if page_obj.number == 1 %}
      {% #alert variant="info" title="OpenSAFELY status" class="max-w-prose mb-4" %}
        <p>
          If you are looking for the overall service status, go to our
          {% link href="https://status.opensafely.org/" text="OpenSAFELY Status website" append_after="." %}
        </p>
      {% /alert %}
    {% endif %}
  {% endif %}
{% endblock content %}

{% block full_width_content %}
  <div class="mx-4 lg:mx-6 xl:mx-8">
    {% #card no_container=True %}
      <div class="inline-block min-w-full align-middle overflow-x-auto max-w-full">
        {% #table %}
          {% #table_head class="bg-slate-200" %}
            {% #table_row %}
              {% #table_header %}<span class="sr-only">Status</span>{% /table_header %}
              {% #table_header nowrap=True %}Project{% /table_header %}
              {% #table_header nowrap=True %}Workspace{% /table_header %}
              {% #table_header nowrap=True %}User{% /table_header %}
              {% #table_header nowrap=True %}Jobs{% /table_header %}
              {% #table_header nowrap=True %}Backend{% /table_header %}
              {% #table_header nowrap=True %}Started{% /table_header %}
              {% #table_header %}<span class="sr-only">View request</span>{% /table_header %}
            {% /table_row %}
          {% /table_head %}

          {% #table_body %}
            {% for group in page_obj %}
              {% #table_row class="even:bg-slate-50" %}
                {% #table_cell class="py-2 pl-4 pr-3" title=group.status|title nowrap=True %}
                  {% if group.status == "succeeded" %}
                    {% icon_check_circle_solid class="h-6 w-6 text-green-700" %}
                  {% elif group.status == "pending" %}
                    {% icon_clock_outline class="h-6 w-6 text-slate-500 stroke-2" %}
                  {% elif group.status == "running" %}
                    {% icon_custom_spinner class="h-6 w-6 animate-spin stroke-oxford-600 stroke-2 text-oxford-300" %}
                  {% elif group.status == "failed" %}
                    {% icon_x_circle_solid class="h-6 w-6 text-bn-ribbon-700" %}
                  {% endif %}
                  <span class="sr-only">{{ group.status|title }}</span>
                {% /table_cell %}
                {% #table_cell class="max-w-[25ch]" %}
                  <span class="flex flex-row items-center gap-1">
                    <img
                      alt="{{ group.workspace.project.org }}"
                      class="h-5 w-5 mr-1 shrink-0"
                      src="{{ group.workspace.project.org.logo_file.url }}"
                      title="{{ group.workspace.project.org }}"
                    >
                    {% link href=group.workspace.project.get_absolute_url new_tab=True text=group.workspace.project.name %}
                  </span>
                {% /table_cell %}
                {% #table_cell class="break-words min-w-[18ch]" %}
                  {% link href=group.workspace.get_absolute_url new_tab=True text=group.workspace.name %}
                {% /table_cell %}
                {% #table_cell class="min-w-[18ch] break-words" %}
                  {% link href=group.created_by.get_absolute_url new_tab=True text=group.created_by.name %}
                {% /table_cell %}
                {% #table_cell %}
                  {{ group.num_completed }}/{{ group.jobs.all|length }}
                {% /table_cell %}
                {% #table_cell %}
                  {{ group.backend|upper }}
                {% /table_cell %}
                {% #table_cell nowrap=True %}
                  <span class="relative group{% if group.started_at %} cursor-pointer{% endif %}">
                    {% if group.started_at|naturalday == "today" %}
                      {{ group.started_at|naturaltime }}
                    {% elif group.started_at %}
                      {{ group.started_at|date:"d M Y" }}
                      at
                      {{ group.started_at|date:"H:i" }}
                    {% else %}
                      -
                    {% endif %}
                    {% if group.started_at %}
                      {% if forloop.last %}
                        {% var position="-top-14 !pb-0" %}
                        {% var tooltip_top=True %}
                      {% else %}
                        {% var position="-bottom-4 !pb-0" %}
                        {% var tooltip_top=False %}
                      {% endif %}
                      {% tooltip position=position tooltip_top=tooltip_top content=group.started_at|date:"d F Y H:i:s T" %}
                    {% endif %}
                  </span>
                {% /table_cell %}
                {% #table_cell nowrap=True %}
                  {% #button type="link" href=group.get_absolute_url variant="primary-outline" small=True %}
                    View
                  {% /button %}
                {% /table_cell %}
              {% /table_row %}
            {% endfor %}
          {% /table_body %}
        {% /table %}
      </div>

      {% if page_obj.has_previous %}
        {% url_with_querystring page=page_obj.previous_page_number as prev_url %}
      {% endif %}
      {% if page_obj.has_next %}
        {% url_with_querystring page=page_obj.next_page_number as next_url %}
      {% endif %}
      {% table_pagination paginator=page_obj next_url=next_url prev_url=prev_url %}
    {% /card %}
  </div>
{% endblock full_width_content %}
