{% extends "base-tw.html" %}

{% block metatitle %}Login | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Login" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<section class="grid md:grid-cols-3">
  <h1 class="text-3xl break-words font-bold text-slate-900 mt-2 mb-4 md:mt-0 md:col-span-3 md:text-4xl">
    Login
  </h1>

  <div class="text-slate-700 flex flex-col gap-y-2 max-w-prose md:col-span-3">
    <p>OpenSAFELY Jobs uses your GitHub account to confirm your identity.</p>
    <p>If you do not already have a GitHub account, then you will need to create one before signing in.</p>
  </div>

  <form class="flex items-center gap-2 flex-wrap mt-4 md:col-span-3 md:flex-nowrap" method="POST" action="{% url "auth-login" "github" %}">
    <input type="hidden" name="next" value="{{ next_url }}" />
    {% #button type="submit" variant="primary" %}
      Sign in with GitHub
    {% /button %}
    <p class="text-slate-700 text-lg">or</p>
    {% #button type="link" href="https://github.com/signup" variant="secondary" %}
      Create a GitHub account
    {% /button %}
  </form>
</section>
{% endblock content %}
