{% extends "base-tw.html" %}

{% block metatitle %}{{ org.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=org.name active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="
    mb-6 mt-3 flex flex-col gap-6 items-center text-center
    md:mt-0 md:flex-row md:text-left
  ">
    {% if org.logo_file %}
      <img
        alt="{{ org.name }} logo"
        class="w-36 h-36 bg-white aspect-square rounded-2xl border border-slate-200 shadow-sm overflow-hidden flex-shrink-0"
        height="144"
        src="{{ org.logo_file.url }}"
        width="144"
      />
    {% endif %}
    <div class="flex-grow flex flex-col gap-y-4 md:gap-y-2">
      <h1 class="text-3xl tracking-tight break-words md:text-4xl font-bold text-slate-900">
        {{ org.name }}
      </h1>
      <p class="font-lg text-slate-600">
        {% if org.description %}
          {{ org.description }}
        {% else %}
          {{ org.name }} is an organisation which uses OpenSAFELY to deliver research projects.
        {% endif %}
      </p>
      <div>
        {% #button href=org.get_logs_url type="link" variant="primary" %}
          View logs
          {% icon_queue_list_outline class="h-4 w-4 ml-2 -mr-2" %}
        {% /button %}
      </div>
    </div>
  </div>

  {% if projects %}
    {% #card title="Projects" subtitle="OpenSAFELY projects started by "|add:org.name %}
      {% #list_group %}
        {% for project in projects %}
          <li>
            <a href="{{ project.get_absolute_url }}" class="block transition-colors duration-200 hover:bg-oxford-50">
              <div class="px-4 py-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <p class="truncate text-base font-semibold text-oxford-600">
                    {{ project.name }}
                  </p>
                  <div class="ml-2 flex flex-shrink-0">
                    {% if project.status == "retired" %}
                      {% pill sr_only="Status:" variant="warning" text=project.get_status_display %}
                    {% elif project.status == "ongoing" %}
                      {% pill sr_only="Status:" variant="primary" text=project.get_status_display %}
                    {% elif project.status == "ongoing-and-linked" %}
                      {% pill sr_only="Status:" variant="primary" text=project.get_status_display %}
                    {% elif project.status == "postponed" %}
                      {% pill sr_only="Status:" variant="danger" text=project.get_status_display %}
                    {% elif project.status == "completed-and-linked" %}
                      {% pill sr_only="Status:" variant="success" text=project.get_status_display %}
                    {% elif project.status == "completed-and-awaiting" %}
                      {% pill sr_only="Status:" variant="success" text=project.get_status_display %}
                    {% endif %}
                  </div>
                </div>
                <div class="mt-2 sm:flex sm:justify-between">
                  <div class="sm:flex">
                    <p class="flex items-center text-sm text-slate-600">
                      {% icon_user_group_outline class="mr-1.5 h-5 w-5 flex-shrink-0 text-slate-400" %}
                      {{ project.member_count }}
                      user{{ project.member_count|pluralize }}
                    </p>
                    <p class="flex items-center text-sm text-slate-600 mt-2 sm:mt-0 sm:ml-6">
                      {% icon_rectangle_stack_outline class="mr-1.5 h-5 w-5 flex-shrink-0 text-slate-400" %}
                      {{ project.workspace_count }}
                      workspace{{ project.workspace_count|pluralize }}
                    </p>
                  </div>
                  <div class="mt-2 flex items-center text-sm text-slate-600 sm:mt-0">
                    {% icon_calendar_outline class="mr-1.5 h-5 w-5 flex-shrink-0 text-slate-400" %}
                    <time datetime="{{ project.created_at|date:"Y-m-d H:i:sO" }}">
                      <span class="sr-only">Project created:</span>
                      {{ project.created_at|date:"d M Y" }}
                    </time>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      {% /list_group %}
    {% /card %}
  {% else %}
    {% #card %}
      <div class="text-center p-8">
        {% icon_folder_outline class="mx-auto h-12 w-12 text-slate-400" %}
        <h2 class="mt-2 text-lg font-semibold text-slate-900">
          No projects
        </h2>
        <p class="mt-2 text-base text-slate-600">
          This organisation has not created any projects yet
        </p>
      </div>
    {% /card %}
  {% endif %}
{% endblock %}
