{% extends "base-tw.html" %}

{% block metatitle %}Repo: {{ repo.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Repo" %}
    {% breadcrumb title=repo.name active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="
    mb-6 mt-3 flex flex-col gap-y-4 md:gap-y-2 text-center
    md:mt-0 md:text-left
  ">
    <h1 class="text-3xl tracking-tight break-words md:text-4xl font-bold text-slate-900">
      Projects for the {{ repo.name }} repo
    </h1>
    <p class="font-lg text-slate-600">
      Each project listed below has one or more workspaces using the
      {% link href=repo.url text=repo.name %} repository.
    </p>
  </div>

  {% if projects %}
    {% #card title="Projects" %}
      {% #list_group %}
        {% for project in projects %}
          {% #list_group_item href=project.get_absolute_url %}
            {{ project.name }}
          {% /list_group_item %}
        {% endfor %}
      {% /list_group %}
    {% /card %}
  {% else %}
    {% #card %}
      <div class="text-center p-8">
        {% icon_rectangle_stack_outline class="mx-auto h-12 w-12 text-slate-400" %}
        <h2 class="mt-2 text-lg font-semibold text-slate-900">
          No projects
        </h2>
        <div class="prose prose-sm mt-2 mx-auto">
          <p>This code in the {{ repo.name }} repository has not yet been run on the OpenSAFELY platform.</p>
          <p> Once its code has been run on the platform you can reload this page and you will get redirected to the relevant project.</p>
        </div>
      </div>
    {% /card %}
  {% endif %}
{% endblock %}
