{% extends "base-tw.html" %}

{% block metatitle %}Released outputs: {{ release.workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Project" title=release.workspace.project.name url=release.workspace.project.get_absolute_url %}
    {% breadcrumb location="Workspace" title=release.workspace.name url=release.workspace.get_absolute_url %}
    {% breadcrumb title="Releases" url=release.workspace.get_releases_url %}
    {% breadcrumb title=release.id active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block full_width_content %}
  <div class="bg-bn-sun-300 py-8">
    <div class="container">
      <h1 class="text-3xl break-words pt-2 md:pt-0 md:text-4xl font-bold text-slate-900">
        Released outputs from {{ release.workspace.name }}
      </h1>
      <div class="text-slate-800 flex flex-col items-start gap-y-3 max-w-prose">
        <p class="mt-1">
          Released by
          <strong>{{ release.created_by.name }}</strong>
          on
          <strong>{{ release.created_at|date:"j M Y" }} at {{ release.created_at|date:"H:i" }}</strong>
        </p>
        <p>You can see these outputs because you have been assigned the ProjectCollaborator role.</p>
        {% #button variant="primary" type="link" href=release.get_download_url %}
          Download all
        {% /button %}
      </div>

      {% if release.metadata %}
        {% #card title="Review details" class="mt-4 max-w-lg" %}
          <dl class="border-t border-slate-200 sm:divide-y sm:divide-slate-200">
            {% for k, v in release.metadata.items %}
              {% #description_item title=k %}
                {{ v }}
              {% /description_item %}
            {% endfor %}
          </dl>
        {% /card %}
      {% endif %}

    </div>
  </div>

  {% include "outputs-spa.html" %}
{% endblock full_width_content %}
