{% extends "base-tw.html" %}

{% load humanize %}

{% block metatitle %}Set your password | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Set your password" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <section class="grid md:grid-cols-3">
    <h1 class="md:col-span-3 text-3xl break-words md:text-4xl font-bold text-slate-900">
      Set your password
    </h1>

    <form method="POST" class="md:col-span-2 mt-6">
      {% csrf_token %}

      {% for error in form.non_field_errors %}
      <p class="text-red-900">{{ error }}</p>
      {% endfor %}

      {% form_input type="password" label="Password" field=form.new_password1 required=True %}
      {% form_input type="password" label="Confirm password" field=form.new_password2 required=True %}

      {% #button class="mt-2" type="submit" variant="primary" %}
        Save
      {% /button %}
    </form>
  </section>
{% endblock %}
