{% extends "base-tw.html" %}

{% block metatitle %}Settings | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}

    {% url 'settings' as settings_url %}
    {% breadcrumb title="Settings" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <section class="grid gap-8 md:grid-cols-3">
    <h1 class="md:col-span-3 text-3xl break-words md:text-4xl font-bold text-slate-900">
      Settings
    </h1>

    {% if not form.fullname.value %}
      {% #alert variant="warning" title="Update needed" class="md:col-span-2 mt-4" %}
        Your OpenSAFELY profile is missing information, please add your name to your account.
      {% /alert %}
    {% endif %}

    <form method="POST" class="md:col-span-2">
      {% csrf_token %}

      {% #card title="Your account" class="w-full" container_class="flex flex-col gap-y-4 items-start" container=True %}
        {% form_input autocapitalize="words" autocomplete="name" autocorrect="on" class="min-w-full" field=form.fullname label="Full name" required=True type="text" %}
        {% form_input autocapitalize="off" autocomplete="email" autocorrect="off" class="min-w-full" field=form.email label="Contact Email" inputmode="email" required=True type="email" %}
        {% #button type="submit" name="settings" variant="primary" %}
          Save your settings
        {% /button %}
      {% /card %}
    </form>

    {% #card title="Generate a Single Use Token" container=True class="md:col-span-2" %}
        {% if show_token_form %}
        <div class="prose mb-6">
          {% if token %}
            <div class="not-prose">
              {% #alert variant="warning" title="Do not share" %}
              <p>A Single Use Token provides access to your account &mdash; <strong>do not share this with anyone.</strong></p>
              {% /alert %}
            </div>
            <p>Your generated Single Use Token is:</p>
            <div class="not-prose">
              {% #code class="inline-flex !text-3xl font-bold !py-4 !px-8 rounded-md" %}
                {{ token }}
              {% /code %}
            </div>
          {% endif %}
          <p>
            You can use this to login to OpenSAFELY from within secure Level 4 environments.
          </p>
          <p>A Single Use Token is only valid:</p>
          <ul>
            <li>for one login attempt</li>
            <li>for one hour from the time you generate it</li>
            <li>until you generate a new Single Use Token</li>
          </ul>
        </div>
        <form class="mt-2" method="POST">
          {% csrf_token %}
          {% if token %}
            {% #button type="submit" name="token" variant="success-outline" %}
              Generate a new Single Use Token
            {% /button %}
          {% else %}
            {% #button type="submit" name="token" variant="success" %}
              Generate a Single Use Token
            {% /button %}
          {% endif %}
        </form>
        {% else %}
        <p>You do not have access to log in to any OpenSAFELY backends</p>
        {% endif %}
    {% /card %}
  </section>
{% endblock %}
