{% extends "base.html" %}

{% load duration_tools %}
{% load humanize %}

{% block metatitle %}Status | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title="Status" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<h1 class="text-3xl break-words pt-2 pb-4 md:pt-0 md:pb-6 md:text-4xl font-bold text-slate-900">
  Status
</h1>
<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
  {% for backend in backends %}
    {% #card %}
      <div class="px-4 py-2 sm:px-6 sm:py-3">
        <div class="flex flex-wrap items-center justify-between sm:flex-nowrap">
          <h2 id="workspaces-title" class="text-xl font-semibold tracking-tight text-slate-900">
            {{ backend.name }}
          </h2>
          {% if backend.show_warning %}
          {% pill variant="warning" text="Missing" %}
          {% endif %}
        </div>
      </div>
      <div>
        {% #description_item title="Last contact with "|add:backend.name|add:" backend" stacked=True %}
          <time
            class="
              text-slate-900 group relative cursor-pointer
              {% if not backend.last_seen %}text-bn-ribbon-900{% endif %}
            "
            datetime="{{ backend.last_seen|date:"Y-m-d H:i:sO" }}">
            {{ backend.last_seen|naturaltime }}
            {% if backend.last_seen %}
            {% tooltip class="font-mono" position="-bottom-4" content=backend.last_seen|date:"d M Y H:i:s e" %}
            {% endif %}
          </time>
        {% /description_item %}
        {% #description_item title="Job requests sent from OpenSAFELY Jobs" stacked=True %}
          {{ backend.queue.unacked }}
        {% /description_item %}
        {% #description_item title="Job requests received by "|add:backend.name|add:" backend" stacked=True %}
          {{ backend.queue.acked }}
        {% /description_item %}
        {% #description_item title="Pending jobs" stacked=True %}
          {{ backend.queue.pending }}
        {% /description_item %}
        {% #description_item title="Running jobs" stacked=True %}
          {{ backend.queue.running }}
        {% /description_item %}
      </div>
      {% #card_footer no_container class="border-t border-t-slate-200" %}
        <p class="text-sm font-medium text-slate-600">
          {{ backend.name }} backend is missing if OpenSAFELY Jobs does
          not receive a response for {{ backend.alert_timeout|duration }}.
        </p>
      {% /card_footer %}
    {% /card %}
  {% endfor %}
</div>
{% endblock %}
