{% extends "base-tw.html" %}

{% load selected_filter %}

{% block metatitle %}Logs: {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Project" title=workspace.project.name url=workspace.project.get_absolute_url %}
    {% breadcrumb location="Workspace" title=workspace.name url=workspace.get_absolute_url %}
    {% breadcrumb title="Logs" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
{% if workspace.is_archived %}
  <div class="alert alert-warning text-center mb-0" role="warning">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>
            This Workspace has been archived.  Logs are still available but new Jobs can no longer be requested.
          </p>
          <p class="mb-0">
            If you think this has been done in error, please contact an <a href="mailto:team@opensafely.org">admin</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

  {% fragment as intro_text %}
    <p>
      Below are the logs for each job run in the
      {% link href=workspace.get_absolute_url text=workspace.name %}
      workspace of the project
      {% link href=workspace.project.get_absolute_url text=workspace.project.title append_after="." %}
      They are grouped based on the actions which were requested.
    </p>
  {% endfragment %}
  {% article_header title=workspace.name text=intro_text %}

  {% #card container=True class="max-w-prose mt-6" %}
    <form method="GET">
      {% form_input type="search" custom_field=True label="Search by Job action or ID" id="searchJobLogs" name="q" %}
      {% #button class="mt-2" type="submit" variant="primary-outline" %}Search{% /button %}
    </form>

    {% if backends|length > 1 %}
    <form class="mt-6 pt-6 border-t border-t-slate-300" method="get">
      {% #form_fieldset class="mb-3" %}
        {% form_legend text="Filter by backend" %}
        {% for backend in backends|dictsort:"name" %}
          {% is_filter_selected key="backend" value=backend.slug as is_active %}
          {% form_checkbox label=backend.name value=backend.slug name="backend" id=backend.slug checked=is_active %}
        {% endfor %}
      {% /form_fieldset %}
      {% #button type="submit" variant="primary-outline" %}Filter{% /button %}
    </form>
    {% endif %}
  {% /card %}

  {% if not page_obj %}
    {% #card class="mt-6" container=True title="No results found" %}
      {% url "job-list" as job_list_url %}
      <p>
        No results found, try checking the
        {% link href=job_list_url text="Event Log" append_after="." %}
      <p>
    {% /card %}
  {% else %}
    {% include "_job_requests.html" %}
  {% endif %}

</div>
{% endblock content %}
