{% extends "base-tw.html" %}

{% load django_vite %}

{% block metatitle %}Create a workspace: {{ project.title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Project" title=project.name url=project.get_absolute_url %}
    {% breadcrumb title="Create a workspace" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% fragment as intro_text %}
    <p>Create a workspace in <strong>{{ project.title }}</strong>.</p>
  {% endfragment %}
  {% article_header title="Create a workspace" text=intro_text %}

  <form method="POST">
    {% csrf_token %}

    {% #card container=True class="my-6" title="Workspace details" %}
      {% if form.non_field_errors %}
        <ul class="mt-2 text-sm text-bn-ribbon-600">
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="max-w-prose grid gap-y-6">
        {% form_input field=form.name label="Workspace name" required=True placeholder="Workspace name" %}

        {% form_textarea field=form.purpose label="Workspace purpose" required=True placeholder="Workspace purpose" %}

        {% form_select field=form.repo label="GitHub repo" choices=form.repo.field.choices hint_text="If your repo doesn’t show up here, reach out to the OpenSAFELY team on Slack." required=True %}

        {% form_select field=form.branch label="Branch" choices=form.branch.field.choices required=True %}
      </div>
    {% /card %}

    {% #button type="submit" variant="success" %}Create workspace{% /button %}
  </form>
{% endblock content %}

{% block extra_js %}
  {{ repos_with_branches|json_script:"reposWithBranches" }}
  {% vite_asset "assets/src/scripts/workspace_create.js" %}
{% endblock %}
