{% extends "base-tw.html" %}

{% block metatitle %}Medium Privacy (Level 4) Files: {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=workspace.project.org.name url=workspace.project.org.get_absolute_url location="Organisation" %}
    {% breadcrumb title=workspace.project.name url=workspace.project.get_absolute_url location="Project" %}
    {% breadcrumb title=workspace.name url=workspace.get_absolute_url location="Workspace" %}
    {% breadcrumb title="Files" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="grid grid-cols-1 mt-2 lg:grid-cols-3">
    <div class="
      flex flex-col items-center gap-y-4
      lg:flex-row lg:flex-wrap lg:items-start lg:col-span-2
    ">
      <div class="flex flex-col text-center items-center gap-y-4 lg:flex-row lg:text-left lg:items-start">
        {% if workspace.project.org.logo_file %}
          <img
            alt="{{ workspace.project.org.name }} logo"
            class="w-24 h-24 bg-white aspect-square rounded-2xl border border-slate-200 shadow-sm overflow-hidden flex-shrink-0"
            height="144"
            src="{{ workspace.project.org.logo_file.url }}"
            width="144"
          />
        {% else %}
          <span class="grid place-content-center w-24 h-24 bg-white border border-slate-300 rounded-md overflow-hidden flex-shrink-0">
            <span class="text-xs text-slate-600 tracking-tighter leading-4 p-1">
              {{ workspace.project.org.name }}
            </span>
          </span>
        {% endif %}

        <div class="flex flex-col gap-y-2 flex-grow lg:ml-4">
          <h1 class="text-3xl tracking-tight break-words font-bold text-slate-900 sm:text-4xl">
            Medium Privacy (Level 4) Files
          </h1>
          <dl class="flex flex-col gap-2 text-sm text-slate-600 items-center sm:flex-row sm:gap-x-6 sm:justify-center lg:justify-start">
            <dt class="sr-only">Organisation:</dt>
            <dd class="flex flex-row items-start overflow-hidden">
              {% icon_building_library_outline class="mr-1.5 h-5 w-5 flex-shrink-0 text-slate-400" %}
              <span class="truncate">{{ workspace.project.org.name }}</span>
            </dd>
            <dt class="sr-only">Project:</dt>
            <dd class="flex flex-row items-start overflow-hidden">
              {% icon_rectangle_stack_outline class="mr-1.5 h-5 w-5 flex-shrink-0 text-slate-400" %}
              <span class="truncate">{{ workspace.project.name }}</span>
            </dd>
          </dl>
          <p class="max-w-prose font-lg text-slate-600">
            Listed below are the backends which you have access to.
            Viewing one will show you the files currently on that backend for the
            <strong>{{ workspace.name }}</strong> workspace.
          </p>
        </div>
      </div>

      {% #card title="Backends" class="w-full lg:col-span-2" %}
        {% #list_group small=True %}
          {% for backend in backends %}
            {% url 'workspace-backend-files' project_slug=workspace.project.slug workspace_slug=workspace.name backend_slug=backend.slug as files_url %}
            {% #list_group_item href=files_url %}
              {{ backend.name }}
            {% /list_group_item%}
          {% endfor %}
        {% /list_group %}
      {% /card %}
    </div>
  </div>
{% endblock %}
