{% extends "base-tw.html" %}

{% block metatitle %}Create a workspace: {{ project.title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "home" as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Project" title=project.name url=project.get_absolute_url %}
    {% breadcrumb title="Create a workspace" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% fragment as intro_text %}
  <p>Create a workspace in <strong>{{ project.title }}</strong>.</p>
  {% endfragment %}
  {% article_header title="Create a workspace" text=intro_text class="mb-6" %}

  {% #alert variant="danger" title="An error has occurred" %}
    <p>{{ message }}</p>
  {% /alert %}
{% endblock content %}
