{% extends "base-tw.html" %}

{% block metatitle %}Latest released outputs: {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url 'home' as home_url %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb location="Project" title=workspace.project.title url=workspace.project.get_absolute_url %}
    {% breadcrumb location="Workspace" title=workspace.name url=workspace.get_absolute_url %}
    {% breadcrumb title="Releases" url=workspace.get_releases_url %}
    {% breadcrumb title="Latest" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block full_width_content %}
  <div class="bg-bn-sun-300 py-8">
    <div class="container">
      <h1 class="text-3xl break-words pt-2 md:pt-0 md:text-4xl font-bold text-slate-900">
        Latest outputs from {{ workspace.name }}
      </h1>
      <div class="text-slate-800 flex flex-col items-start gap-y-3 max-w-prose">
        <p class="mt-2">The latest version of each output in the {{ workspace.name }} workspace, across all releases.</p>
        <p>You can see these outputs because you have been assigned the <strong>ProjectCollaborator</strong> role.</p>
        {% #button variant="primary" type="link" href=workspace.get_latest_outputs_download_url %}
          Download all
        {% /button %}
      </div>
    </div>
  </div>

  {% include "outputs-spa.html" %}
{% endblock full_width_content %}
