{% extends "base-tw.html" %}

{% load humanize %}

{% block metatitle %}Edit {{ workspace.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=workspace.project.name url=workspace.project.get_absolute_url location="Project" %}
    {% breadcrumb title=workspace.name url=workspace.get_absolute_url location="Workspace" %}
    {% breadcrumb title="Edit" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <section class="grid md:grid-cols-3">
    <h1 class="md:col-span-3 text-3xl break-words md:text-4xl font-bold text-slate-900">
      Settings
    </h1>

    <form method="POST" class="md:col-span-2 mt-6">
      {% csrf_token %}

      {% #card title="Edit "|add:workspace.name class="w-full" container_class="flex flex-col gap-y-4 items-start" container=True %}
        {% form_textarea class="w-full max-w-[65ch]" field=form.purpose resize=False rows="8" %}
        {% #button class="mt-2" type="submit" variant="primary" %}
          Submit
        {% /button %}
      {% /card %}
    </form>
  </section>
{% endblock %}
