{% load roles %}

<fieldset class="mb-3">
  <legend class="h3 mb-3">
    {{ label }}
  </legend>

  <div class="form-group">
    <div class="list-group mb-3">
      {% for value, label in field.field.choices %}
        <label
          class="list-group-item cursor-pointer d-flex align-items-top mb-0"
          for="id_{{ name }}_{{ forloop.counter0 }}"
        >
          <input
            type="checkbox"
            class="mr-3 mt-1"
            id="id_{{ name }}_{{ forloop.counter0 }}"
            name="{{ name }}"
            value="{{ value }}"
            {% if value in field.value %}
            checked
            {% endif %}
          />
          <span class="d-flex flex-column">
            <span class="d-block"><strong>{{ label }}</strong></span>
            <span>{{ value|role_description|linebreaksbr }}</span>
          </span>
        </label>
      {% endfor %}
    </div>

    {% if field.errors %}
      <ul class="pl-3 mb-1">
        {% for error in field.errors %}
          <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</fieldset>
