<div class="form-group">

  <label class="font-weight-bold" for="id_{{ name }}">
    {{ label }}
  </label>

  <textarea
    class="form-control"
    id="id_{{ name }}"
    name="{{ name }}"
    rows="4"

    {% if field.help_text %}
    aria-describedby="{{ name }}HelpBlock"
    {% endif %}

    {% if field.field.required %}
    required
    {% endif %}

    {# add extra form attributes here #}
    {% for attr_name, attr_value in extra_attributes.items %}
    {{ attr_name }}={{ attr_value }}
    {% endfor %}

  >{% if field.value %}{{ field.value }}{% endif %}</textarea>

  {% if "max_length" in extra_attributes %}
  <div class="text-right">
    <div id="character_counter">
      <span id="typed_characters">0</span>/1500
    </div>
  </div>
  {% endif %}


  {% if field.help_text %}
    <div id="{{ name }}HelpBlock" class="form-text text-muted form__help-text mt-2">
      {{ field.help_text }}
    </div>
  {% endif %}

  {% if field.errors %}
    <ul class="pl-3 mb-1">
      {% for error in field.errors %}
        <li class="text-danger">{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
