{% extends "staff/base.html" %}

{% block metatitle %}Application {{ application.pk }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:application-list' %}">Applications</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Application {{ application.pk }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Application {{ application.pk }}</h1>

    <ul class="list-unstyled lead">
      {% if application.created_by %}
      <li>
        <strong>Created by:</strong>
        <a href="{{ application.created_by.get_staff_url }}">{{ application.created_by.name }}</a>
      </li>
      {% endif %}

      <li>
        <strong>Created at:</strong> {{ application.created_at }}
      </li>
    </ul>

    <div class="d-flex">
      <a class="btn btn-primary" href="{{ application.get_absolute_url }}">View on Site</a>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col">

      <dl class="row mb-1">
        <dt class="col-6 mb-2">Full name</dt>
        <dd class="col-6">{{ application.contactdetailspage.full_name }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Email</dt>
        <dd class="col-6">{{ applicatio.contactdetailspagen.email }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Telephone number</dt>
        <dd class="col-6">{{ application.contactdetailspage.telephone }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Job title</dt>
        <dd class="col-6">{{ application.contactdetailspage.job_title }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Team or division</dt>
        <dd class="col-6">{{ application.contactdetailspage.team_name }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Organisation</dt>
        <dd class="col-6">{{ application.contactdetailspage.organisation }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Study name</dt>
        <dd class="col-6">{{ application.studyinformationpage.study_name }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Purpose for requesting access to OpenSAFELY data</dt>
        <dd class="col-6">{{ application.studyinformationpage.study_purpose }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Simple description of study</dt>
        <dd class="col-6">{{ application.studypurposepage.description }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Name of application owner</dt>
        <dd class="col-6">{{ application.studypurposepage.author_name }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Work email address</dt>
        <dd class="col-6">{{ application.studypurposepage.author_email }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Affiliated organisation</dt>
        <dd class="col-6">{{ application.studypurposepage.author_organisation }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">How does the requested data meet the study purpose</dt>
        <dd class="col-6">{{ application.studydatapage.data_meets_purpose }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Needs record level data?</dt>
        <dd class="col-6">{{ application.studydatapage.need_record_level_data }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Access to data reasons</dt>
        <dd class="col-6">{{ application.recordleveldatapage.record_level_data_reasons }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Type of study is Research?</dt>
        <dd class="col-6">{{ application.typeofstudypage.is_study_research }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Type of study is Service evaluation?</dt>
        <dd class="col-6">{{ application.typeofstudypage.is_study_service_evaluation }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Type of study is Audit?</dt>
        <dd class="col-6">{{ application.typeofstudypage.is_study_audit }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">HRA/IRSE ID</dt>
        <dd class="col-6">{{ application.referencespage.hra_ires_id }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">HRA/REC reference</dt>
        <dd class="col-6">{{ application.referencespage.hra_rec_reference }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Institutional REC reference</dt>
        <dd class="col-6">{{ application.referencespage.institutional_rec_reference }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Sponsor name</dt>
        <dd class="col-6">{{ application.sponsordetailspage.sponsor_name }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Sponsor email</dt>
        <dd class="col-6">{{ application.sponsordetailspage.sponsor_email }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Sponsor job role</dt>
        <dd class="col-6">{{ application.sponsordetailspage.sponsor_job_role }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Is research on CMO priority list?</dt>
        <dd class="col-6">{{ application.cmoprioritylistpage.is_on_cmo_priority_list }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Legal basis for accessing data under DPA</dt>
        <dd class="col-6">{{ application.legalbasispage.legal_basis_for_accessing_data_under_dpa }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">How is duty of confidentiality satisfied or set aside</dt>
        <dd class="col-6">{{ application.legalbasispage.how_is_duty_of_confidentiality_satisfied }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Funding details</dt>
        <dd class="col-6">{{ application.studyfundingpage.funding_details }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Team details</dt>
        <dd class="col-6">{{ application.teamdetails.team_details }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Previous experience with EHR</dt>
        <dd class="col-6">{{ application.previousehrexperiencepage.previous_experience_with_ehr }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Evidence of coding</dt>
        <dd class="col-6">{{ application.softwaredevelopmentexperiencepage.evidence_of_coding }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">All applications have completed gettting started</dt>
        <dd class="col-6">{{ application.softwaredevelopmentexperiencepage.all_applicants_completed_getting_started }}</dd>
      </dl>
      <dl class="row mb-1">
        <dt class="col-6 mb-2">Evidence of sharing in public domain before</dt>
        <dd class="col-6">{{ application.sharingcodepage.evidence_of_sharing_in_public_domain_before }}</dd>
      </dl>

      <h2 class="h3 mt-5">Researchers</h2>

      <div class="list-group list-unstyled">
        {% for researcher in researchers %}
        <div class="d-flex justify-content-between align-items-center list-group-item">
          <span class="mr-3">
            {{ researcher.name }}
            <small class="text-muted">({{ researcher.email }})</small>
          </span>
          <a class="btn btn-sm btn-primary" href="{{ researcher.get_edit_url }}">View on Site</a>
        </a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock staff_content %}
