{% extends "staff/base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vendor/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block metatitle %}Invite users: {{ project.title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:project-list' %}">Applications</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Approve
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Approve Application</h1>
    <p class="lead">
      Approve Application for "{{ application.studyinformationpage.study_name }}"
    </p>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-xl-8">
      <h2 class="sr-only">Approve an Application</h2>

      <p>
        Approving an application will create a Project under the selected
        Organisation, locking the application from further changes.
      </p>

      <form class="mt-3 pt-3" method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <ul>
            {% for error in form.non_field_errors %}
              <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <fieldset class="mb-3">
          <legend class="h3 mb-3">Set project details</legend>

          <div class="form-group">
            <label class="font-weight-bold" for="id_org">Select an org</label>
            <select id="id_org" name="org" aria-describedby="orgHelpBlock" required>
              {% for value, label in form.fields.org.choices %}
                <option
                  value="{{ value }}"
                  {% if form.org.value == value %}selected{% endif %}
                  >{{ label }}</option>
              {% endfor %}
            </select>
            <p id="orgHelpBlock" class="form-text text-muted">
              If the org doesn't exist, you can
              <button
                hx-get="{% url 'staff:application-add-org' pk_hash=application.pk_hash %}"
                hx-target="#dialog"
                hx-trigger="click"
                class="btn btn-link m-0 p-0 border-0 font-weight-bold align-baseline"
                >
                add a new org
              </button>
            </p>

            {% for error in form.orgs.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          {% include "components/form_text.html" with field=form.project_name label="Set the project name" name="project_name" %}
          {% include "components/form_text.html" with field=form.project_number label="Set the project number" name="project_number" %}
        </fieldset>

        <button class="btn btn-success" type="submit">Approve Application</button>
      </form>
    </div>
  </div>
</div>

<div id="modal" class="modal fade" tabindex="-1">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/htmx.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2.min.js' %}"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {
    $('#id_org').select2({
      placeholder: "Select an org for the application",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
  });
</script>
<script nonce="{{ request.csp_nonce }}">
  (function () {
    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        $("#modal").modal("show");
      }
    });

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        $("#modal").modal("hide");
        e.detail.shouldSwap = false;
      }
    });

    // Remove dialog content after hiding
    $("#modal").on("hidden.bs.modal", () => {
      $("#dialog").empty();
    });
  })();
</script>
{% endblock %}
