{% extends "staff/base.html" %}

{% block metatitle %}Edit {{ backend.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:backend-list' %}">Backends</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ backend.get_staff_url }}">{{ backend.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: {{ backend.name }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xl-9">
      <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% include "components/form_text.html" with field=form.level_4_url label="Level 4 URL" name="level_4_url" %}

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock staff_content %}
