{% extends "staff/base.html" %}

{% block staff_content %}

<div class="row">
  <div class="col-lg-8 offset-lg-2">

  <div class="d-flex justify-content-between mt-3 mb-4">
    <h2>Backends</h2>
  </div>

    {% for backend in backend_list %}
    <div class="d-flex justify-content-between align-items-center border rounded p-2 pl-3 mb-3">
      <a href="{{ backend.get_staff_url }}">{{ backend.name }}</a>
      <a class="btn btn-sm btn-danger" href="{{ backend.get_edit_url }}">Edit</a>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock staff_content %}
