{% extends "staff/base.html" %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'vendor/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block metatitle %}{{ org.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:org-list' %}">Organisations</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ org.name }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ org.name }}</h1>

    <ul class="list-unstyled lead">
      {% if org.created_by %}
      <li>
        <strong>Created by:</strong>
        <a href="{{ org.created_by.get_staff_url }}">{{ org.created_by.name }}</a>
      </li>
      {% endif %}

      <li>
        <strong>Created at:</strong> {{ org.created_at }}
      </li>
    </ul>

    <div class="d-flex">
      <a class="btn btn-danger mr-1" href="{{ org.get_edit_url }}">Edit</a>
      <a class="btn btn-primary mr-1" href="{{ org.get_absolute_url }}">View on Site</a>
      <a class="btn btn-primary" href="{% url 'staff:org-project-create' slug=org.slug %}">
        Add Project
      </a>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">

      <h2 class="h3">GitHub Orgs</h2>

      <div class="list-group mb-4">
        {% for github_org in github_orgs %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ github_org }}</span>
          <div class="d-flex justify-content-between">
            <a class="btn btn-sm btn-primary mr-2" href="https://github.com/{{ github_org }}">View on GitHub</a>
            <form method="POST" action="{% url 'staff:org-remove-github-org' slug=org.slug %}">
              {% csrf_token %}
              <input type="hidden" name="name" value="{{ github_org }}" />
              <button class="btn btn-sm btn-danger" type="submit">
                Remove <span class="sr-only">from {{ org.name }}</span>
              </button>
            </form>
          </div>
        </div>
        {% endfor %}
        <div class="list-group-item list-group-item-success">
          <button
            class="btn ml-n2"
            hx-get="{% url 'staff:org-add-github-org' slug=org.slug %}"
            hx-swap="outerHTML"
            type="button">
            Add a GitHub organisation
          </button>
        </div>
      </div>

      <h2 class="h3">Members</h2>

      <form method="POST" class="mb-3">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="d-flex justify-content-between align-items-center">
          <div class="w-100 mr-1">
            <select id="id_users" name="users" multiple required>
              {% for value, label in form.fields.users.choices %}
              <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>

            {% for error in form.users.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add</button>
        </div>

      </form>

      <div class="list-group list-unstyled mb-4">
        <ul class="list-group">
        {% for user in members %}
        <li class="list-group-item d-flex align-items-center">
          <span>{{ user.username }}</span>
          {% if user.get_full_name %}
          <small class="ml-2 text-muted">({{ user.get_full_name }})</small>
          {% endif %}
          <a class="btn btn-sm btn-primary ml-auto mr-2" href="{{ user.get_staff_url }}">Edit</a>
          <form method="POST" action="{% url 'staff:org-remove-member' slug=org.slug %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.username }}" />
            <button class="btn btn-sm btn-danger" type="submit">Remove <span class="sr-only">from {{ org.name }}</span></button>
          </form>
        </li>
        {% endfor %}
        </ul>
      </div>

      {% if projects %}
      <h2 class="h3">Projects</h2>
      <div class="list-group">
        {% for project in projects %}
        <a class="list-group-item list-group-item-action" href="{{ project.get_staff_url }}">
          {{ project.title }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock staff_content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/htmx.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/select2.min.js' %}"></script>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
  $(document).ready(function() {
    $('#id_users').select2({
      placeholder: "Select 1 or more users to add",
      selectionCssClass: ":all:",
      theme: "bootstrap4",
      width: "100%"
    });
  });
</script>
{% endblock %}
