{% extends "staff/base.html" %}

{% block metatitle %}Edit {{ org.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:org-list' %}">Organisations</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ org.get_staff_url }}">{{ org.name }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: {{ org.name }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xl-9">
      <form class="mb-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
          <div class="col-sm-9">
            {% include "components/form_text.html" with field=form.name label="Org name" name="name" %}
            {% include "components/form_text.html" with field=form.slug label="URL slug" name="slug" %}
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label class="font-weight-bold w-100 text-center" for="id_logo_file">Logo</label>
              {% if org.logo_file %}
              <img
                class="mr-md-5 mb-2 rounded"
                height="200"
                src="{{ org.logo_file.url }}"
                width="200"
              />
              {% else %}
              <div
                class="w-100 h-100 bg-info mr-md-5 mb-2 rounded"
                style="max-width:200px;max-height:200px;aspect-ratio: 1 / 1;">
              </div>
                {% endif %}
              <input type="file" id="id_log_file" name="logo_file" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock staff_content %}
