{% extends "staff/base.html" %}

{% block staff_content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    <li class="breadcrumb-item">
      <a href="{% url 'staff:index' %}">Staff Area</a>
    </li>

    <li class="breadcrumb-item">
      <a href="{% url 'staff:project-list' %}">
        Projects
      </a>
    </li>

    <li class="breadcrumb-item">
      <a href="{{ project.get_staff_url }}">
        {{ project.name }}
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Edit</li>

  </ol>
</nav>

<div class="row mb-5">
  <div class="col-lg-8 offset-lg-2">

    <h2 class="mb-3">Edit {{ project.name }}</h2>

    <form class="mb-3" method="POST">
      {% csrf_token %}

      <div class="form-group mb-5">
        <h4>Enable New Release Process?</h4>
        <div class="custom-control custom-checkbox">
          <input
              type="checkbox"
              class="custom-control-input"
              id="id_uses_new_release_flow"
              name="uses_new_release_flow"
              {% if form.uses_new_release_flow.value %}
              checked
              {% endif %}
              />
          <label class="custom-control-label" for="id_uses_new_release_flow">
            Should this project, and its workspaces, use the new Jobs site
            based release process?
          </label>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          Save
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock staff_content %}
