{% extends "staff/base.html" %}

{% load static %}

{% block metatitle %}{{ project.title }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:project-list' %}">Projects</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ project.get_staff_url }}">{{ project.title }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Link Application
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Link to an Application</h1>
    <ul class="list-unstyled lead">
      <li>
        <strong>Project:</strong>
        <a href="{{ project.get_staff_url }}">{{ project.title }}</a>
      </li>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">

      <p>
        Projects for external researchers should all have an approved
        application linked to them.  Use this form to find the application and
        link it to the {{ project.title }} project.
      </p>

      <p><em>Note: Older Projects may not have an application in the system yet.</em></p>

      {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <ul class="list-group">

        {% for application in applications %}
        <li class="list-group-item">

          <form method="POST">
            {% csrf_token %}

            <input type="hidden" name="application" value="{{ application.pk }}" />

            <div class="d-flex justify-content-between align-items-center">
              <span>
                <a href="{{ application.get_staff_url }}">
                  {{ application.pk_hash }} by {{ application.created_by.name }}
                </a>
                <small>({{ application.status }})</small>
              </span>

              <button class="btn btn-sm btn-primary" type="submit">Link</button>
            </div>
          </form>

        </li>
        {% endfor %}

      </ul>

    </div>
  </div>
</div>
{% endblock staff_content %}
