{% extends "staff/base.html" %}

{% block staff_content %}
<div class="row mb-5">
  <div class="col-lg-8 offset-lg-2">

    <div class="mb-5">
      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ project.name }}</h2>

        <div>
          <a class="btn btn-sm btn-danger" href="{{ project.get_edit_url }}">Edit</a>
          <a class="btn btn-sm btn-primary" href="{{ project.get_absolute_url }}">View on Site</a>
        </div>
      </div>

      {% if project.created_by %}
      <p>
        <strong>Created by:</strong>
        <a href="{{ project.created_by.get_staff_url }}">{{ project.created_by.name }}</a>
      </p>
      {% endif %}

      <p>
        <strong>Created at:</strong> {{ project.created_at }}
      </p>

    </div>

    <div class="form-group mb-5">
      <h4>Organisation</h4>
      <a href="{{ project.org.get_absolute_url }}">{{ project.org.name }}</a>
    </div>

    <div class="form-group mb-5">
      <h4>Feature Flags</h4>

      <p>
        <strong>New style Releases:</strong>
        {% if project.uses_new_release_flow %}✅{% else %}❌{% endif %}
      </p>
    </div>

    <div class="form-group mb-5">
      <h4>Workspaces</h4>

      <ul class="list-group mb-3">
        {% for workspace in workspaces %}
        <li class="list-group-item">
          <a href="{{ workspace.get_staff_url }}">{{ workspace.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
{% endblock staff_content %}
