{% extends "staff/base.html" %}

{% block metatitle %}{{ project.title }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:project-list' %}">Projects</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ project.get_staff_url }}">{{ project.title }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Feature flags
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">{{ project.title }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">

      <h2>Feature flags</h2>

      <div class="card mb-3">
        <h2 class="card-header h5">
          Job site release process
        </h2>

        <div class="card-body">

          <p>
            This flag is stored on Workspaces so this page gives us an overview
            and controls to set them all one way or another.
          </p>

          <ul class="list-group list-group-flush">

            <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
              <span>Workspaces with flag enabled: {{ enabled_count }}</span>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="flip_to" value="enable" />
                <button class="btn btn-sm btn-primary">
                  Enable for all Workspaces
                </button>
              </form>
            </li>

            <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
              <span>Workspaces without flag enabled: {{ disabled_count }}</span>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="flip_to" value="disable" />
                <button class="btn btn-sm btn-primary">
                  Disable for all Workspaces
                </button>
              </form>
            </li>

          </ul>
        </div>

      </div>

    </div>
  </div>
</div>
{% endblock staff_content %}
