{% extends "staff/base.html" %}

{% load humanize %}
{% load static %}

{% block metatitle %}Redirect: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:redirect-list' %}">Redirects</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ redirect.obj.name }}
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Redirect for: {{ redirect.obj.name }}</h1>

    <ul class="list-unstyled lead">
      <li>
        <strong>Created by:</strong>
        <a href="{{ redirect.created_by.get_staff_url }}">{{ redirect.created_by.name }}</a>
      </li>

      <li>
        <strong>Created at:</strong> {{ redirect.created_at }}
      </li>

      {% if redirect.updated_by %}
      <li>
        <strong>Updated by:</strong>
        <a href="{{ redirect.updated_by.get_staff_url }}">{{ redirect.updated_by.name }}</a>
      </li>

      <li>
        <strong>Updated at:</strong> {{ redirect.updated_at }}
      </li>
      {% endif %}

      <li>
        <strong>Expires at:</strong> {{ redirect.expires_at }}
      </li>

    </ul>

    <div class="d-flex">
      <form method="POST" action="{{ redirect.get_staff_delete_url }}">
        {% csrf_token %}
        <button class="btn btn-danger mr-1" type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">

      <h2>From</h2>
      <div class="mb-3">
        <a href="{{ redirect.old_url }}">{{ redirect.old_url }}</a>
      </div>

      <h2>To</h2>
      <div>
        <a href="{{ redirect.obj.get_absolute_url }}">{{ redirect.obj.get_absolute_url }}</a>
      </div>

    </div>
    <div class="col col-lg-3 col-xl-4">
      <div class="card mb-3">
        <h2 class="card-header h5">
          {{ redirect.type }}
        </h2>
        <p class="card-body mb-0">
          <a href="{{ redirect.obj.get_staff_url }}">{{ redirect.obj.name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock staff_content %}
