{% extends "staff/base.html" %}

{% block metatitle %}Edit {{ researcher.name }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        Researchers
      </li>
      <li class="breadcrumb-item">
        {{ researcher.name }}
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: {{ researcher.name }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block staff_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xl-9">
      <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li class="text-danger">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% include "components/form_text.html" with field=form.name label="Name" name="name" %}
        {% include "components/form_text.html" with field=form.job_title label="Job title" name="job_title" %}
        {% include "components/form_email.html" with field=form.email label="Email" name="email" %}

        <div class="mb-3">
          <strong>Does this researcher require access to the OpenSAFELY secure results server?</strong>
          {% include "components/form_radio.html" with field=form.does_researcher_need_server_access label="" name="does_researcher_need_server_access" %}
        </div>

        {% include "components/form_text.html" with field=form.telephone label="Mobile phone number" name="telephone" %}

        <div class="mb-3">
          <strong>What type of smartphone does this researcher have?</legend>
          {% include "components/form_radio.html" with field=form.phone_type label="" name="phone_type" %}
        </div>

        <div class="mb-3">
          <legend class="h6 font-weight-bold">Has this researcher undertaken safe researcher training?</legend>
          {% include "components/form_radio.html" with field=form.has_taken_safe_researcher_training label="" name="has_taken_safe_researcher_training" %}
        </div>

        {% include "components/form_text.html" with field=form.training_with_org label="Safe researcher training Org" name="training_with_org" %}

        <div class="form-group">

          <label class="font-weight-bold" for="id_training_passed_at">
            Date safe researcher training passed
          </label>

          <input
            type="date"
            class="form-control"
            id="id_training_passed_at"
            name="training_passed_at"

            {% if form.training_passed_at.help_text %}
            aria-describedby="training_passed_atHelpBlock"
            {% endif %}

            {% if form.training_passed_at.field.required %}
            required
            {% endif %}

            {% if form.training_passed_at.value %}
            value="{{ form.training_passed_at.value|date:"Y-m-d" }}"
            {% endif %}

          />

          {% if form.training_passed_at.help_text %}
            <small id="training_passed_atHelpBlock" class="form-text text-muted">
              {{ form.training_passed_at.help_text }}
            </small>
          {% endif %}

          {% if form.training_passed_at.errors %}
            <ul class="pl-3 mb-1">
              {% for error in form.training_passed_at.errors %}
                <li class="text-danger">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>

        {% include "components/form_text.html" with field=form.daa label="DAA" name="daa" %}
        {% include "components/form_text.html" with field=form.github_username label="GitHub Username" name="github_username" %}

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock staff_content %}
