.sidebar {
  position: sticky;
  top: 1rem;
}

.list ul {
  font-size: 0.9rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &:not(:first-child) {
    border-top: 1px solid #dee2e6;
  }

  &:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.listItemLink {
  padding: 0 1rem;
  white-space: nowrap;
}

.selected {
  background-color: #c3e6cb !important;
  border-color: #8fd19e;
  color: #212529;
  font-weight: 500;
  padding-left: 2.25rem;
  position: relative;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &::before {
    content: "➝";
    position: absolute;
    left: 1rem;
  }
}
