{% extends "staff/base.html" %}

{% block metatitle %}Edit Application {{ application.pk_hash }}: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
<nav class="breadcrumb-container breadcrumb--danger" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb rounded-0 mb-0 px-0">
      <li class="breadcrumb-item">
        <a href="{% url 'staff:index' %}">Staff area</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'staff:application-list' %}">Applications</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ application.get_staff_url }}">Application {{ application.pk_hash }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
{% endblock breadcrumbs %}

{% block jumbotron %}
<div class="jumbotron jumbotron-fluid jumbotron--danger pt-md-2">
  <div class="container">
    <h1 class="display-4">Edit: Application {{ application.pk_hash }}</h1>
  </div>
</div>
{% endblock jumbotron %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-9 col-xl-8">
      <form class="mb-3" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label class="font-weight-bold" for="id_status">Status</label>

          <select id="id_status" name="status" class="form-control">
            {% for value, label in form.fields.status.choices %}
            <option
              value="{{ value }}"
              {% if form.status.value.lower == value %}selected{% endif %}
            >
              {{ label }}
            </option>
            {% endfor %}
          </select>

          {% for error in form.status.errors %}
          <p class="text-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="form-group">
          {% include "components/form_textarea.html" with field=form.status_comment label="Status comment" name="status_comment" %}
        </div>

        <button class="btn btn-primary" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
