{% extends "base.html" %}

{% load humanize %}

{% block metatitle %}Edit {{ project.title }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=project.name url=project.get_absolute_url location="Project" %}
    {% breadcrumb title="Edit" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  <section class="grid md:grid-cols-3">
    <h1 class="md:col-span-3 text-3xl break-words md:text-4xl font-bold text-slate-900">
      Settings
    </h1>

    <form method="POST" class="md:col-span-2 mt-6">
      {% csrf_token %}

      {% #card title="Edit "|add:project.name class="w-full" container_class="flex flex-col gap-y-4 items-start" container=True %}
        {% form_select class="min-w-[50%]" field=form.status choices=form.fields.status.choices selected=form.status.value %}
        {% form_textarea class="w-full max-w-[65ch]" custom_field errors=form.status_description.errors hint_text="You can format the status description text using Markdown" id="id_status_description" label="Status description" name="status_description" resize rows="12" value=form.status_description.value  %}
        {% #button class="mt-2" type="submit" variant="primary" %}
          Submit
        {% /button %}
      {% /card %}
    </form>
  </section>
{% endblock %}
