{% extends "base.html" %}

{% block metatitle %}{{ user.name }} | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% url "home" as home_url %}

  {% #breadcrumbs %}
    {% breadcrumb title="Home" url=home_url %}
    {% breadcrumb title=user.name active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
  {% #article_header title=user.name class="mb-6" %}
    <div class="flex flex-row flex-wrap gap-2">
      {% url "user-event-log" username=user.username as user_event_log_url %}
      {% #button href=user_event_log_url type="link" variant="primary" %}
        View logs
        {% icon_queue_list_outline class="h-4 w-4 ml-2 -mr-2" %}
      {% /button %}
      {% if user_can_view_staff_area %}
        {% #button href=user.get_staff_url type="link" variant="danger" class="flex-shrink-0" %}
          View in Staff Area
          {% icon_lifebuoy_outline class="h-4 w-4 ml-2 -mr-2" %}
        {% /button %}
      {% endif %}
    </div>
  {% /article_header %}

  {% if projects %}
    {% #card title="Projects" %}
      {% #list_group %}
        {% for project in projects %}
          {% #list_group_item href=project.get_absolute_url %}
            <div class="flex items-center justify-between">
              <p class="truncate text-base font-semibold text-oxford-600">
                {{ project.name }}
              </p>
              <div class="ml-2 flex flex-shrink-0">
                {% if project.status == "retired" %}
                  {% pill sr_only="Status:" variant="warning" text=project.get_status_display %}
                {% elif project.status == "ongoing" %}
                  {% pill sr_only="Status:" variant="primary" text=project.get_status_display %}
                {% elif project.status == "ongoing-and-linked" %}
                  {% pill sr_only="Status:" variant="primary" text=project.get_status_display %}
                {% elif project.status == "postponed" %}
                  {% pill sr_only="Status:" variant="danger" text=project.get_status_display %}
                {% elif project.status == "completed-and-linked" %}
                  {% pill sr_only="Status:" variant="success" text=project.get_status_display %}
                {% elif project.status == "completed-and-awaiting" %}
                  {% pill sr_only="Status:" variant="success" text=project.get_status_display %}
                {% endif %}
              </div>
            </div>
          {% /list_group_item %}
        {% endfor %}
      {% /list_group %}
    {% /card %}
  {% else %}
    {% #card %}
      {% #list_group %}
        {% list_group_empty icon=True title="No projects" description="This user has been attached to any projects yet" %}
      {% /list_group %}
    {% /card %}
  {% endif %}
{% endblock %}
