{% extends "staff/base-tw.html" %}

{% load django_vite %}
{% load querystring_tools %}
{% load selected_filter %}

{% block metatitle %}Workspaces: Staff Area | OpenSAFELY Jobs{% endblock metatitle %}

{% block breadcrumbs %}
  {% #breadcrumbs %}
    {% url "staff:index" as staff_url %}
    {% breadcrumb title="Staff area" url=staff_url %}
    {% breadcrumb title="Workspaces" active=True %}
  {% /breadcrumbs %}
{% endblock breadcrumbs %}

{% block hero %}
  {% staff_hero title="Workspaces" %}
{% endblock hero %}

{% block content %}
  {% url "staff:workspace-list" as staff_workspace_list_url %}
  <div class="grid lg:grid-cols-3 gap-8">
    <form class="flex flex-col gap-y-6">
      <div class="flex flex-row gap-2">
        {% #button variant="success" type="submit" %}
          Apply filters
        {% /button %}
        {% if request.GET %}
          {% #button variant="secondary-outline" type="link" href=staff_user_list_url %}
            Clear filters
          {% /button %}
        {% endif %}
      </div>

      {% #card title="Filter by x" container=True %}
        {% #multiselect custom_field=True name="x" placeholder="Select an x" %}
        {% /multiselect %}
      {% /card %}
    </form>

    <div class="flex flex-col gap-y-6 lg:col-span-2">
      {% #card container=True title="Search for a workspace" %}
        <form method="GET" class="flex flex-row gap-x-2 items-center">
          {% if request.GET.q %}
            {% var value=request.GET.q|stringformat:"s" %}
          {% endif %}
          {% form_input custom_field=True type="search" id="workspaceSearch" name="q" value=value label="Search for a workspace" label_class="sr-only" class="w-full" input_class="!m-0" placeholder="Search by workspace name" show_placeholder=True %}
          {% #button type="submit" variant="primary" class="flex-shrink-0" %}Search{% /button %}
        </form>
        {% if request.GET.q %}
          <p class="mt-3">
            {% link href=staff_workspace_list_url text="Clear search" %}
          </p>
        {% endif %}
      {% /card %}

      {% #card title="Workspaces" %}
        {% #list_group small=True %}
          {% for workspace in object_list %}
            {% #list_group_item type="Workspace" href=workspace.get_staff_url %}
              {{ workspace.name }}
            {% /list_group_item %}
          {% empty %}
            {% list_group_empty icon=True title="No workspaces found" description="Try a new search" %}
          {% endfor %}
        {% /list_group %}

        {% if page_obj.has_previous or page_obj.has_next %}
          {% if page_obj.has_next %}
            {% url_with_querystring page=page_obj.next_page_number as next_page_url %}
          {% endif %}
          {% if page_obj.has_previous %}
            {% url_with_querystring page=page_obj.previous_page_number as previous_page_url %}
          {% endif %}
          {% card_pagination page_number=page_obj.number total_pages=page_obj.paginator.num_pages next_page_url=next_page_url previous_page_url=previous_page_url no_container=True %}
        {% endif %}
      {% /card %}
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  {% vite_asset "templates/_components/multiselect/multiselect.js" %}
{% endblock extra_js %}
